/* @group pagelayout fsu.com */

div#calendar h2 {
	border-bottom: none;
}

body {
  background: #540115 url(../images/page_bg.png) repeat-x center top;
}

.header {
  height: 195px;
  background: white url(../images/official_news_header.png) no-repeat center bottom;
  width: 1000px;
}

.header img {
  margin: 20px 40px;
  float: left;
}

div.quickLinksContainer {
  display: none;
}

.bofCentered, .bof {
  width: 1000px;
}

.bof {
  border: none;
  background: #ffffff url(../images/nav_bg.png) repeat-y scroll left top;
}

div.bofMiddleColumn {
  margin-left: 225px;
  width: auto;
}

div.bofMiddleColumn p, div.bofMiddleColumn li {
  color: #4a4a4a;
  line-height: 2em;
  margin-bottom: 2em;
}

.bofLeftColumn {
  width: 225px;
}

div#mainbox div.no_page_notes {
  width: 740px !important;
}

div#mainbox div.no_back {
  background: none;
}

div#mainbox div#toolbar {
  margin: 5px 5px 5px 230px;
  width: 760px;
}

.class_ajax_calendar div#mainbox div#toolbar {
	margin: 5px auto;
}

div#thread {
  clear: both;
  height: 33px;
  width: 1144px;
  position: relative;
  margin: 0px auto;
  padding: 0px;
  overflow: hidden;
}

marquee {
  margin: 0px 72px;
  background: black;
}

p#threadtext {
  overflow: hidden;
  text-transform: uppercase;
  font-family: 'Times New Roman';
  font-size: 10px;
  white-space: nowrap;
  letter-spacing: 2px;
  word-spacing: 3px;
  color: #bdb082;
  padding: 12px 0px;
  line-height: 1em;
  margin-left: -1000px;
}

div#thread_left {
  background: url(../images/thread_fade.png) no-repeat left top;
  height: 33px;
  width: 144px;
  left: 0px;
  position: absolute;
}

div#thread_right {
  background: url(../images/thread_fade.png) no-repeat right top;
  height: 33px;
  width: 144px;
  right: 0px;
  position: absolute;
  top: 0px;
}

div.footer {
	background-color: transparent;
	border-width: 0;
	color: #c0c0c0;
	height: auto;
	width: 1000px;
	text-align: center;
	padding: 0 0 11px;
}

div.footer div#footerLogos {
	background: url(../images/footer_bg.png) repeat-x center top #e4deac;
	padding: 20px 0;
}

div.footer div#footerLogos img {margin: 0 10px; vertical-align: middle;}

div.footer div#footerLogos img.main-image {
	display: none;
}

div.footer div.footerText {
	background: transparent url(../images/black-footer.png) no-repeat center top;
	float: none;
	font-size: 1em;
	font-weight: bold;
	margin-top: 0;
	padding: 10px 20px 0;
	width: auto;
}

div.content-view-full div.class-image {
  text-align: left;
}

div.content-view-full div.class-image div.attribute-image {
  padding: 3px 3px 0;
}

div.content-view-full div.class-image div.attribute-image img {
   border:1px solid #CCCC66 !important;
}

div.content-view-full div.plain_images div.content-view-embed div.class-image div.attribute-image img {
   border: 0px !important;
}


div.content-view-full div.class-image div.attribute-caption p {
	padding: 0;
	line-height: 1.4em;
}

div.content-view-full div.class-article div.object-left div.attribute-caption p {
	margin-bottom: 0;
}

#maincontent_design div.attribute-caption p {
  	line-height: 1.4em;
}

.content-view-embed .class-image {
	font-size: inherit;
}

div.addthis {
  float: right;
}

/* @end */

.class_ajax_calendar div.bofLeftColumn, .node_3170 div.bofLeftColumn {
  display: none;
}

/* @group Text Styles */

div#mainbox a {
  color: #540115;
}

div.attribute-header h1, div.content-view-full div.class-article div.attribute-header h1  {
  font-size: 300%;
  padding: 15px 0px;
  background: none;
  color: #540115;
  margin: 0px 0px 10px 0px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

div.content-view-full h2 {
  font-family: 'Arial', sans-serif;
  margin: 10px 0px 3px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 150%;

}

p#path {
  font-family: 'Times New Roman', serif;
  font-size: 110%;
  margin-bottom: .5em;
}

ul#l_nav li span.divider {
  font-family: 'Arial', sans-serif;
  margin: 10px 0px 3px 10px;
  display:  block;
  font-weight: bold;
  font-size: 125%;
  cursor: text;
}

ul#l_nav li {
  margin-left:  5px;
}

.bofLeftColumn ul#l_nav a, .bofLeftColumn ul#l_nav a:link, .bofLeftColumn ul#l_nav a:visited, div#navlogo, #l_nav .noLink {
  border-bottom: 1px solid #eee;
  padding: 4px 0px;
  margin-left: 15px;
  width: 190px;
  font-size: 100%;
  font-weight: normal;
  font-family: 'Times New Roman', serif;
}

#l_nav .noLink {
  color: black;
  font-style: italic;
}

div.content-view-full div.class-article div.attribute-byline {
  background: none;
  padding-bottom: 10px;
}

div.content-view-full div.class-article div.attribute-byline p {
  color: #aaaaaa;
}

/* @end */

.class_ajax_calendar div.bofMiddleColumn {
  width: 100%;
  margin-left: 0px;
}


.class_ajax_calendar div.bofMiddleColumn div.no_page_notes {
  width: 755px!important;
}

form.headerSearchForm {
	border: solid 1px #aaaaaa;
	padding: 8px 10px;
	width: 368px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

form.headerSearchForm div {
	padding: 15px 0;
}

form.headerSearchForm input#headerSearch {
	padding: 4px;
	vertical-align: middle;
	width: 184px;
}

form.headerSearchForm input.headerSubmitSearch {
	display: inline;
	float: none;
	position: static;
	vertical-align: middle;
	width: auto;
}

form.headerSearchForm ul.search-domains {
	float: right;
	margin: 0;
}

form.headerSearchForm ul.search-domains li {
	list-style-type: none;
}

form.headerSearchForm ul.search-domains label {
	display: inline;
	padding-left: 0.5em;
}

div.promo_rotator {
	border: solid 1px #aaaaaa;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-top: 1em;
}

div.columns-blog {
  padding: 0px;
}

.class-blog div.main-column-position {
  width: 540px;
}

.class-blog div.extrainfo-column-position {
  width: 190px;
  float: left;
}

.gallery {
	margin-left: -15px;
	height: 155px;
	width: 760px;
}

.gallery .prev-arrow, .gallery .next-arrow{
	margin: 50px 0 0 0;
	float: left;
	display: inline;
	width:  50px;
	height: 50px;
	text-indent: -9999px;
	background: url(../images/arrows/lg-left-arrow.png) no-repeat;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.gallery .next-arrow{
	margin-left: -25px;
	background:url(../images/arrows/lg-right-arrow.png) no-repeat;
}

.gallery div{
	float: left;
	display: inline;
	width: 707px;
	height: 155px;
	margin-left: -22px;
	overflow: hidden;
	position: relative;
}
.gallery div ul{
	margin: 13px 0 0;
	padding: 0;
	list-style: none;
	width: 9999px;
	height: 128px;
	position: absolute;
	top: 0;
	left: 0;
}

.gallery div ul li{
	float: left;
	display: inline;
	height: 128px;
	padding: 0 3px;
	margin: 0;
}

.gallery div ul li a{
	display:block;
	width:273px;
	height:98px;
	position:relative;
	cursor:pointer;
	border:1px #5c1f5c solid;
}

.gallery div ul li a span{
	position:absolute;
	left:7px;
	top:8px;
	width:130px;
	overflow:hidden;
}

.gallery div ul li a strong{
	display:block;
	font:bold 18px/20px Helvetica, sans-serif;
	color:#7a3d7a;
}

.gallery div ul li a em{
	margin-top:5px;
	display:block;
	font:11px/12px Helvetica, sans-serif;
	color:#7a7a7a;
}

.gallery div ul li a img{
	float:right;
}

.gallery div ul li a:hover{text-decoration:none;}

.gallery.promo-rotator div ul li a {
	border-width: 0;
	width: auto;
}

.gallery.promo-rotator div ul li a img {
	float: none;
}

div.page_feed {
	background: transparent url(../images/page-feed-bkgnd.png) repeat-x left top;
	border: solid 1px #aaaaaa;
/*	min-height: 811px;*/
	margin: 0;
	padding: 10px;
	width: 338px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

div.page_feed p, div#tab-News p {
  line-height: 1.5em;
  font-size: 90%;
}


div.page_feed h2 {
	border-width: 0;
	font-size: 1.5em;
	text-transform: uppercase;
}

div.page_feed hr {clear: both;
  border-style: none;
  border-color: #ffffff;
}

div.page_feed div.presented-by {
	float: right;
}

div.page_feed div.content-view-node-feed {
	clear: both;
	margin: 10px 0;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}


		/*	Videos	*/
div.content-view-node-feed div.class-video div.video-block {
	background: #000000 url(../images/video-bkgnd.png) repeat-x 0 0;
	margin-bottom: 8px;
	padding: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

div.object-center div.content-view-node-feed div.class-video div.video-block {
	margin: 8px auto;
	max-width: 320px;
}

div.class-article div.object-left div.class-video, div.class-article div.object-right div.class-video {
  width: 340px;
}

div.object-center div.video-details, div.object-left div.video-details, div.object-right div.video-details {
  font-style: italic;
  color: #666;
} 

div.video-block .video-object {
	background: #000000 url(../images/video-bkgnd.png) repeat-x 0 0;
	margin: 10px auto;
	padding: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	text-align: center;
	width: 435px;
}

div.content-view-node-feed div.class-video div.attribute-image {
	margin-right: 8px;
}

div.content-view-node-feed div.class-video div.video-title {
	margin-top: .75em;
	margin-left: 158px;
}

/* tabbed video layout */

.content-view-inline-vid {
  width: 165px;
  padding: 5px;
  float: left;
  overflow: hidden;
}

.content-view-inline-vid .class-video {
	height: 160px;
	overflow: hidden;
}

.content-view-inline-vid .vid-caption {
  text-align: center;
  width: 155px;
}

.vids_by_node {
  padding-bottom: 120px !important;
  padding-bottom: 110px;
}

.vidbytab_box {
  clear: both;
  position: relative;
  width: 690px;
  top: 0px;
  left: 10px;

    }

.vidbytab_box .vid-caption a {
  font-size: 12px;
  color: #000;
  line-height: 1.2em;
}

.vidbytab_body {
  display: none;
  position: absolute;
  top: 36px;
  left: 0px;
  width: 668px;
  height: 280px;
  padding: 5px;
  background: white;
  border: 1px solid #aaa;
  overflow-y: scroll;
  overflow-x:auto;
}

.vidbytab_body .class-video img {
  margin: 0;
  padding: 0;
}

.vidbytab_body .class-video .vid-caption {
  font-size: 12px;
}

.vidbytab_box .selected .vidbytab_body {
  display: block;
}

.vidbytab_box h3 a {
  color: #336699;
  font-size: 10px;
  text-transform: uppercase;
}

#mainbox .vidbytab_box .selected h3 a {
  color: #ccc;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;

}

.vids_by_node a#vidsbynodeupload img {
  margin-top: 0;
}

.vidbytab_tab {
  float: left;
  margin-top: 1px;
  background: #fff;
  height: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 121px;
  text-align: center;
  display: block;
  color: #FFF;
  font-size: 14px;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.vidbytab_box .selected .vidbytab_tab {
	background:  transparent url(../images/Experts_tab1bg.gif) repeat-x scroll left bottom;
;
}
  
.vidbytab_box .selected .vidbytab_tab a {
    color: #666;
}

.clear {
  clear: both;
}

/* --------- expert ----------------- */
 
.top_heading_expert{
width:680px;
border-top:solid 1px #D6D6D6;
padding:5px 0 0 0;
font-family: "Arial Black", Arial, Helvetica, sans-serif;
font-size:16px;
color:#BA252B;
letter-spacing:3px;
float:left;
text-align:left;
margin-bottom:5px;
}
.ask_imgholder_top {
text-align:left;
width:740px;
margin-left:0;
margin-top:10px;
}
.ask_content_holder {
text-align:left; border-left:1px solid #cccccc; border-right:1px solid #cccccc;
padding:20px 10px 0px 10px; background:url(../images/expert_gredient.jpg) bottom repeat-x #FAF9F3;
}
.ask_imgholder_bottom {
text-align:left; width:740px; }
div.multitabvideo div.ask_imgholder_topsub {
text-align:left; width:703px; padding-left: 18px;}

.ask_imgholder_bottomsub {
text-align:left; width:703px; }

.ask_subcontent {
background:#FFFFFF;
 width:703px;
 background:url(../images/Ask_the_Experts_sub.gif) repeat-y top;
}

.ask_subcontent .video_thumb {
font-size:10px;
float:left;
color:#BA252B;
line-height:16px;
padding:10px 25px 20px 20px;
}
.ask_subcontent .video_thumb a { color:#BA252B; text-decoration:none; }
.ask_subcontent .video_thumb a:hover { color:#BA252B; text-decoration:underline; }
.videoholder {
float:left;
width:311px;
padding-top:20px;
margin-right:15px;
}
.ask_subcontent .video_thumb a div.video-caption {position: absolute;}
.videoholder_text {
font-size:15px;
font-weight:bold;
color:#4E4E4E;
line-height:16px;
text-align:left;
margin-top:10px;
margin-bottom:15px;
}
.videoholder_text_small {
font-size:10px;
color:#666666;
line-height:16px;
text-transform:uppercase;
font-weight:normal;
margin-top:10px;
}

#tabholder {
width:365px; float:left; margin-left:20px;
margin-top:20px;
}

.tab_bottom {
width:362px; height:12px; float:left; margin-left:15px;
}
#tabholder_content .content{
padding:8px;
}
#tabholder_content .content a{
display:block;
padding:4px;
line-height:16px;
}
#tabholder_content .content a:hover{
display:block;
padding:4px;
line-height:16px;
background:#B9CFE5;
color:#1F3E5D;
text-decoration:none;
}

#expertvideos h2 {
	border-width: 0;
}

div.multitabvideo div.ask_subcontent {
  height: 370px;
  padding-bottom: 10px;
}

div.multitabvideo div#expertvideos {
  padding: 1px 10px 10px;
  border-left: #ccc 1px solid;
  border-right: #ccc 1px solid;  
  background: white;
  width: 681px;
  height: 470px; 
  
}

div.multitabvideo .ask_content_holder {
  padding: 0px 10px 0px;
}

div.multitabvideo .ask_imgholder_top {
  margin-left: 0px;
}

div.multitabvideo div.experttab, div.multitabvideo .ask_content_holder .ask_imgholder_topsub {
  padding: 0px 0px 0px 7px;
}

div.videoadbox {
  margin-top: 10px;
  float: left;
}

div.multitabvideo-wide {
	width: 850px;
}

div.multitabvideo-wide div#expertvideos {
	width: 790px;
}

div.multitabvideo-wide div#expertvideos div.video-block {
	width: 480px;
}

div.multitabvideo-wide div.ask_subcontent {
	background-color: #ffffff;
	background-image: none;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	width: 810px;
	height: 420px;
}

div.multitabvideo-wide div#expertvideos .comments-block {
	float: left;
}

div.multitabvideo-wide div#expertvideos #flash_box {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

div.video-full #flash_box {
	width: 100%;
	margin: 0px auto;
	text-align: center;
}

div.multitabvideo-wide .vidbytab_body {
	height: 320px;
	width: 780px;
}


.node_3170 div#mainbox div#toolbar {
	margin: 5px auto;
}
.node_3170 .bofMiddleColumn {
	float: none;
	margin-left: 0;
}


		/*	================	*/

div.content-view-node-feed div.class-article div.attribute-image {
	border-width: 0;
	float: left;
	margin-right: 8px;
	text-align: center;
}

div.page_feed div.content-view-node-feed div.class-article div.attribute-image {
	margin-right: 0;
	width: 100px;
}

div.page_feed div.content-view-node-feed div.class-article div.attribute-short {
	margin-left: 100px;
}

div.content-view-node-feed div.class-article div.attribute-short p {
	display: inline;
	font-weight: normal;
}

div#mainbox a.more-link {
	color: #000000;
	float: right;
	font-weight: bold;
	text-transform: uppercase;
}

	/*	Featured Stories	*/

div.featured-stories {
	margin-bottom: 10px;
	overflow-x: hidden;
	width: 732px;
}

div.featured-stories div.tabset-header {
	margin-left: 10px;
}

div.featured-stories div.tabset-header img {
	vertical-align: middle;
}

div.featured-stories ul.tabset-navigation {
	float: right;
	margin: 0;
	position: relative;
	top: 6px;
}

div.featured-stories ul.tabset-navigation img {
	vertical-align: middle;
}

div.featured-stories ul.tabset-navigation li {
	float: left;
	line-height: 1.25em;
	list-style-type: none;
	margin: 0;
}

div.featured-stories ul.tabset-navigation li.tab-btn {
	background: transparent url(../images/tabset.png) no-repeat 0 2px;
	font-weight: bold;
	height: 24px;
	padding-top: 5px;
	text-align: center;
	width: 28px;
}

div.featured-stories ul.tabset-navigation li.tab-btn.control-btn {
	background: transparent url(../images/arrows/controls.png) no-repeat 0 0;
	height: 19px;
	width: 25px;
}

div.featured-stories ul.tabset-navigation li.tab-btn.control-btn.previous-btn {
	background-position: 0 0;
}

div.featured-stories ul.tabset-navigation li.tab-btn.control-btn.next-btn {
	background-position: -25px 0;
}

div.featured-stories ul.tabset-navigation li.tab-btn.control-btn.play-btn {
	background-position: 0 -25px;
}

div.featured-stories ul.tabset-navigation li.tab-btn.control-btn.pause-btn {
	background-position: -25px -25px;
}

div.featured-stories ul.tabset-navigation li.tab-btn.control-btn a span {
	display: none;
}

div.featured-stories ul.tabset-navigation li.tab-btn.active {
	background-position: -28px 2px;
}

div#mainbox div.featured-stories ul.tabset-navigation li.tab-btn a {
	color: #cdc092;
}

div#mainbox div.featured-stories ul.tabset-navigation li.tab-btn.active a {
	color: #540115;
}

div.featured-stories div.tabset-slides {
	border: solid 1px #aaaaaa;
	clear: both;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

div.bofMiddleColumn div.featured-stories div.tabset-slides li {margin: 0}
div.bofMiddleColumn div.featured-stories div.tabset-slides li p {margin-bottom: 0.5em;}
div.featured-stories div.tabset-slides div.attribute-image {margin-bottom: 0;}
div.featured-stories div.tabset-slides div.attribute-short {margin-left: 160px;}

div.featured-stories div.content-view-node-feed div.class-article div.attribute-short p {
	display: block;
/*	margin: 0 0 10px;*/
}

div.featured-stories #stories-tabset.single ul {margin: 0;}
div.featured-stories #stories-tabset.single li {list-style-type: none;}

div.featured-stories div.tabset-slides div.content-view-node-feed {
	margin: 10px;
}

	/*	========	*/

div.content-view-node-feed h2, div.featured-stories div.content-view-node-feed h3 {
	border-width: 0;
	font-size: 2em;
}

	/*	jQuery UI Tabs	*/
.ui-tabs {
	margin-bottom: 10px;
}

div.related_recent.ui-tabs {
	border-width: 0;
}

div.related_recent h3 {
  font-size: 12px;
  font-weight: normal;
}

div.related_recent div.datetime {
  font-size: 10px;
}

div.related_recent.ui-tabs .ui-tabs-nav {
	background-color: transparent;
	background-image: none;
	border-width: 0;
	padding-left: 32px;
}

div.related_recent.ui-tabs .ui-tabs-nav li {
	background: #938b6a url(../images/tab-bkgnd.png) repeat-x 0 0;
	padding-bottom: 1px;
	text-transform: uppercase;
}

div.related_recent.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	background: #3f0210 url(../images/tab-bkgnd-active.png) repeat-x 0 0;
}

div#mainbox div.related_recent.ui-tabs .ui-tabs-nav li a {
	font-weight: bold;
	color: #ffffff;
	padding: 0 10px;
}

div#mainbox div.related_recent.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: #cdc092;
}

div.related_recent.ui-tabs .ui-tabs-panel {
	background: transparent url(../images/related-gradient.png) repeat-x left bottom;
	border-top: solid 1px #aaaaaa;
}

.tune-in.ui-tabs {
	padding: 0;
}

.tune-in.ui-tabs h1 {
	color: #540115;
	float: left;
	margin-left: 30px;
	margin-top: 10px;
}

.tune-in.ui-tabs h1 span.cufon {
	z-index: 10;
}

.tune-in.ui-tabs .ui-tabs-nav {
	background-color: #d7d0b4;
	background-image: none;
	border-width: 0;
	padding-top: 6px;
	padding-right: 10px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.tune-in.ui-tabs .ui-tabs-nav li {
	background-color: transparent;
	background-image: none;
	border-width: 0;
	float: right;
}

.tune-in.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	background-color: #ffffff;
}

div#mainbox .tune-in.ui-tabs .ui-tabs-nav li a {
	color: #000000;
	font-size: 1.3em;
	font-weight: bold;
	padding: 4px 20px 6px;
}

div#mainbox .tune-in.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: #540115;
}

	/*	========	*/

#maincontent_design {
	margin-bottom: 0;
}

.class_ajax_calendar .bof, .node_3170 .bof {
	background-image: none;
}

/** Fix for - 4033: Text cut off on Videos pages	*/
div.extrainfo-column-position {
	float: none;
	margin: 0;
	width: auto;
}
/*	========	*/

div.content-view-full div.class-article div.object-left div.attribute-image {
	background-color: #f1f1d5;
	border: solid 1px #cccc66;
	float: none;
	padding: 3px 3px 0;
}

div.content-view-full div.class-article div.object-left.plain_images div.attribute-image {
  border: 0px;
  background: 0px;
}

div.content-view-full div.class-article div.attribute-image img {
	border: solid 1px #cccc66 !important;
}


html > body #l_nav {
	display: block;
	margin-bottom: 1em;
	width: auto;
}

div.class-infobox {
	border-bottom-color: #eeeeee;
	margin: 0 12px 1em;
	padding: 0;
	font-size: 11px;
}
.bofLeftColumn div.class-infobox a, .bofLeftColumn div.class-infobox a:visited, .bofLeftColumn div.class-infobox a:link {
  display: inline;
  border: none;
  font-weight: normal;
  padding: none;
  font-size: inherit;
  width: auto;
}
.bofLeftColumn div.class-infobox a:hover {
  background: none;
}

#mainbox .bofLeftColumn ol {
	left: 0px;
	position: relative;
	margin-left: 12px;
	font-size: 85%;
}

#mainbox .bofLeftColumn li:hover ol {
	left: 0px;
}

#mainbox .bofLeftColumn ol li a {
	background: transparent;
}

div.featured-stories div.class-article div.attribute-image img {
	border-width: 0 !important;
}

#mainbox #display_date_wrap, #mainbox #calendar table td.dateback {
	background: #330009;
}

div#mainbox #cal_prev_month a, div#mainbox #cal_next_month a {
	color: #fff;
}

#mainbox #cal_month_majors {
	background: #C5CD9C
}

#mainbox .class-infobox a {
	padding: 0px;
}


/* Video listing pages */

.vid-box-line {
  float: left;
  width: 40%;
  margin: 0 0 15px 0;
  padding: 0; }

.com-box-line {
text-align: left;
float: left;
width: 28%;
margin: 0;
padding: 0; }
	.com-box-line h3 {
	margin: 0;
	padding: 0;
	font-size: 14px; }
	.com-box-line p {
	padding: 0 0 10px 0;
	}

.stat-box-line {
	display: none;
	text-align: left;
	float: left;
	width: 25%;
	margin: 17px 0 0 1em;
	padding: 0 0 0 1em;
	border-left: 1px solid #ccc;
}
.stat-box-line p {
  font-size: 80%;
  margin: .25em 0;
}
.stat-box-line img {margin-bottom: -3px;}

.comments {
  width: 100%;
  clear: both;
padding: 5px 0 0 0;
}

.class-video {
margin: 0;
_margin: 15px 0; }

.class-video .video-block {

}

.class_video .video-details {
/*width: 580px;*/
position:relative;
float:left; 
text-align: left;
}

.class_video .video-details h1, .video-block .video-details h1 {
float: left;
margin: 10px 0px 0px 0px;
padding: 0 0 5px 0;
font-size: 20px;
color: #540115;
/*color: #1eb1f0;*/
}

.video-block .video-details h1 {
float: none;
text-align: left;
}
.class_video .video-details p {
float: left;
padding: 0;
margin: 0 0 10px 0;
_margin: 0 0 15px 0;
}

.tag_border {
  display: none;
}

.class_video .video-details #insidesharebutton {
position:relative;
/*top: -18px !important;
top: -18px;
left: -3px;*/
padding: 0;
}

.class_video .video-details .vote_form {
clear:both;
float: left;
width: 500px;
margin-top: 5px;
padding: 0;

}

.featurevideo .video-details .share {
	right: 190px;}

.class-feedback-form h4 {margin: 14px 0px 0px 0px;}

input.new_comment {
	margin-bottom: 1em; }

div.content-view-line {clear: both;}

div.content-view-line div.class-mp3-audio {
	margin-bottom: 10px;
}

div.content-view-full div.class-mp3-audio div.mp3-download {
	float: right;
	padding-right: 20px;
}

div.content-view-line div.class-mp3-audio div.attribute-short p  {
	margin: 0;
}

div.content-view-full div.class-audio_slideshow #top {
  display: none;
}
div.content-view-full div.class-audio_slideshow .content-media {
text-align: center;
}
div.content-view-full div.class-audio_slideshow .content-media .attribute-long {
text-align: left;
margin-top: 10px;
}
div.content-view-line div.class-mp3-audio div.mp3-download {
	float: none;
	text-align: right;
}

p.center, div.center {
	text-align: center;
}
body.mod_func_wizard iframe {
  width: 950px;
  height: 700px;
}
body.mod_func_wizard .bof {
  background: white;
}
body.mod_func_wizard .bofLeftColumn {
display: none;
}
body.mod_func_wizard #maincontent_design {
	margin-left: -225px;
}
body.mod_func_wizard table#stillframe_section td img {
  width: 160px !important;
}

.plain_images .content-view-embed .class-image {
	background-color: transparent;
	border-width: 0;
}

.mod_func_view div.date {
	-moz-border-radius:5px;
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #AAAAAA;
	color:black;
	width:33px;
}
