div.promo_rotator div.gallery {
	left: -15px;
	position: relative;
}

.tune-in.ui-tabs {
	background-color: #d7d0b4;
}

.tune-in.ui-tabs .ui-tabs-panel {
	background-color: #ffffff;
}

div.class-article div.object-right {
	clear: right;
/*	width: 160px;*/
}

div.class-article div.attribute-long {
	width: auto;
}