{* Video - Embed view *}

{node_view_gui content_node=$object.main_node view='node_feed' expanded=true() embed=true()}

{*
<div class='video-embed'>
	<div class='video-block'>

	{def $vid_data = $object.node.data_map.vid.content|video
     	$description = $vid_data['description']}
	<div class="video-object">
	<object width="320" height="255" id="embedded_player" type="application/x-shockwave-flash" data="http://video.thinkcreative.com/plugins/player.swf?v={$object.node.data_map.vid.content}">
	    <param name="movie" value="http://video.thinkcreative.com/plugins/player.swf?v={$object.node.data_map.vid.content}"/>
	    <param name="allowfullscreen" value="true"/>
		<param name="wmode" value="transparent">
	    <param name="allowscriptaccess" value="always"/>
	    <param name="base" value="http://video.thinkcreative.com"/>
	</object>
	</div>

		<div class='video-details'>
			<h1><span>Video: </span>{$object.name|wash}</h1>

			<div onclick='slide_toggle(this)' class='fauxlink share'><span></span></div>

			{if $description|trim|begins_with('<p>')|not}<p>{/if}{$description}{if $description|trim|begins_with('<p>')|not}</p>{/if}

		</div>
	</div>
</div>
*}
