/*  User Profiles - faculty and staff  */
div.class-user {
	margin-left: -2px;
	margin-right: 10px;
	margin-bottom: 10px;
	width:255px;
	height: 150px;
	background-color: #f8f8ea;
	padding: 10px; 
	float: left;
	font-size: .9em;	
	border:1px solid #CDC092;
	display:block;
	overflow:hidden;
	}
	
#maincontent_design div.class-user h2 { font-family:Arial, Helvetica, sans-serif; font-style:normal; font-weight:700; font-size:1.1em; border-bottom:1px solid #990000; padding-bottom:1px; }	
	
div.class-user div.attribute-image {
	margin-top:0;
	margin-bottom: 8px; 
	padding:1px;
	clear: none;
	overflow:hidden;
	font-size: 100%;
	font-weight: bold;
	border:1px solid #CCC;
	height:100px;
	width:70px;
	background-color: #FFF;
}

div.class-user div.attribute-image a { border-bottom:none; }


/* div.class-user #mainsummary .attribute-long {
	margin-bottom: 8px;
	width:88%;
	color: yellow;
	background-color: gray;
 	border: thin;   
	padding: 80px;
} 
*/
