.flashheadline {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 26px;
	color: #ffffff;
	display:block;
}

.flashsubtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	display:block;
}