.flashheadline {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
        display:block;
}

.flashsubtitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        color: #ffffff;
        display:block;
}
