<div class="factbox object-{if is_set($align)}{$align}{else}left{/if}">
<div class="border-box factbox-header">
<div class="border-tl"><div class="border-tr"><div class="border-tc"></div></div></div>
<div class="border-ml"><div class="border-mr"><div class="border-mc">
<div class="box-content">

    <h2>{if is_set($title)}{$title}{/if}&nbsp;</h2>

</div>
</div></div></div>
</div>
<div class="border-box factbox-content">
<div class="border-ml"><div class="border-mr"><div class="border-mc">
<div class="box-content">

{$content}

</div>
</div></div></div>
<div class="border-bl"><div class="border-br"><div class="border-bc"></div></div></div>
</div>
</div>