{def $children=array()
	  $kid_count = 0}
    {foreach $used_node.data_map.tags.content.keyword_string|explode(',') as $keyword}
    	{if ne($keyword,'')}{set $children=$children|merge(fetch( content, keyword, hash( 'alphabet', $keyword, classid, array(42,43), sort_by, array( 'published', false() ) ) ) )}{/if}
    {/foreach}

    {foreach $children as $this_kid}
       {if ne($this_kid["link_object"].object.id, $used_node.object.id)}
       {run-once}<h3>You Might Also Like...</h3>{/run-once}
	{node_view_gui view='inline_vid' content_node=$this_kid["link_object"]}
	{set kid_count=$kid_count|inc}
	{if eq($kid_count,3)}{break}{/if}
	{/if}
    {/foreach}
    <div class="attirbute-tag-cloud">
    <p>
    {eztagcloud( hash( 'class_identifier', array('video','videoembed'),
                                               'parent_node_id', $used_node.parent.node_id ) )}
    </p>
    </div>

                       
    