p.flashheadline {
  font-family: georgia, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: #ffffff;
  display: block;
}

p.flashsubtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  display: block;
}

body {
  text-align: left;
}

/* Quick Links */

.quickLinksPosition {
  width: 100%;
}

* html .quickLinks {
  height: 17px;
}

* html .quickLinksContainer {
  width: 100%;
  margin-top: -18px;
  top: 0;
}

.quickLinksContainer {
  width: 100%;
  font-size: 110%;
  position: absolute;
  //	position: relative;
  z-index: 10;
  height: 1px;
  top: 56px;
  //	top: -18px;
}

div.no_page_notes {
  width: 570px! important;
}

div.no_back {
  background-image: url(../images/noback.gif);
  background-color: white;
}

div.bofMiddleColumn, div.bofLeftColumn {
  margin-bottom: -10000px;
  padding-bottom: 10000px;
}

.bof {
  font-size: 120%;
  overflow: hidden;
}

form.headerSearchForm {
  width: 200px;
}

div.tofContainer {
  text-align: center;
}

.bofLeftColumn a img {
  margin-bottom: 18px;
  margin-top: 0px;
}

#mainbox .bofLeftColumn ol {
  background: #F8F8EA none repeat scroll 0%;
  left: -1000px;
  position: absolute;
  top: 0px;
  width: 195px;
}

#mainbox .bofLeftColumn li {
  background-image: none;
}

#l_nav li {
  float: left;
  margin: 0px;
  cursor: pointer;
  padding: 0px;
}

div#schoolname {
  float: left;
  padding-left: 75px;
  padding-top: 3px;
  font-size: 80%;
}

div.class-faculty #mainsummary, div.class-faculty #user-additionalinfo {
  float: right;
  background: white;
  margin: 0px 0px 10px 10px;
  border: 1px solid #CCCC66;
  width: 180px;
}

div.class-faculty #mainsummary {
  float: left;
}

div#maindetails {
  clear: both;
}

div#user-additionalinfo .MatrixSpecName {
  font-weight: bold;
}

div#user-additionalinfo .MatrixSpec {
  margin: 0px 0px 8px 8px;
}

div#user-additionalinfo h4 {
  background: #F1F1D4;
  padding: 3px;
  text-transform: uppercase;
  font-size: 90%;
}

div.class-faculty #user-image {
  float: left;
  margin: 0px 8px 8px 0px;
}

div.class-faculty div.attribute-title {
  margin-bottom: 8px;
  padding-bottom: 8px;
  clear: both;
  font-size: 120%;
  font-weight: bold;
}

div.class-faculty #mainsummary .attribute-long {
  margin-bottom: 8px;
}

div.object-left {
  margin-right: 15px;
}

div.object-right {
  margin-left: 15px;
  clear: none;
}

div.factbox {
  width: 35%;
  margin-bottom: 1em;
}

div.class-infobox div.attribute-content {
  color: #555;
}

input.headerSubmitSearch {
  display: block;
  float: left;
  width: 17px;
  top: 2px;
  position: relative;
}

.attribute-caption-sg {
  
}

.attribute-caption-sg p {
  margin: 4px 0 0 0;
  color: white;
  text-align: center;
}

div.tofcontainer {
  position: relative;
}

.mod_func_view div.date {
  color: #999;
  background: #F3D999;
  position: absolute;
  width: 35px;
  text-transform: uppercase;
  text-align: center;
  font-size: 70%;
  padding: 3px 0px;
  margin: 2px 7px 7px 0px;
}

.mod_func_view div.date-sub {
  float: left;
  width: 35px;
  text-transform: uppercase;
  text-align: center;
  font-size: 70%;
  padding: 3px 0px;
  margin: 2px 7px 7px 0px;
}

div#events .date span, .itemized_sub_items .date span {
  font-size: 180%;
  display: block;
}

.event {
  clear: left;
}

div#events .event, .itemized_sub_items .event {
  padding-top: 3px;
  margin-bottom: 3px;
}

div#events .same, .itemized_sub_items .same {
  border-top: 1px dashed #999;
}

div#events .event h4, div#events .event p, .itemized_sub_items .event h4, .itemized_sub_items .event p {
  margin: 0px;
  padding: 0px 3px 3px 44px;
}

#supergraphic_container {
  position: relative;
  width: 795px;
  margin: 0px auto;
  border-left: 1px solid #CC6;
  border-right: 1px solid #CC6;
  background: #000;
}

#supergraphic_container img {
  
}

div#ezagenda_calendar_right td.ezagenda_month_head h2 {
	margin-right: 5px;
	font-size: 1.6em;
	
}

fieldset div.date {
	width: auto;
	background: none;
	position: relative;
	margin: 0px;
	padding: 0px;
	text-align: left;
	text-transform: none;
	font-size: 100%;
}

div#ezagenda_calendar_right td.ezagenda_month_info p  {
	margin-bottom: 1em;
}

td.ezagenda_month_info {
	padding-top: .5em;
}
div#ezagenda_calendar_left, div#ezagenda_calendar_container, div#ezagenda_calendar_today  {
	width: 190px;
}
div#ezagenda_calendar_right {
	margin-left: 190px;
}

.ezagenda_date {
  font-weight: bold;
  border-bottom: 1px solid #bbb;
  margin-bottom: 10px;
  display: block;
}

.object-right {
  margin-left: 10px;
}

.object-left {
  margin-right: 10px;
}

.hidden {
  display: none
}

.class-event-calendar ul {
  margin: 0;
  list-style: none;
  font-size: 90%;
}

.content-view-embed ul {
  margin-top: -20px;
}

.content-view-line .default {
  clear: both;
}

.quickLinksHover li.thickborder a {
  border-bottom: 3px solid black;
}

.attribute-bottom-column {
  width: 100%;
}

ol {
  width: 100%;
}

.bofLeftColumn ul {
  padding-bottom: 18px;
  overflow: hidden;
  width: 100%;
}

.bofLeftColumn ul li li .noLink {
  color: #000;
  font-size: 0.7em;
  font-weight: 500;
  padding: 4px 15px 4px 30px;
  width: 150px;
}

.bofLeftColumn ul li li ol a, .bofLeftColumn ul li li ol a:link, .bofLeftColumn ul li li ol a:visited, .bofLeftColumn ul li li ol .noLink {
  padding-left: 40px;
  color: #000;
  font-weight: 400;
  font-size: .5em;
  width: 140px;
}

.bofLeftColumn .noLink {
  background: #e7e7b8;
}

html>body div#ezagenda_calendar_right img {
  overflow: hidden;
  width: 100%;
}

#maincontent_design {
  margin-bottom: 20px;
}

.links_title {
  display: block;
  text-align: right;
  font-size: 90%;
  padding-right: 5px;
}

.quickLinksHover {
  padding-top: 0px;
}

.quickLinksHover .links_title {
  font-size: 130%;
  color: white;
  height: 20px;
}

.right-column .box-content, .right-column .itemized_sub_items .bl {
  padding-right: 0;
}

.event p {
  font-size: 90%;
}

div.itemized_sub_items h2 {
  top: -46px;
}

div.itemized_sub_items {
  margin-top: 36px;
}

.bofLeftColumn ul {
  min-height: 300px;
}

.bofLeftColumn {
  margin-left: -100%;
}

#full_width_float {
  float: left;
  width: 100%;
}

.bofMiddleColumn {
  margin-left: 195px;
  float: none;
}



div#debug {
  width: 800px;
  margin: 30px auto;
  background: white;
  clear: both;
}

div#debug table {
  width: 100%;
}
div#debug table td, div#debug table th {
  padding: 4px;
  border-right: #ddd 1px solid;
  border-bottom: #eee 1px solid;
}


/* Toolbar */

div#ezwt-ezlogo {
  display: none;
}

div#toolbar {
  width: 800px;
  margin: 5px auto;
}

.faculty_section ul li {
  list-style-type: none;
  background-image: none;
}

/* CLASS - blog */

div.class-blog
{
    width: auto; /* This can be changed to any fixed width if desired */
    margin: 0 auto 0 auto; /* General method for centering content if fixed page width, for other browsers than IE */
    text-align: left; /* Reset IE method for centering page, to stop all other content on the page from centering */
}

div.columns-blog
{
    padding: 0 17em 0 0;

}

div.columns-blog p {
      line-height: 1.5em;
}

div.main-column-position
{
    width: 100%;
    float: left;
}

div.noextrainfo div.main-column
{
    margin-right: 0;
}

div.extrainfo-column-position
{
    width: 17em;
    margin-right: -17em;
    float: left;
}

div.columns-blog div.main-column
{
    margin: 0 1.25em 0 0; /* Space between main and other columns */
}
div.class-blog div.attribute-byline {
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #ddd;
}

div.class-blog div.attribute-byline p.tags
{
    margin-right: 0.2em;
    display: inline;
    font-size: 0.9em;
}

div.class-blog div.attribute-byline p.author
{
    margin-right: 0.2em;
    display: inline;
    font-size: 0.9em;
}

div.class-blog div.attribute-byline p.date
{
    margin: 0 0.2em 0 0;
    display: inline;
    color: #CCCCCC;
    font-size: 0.9em;
}

div.content-view-line div.class-blog-post div.attribute-header a
{
    text-decoration: none;
    color: #000000;
}

div.content-view-line div.class-blog-post div.attribute-header a:hover
{
    color: #000000;
}

/* BLOG - CALENDAR*/

div.calendar
{
   width: 187px;
   background-color: #f4f4f4;
}

div.calendar div.calendar-tl
{
    background: url(../images/calendar-corner-tl.gif) no-repeat top left;
}

div.calendar div.calendar-tr
{
    background: url(../images/calendar-corner-tr.gif) no-repeat top right;
}

div.calendar div.calendar-bl
{
    background: url(../images/calendar-corner-bl.gif) no-repeat bottom left;
}

div.calendar div.calendar-br
{
    background: url(../images/calendar-corner-br.gif) no-repeat bottom right;
    padding: 6px;
}

div.calendar div.content
{
    background-color: #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
}

div.calendar div.month h2
{
    font-size: 1em;
    font-weight: bold;
    color: #525345;
    margin: 0 0 0.25em 0;
    padding-top: 3px;
    text-align: center;
}

div.calendar div.month a
{
    color: #525345;
    text-decoration: none;
}

div.calendar div.previous, div.calendar div.next
{
    font-weight: bold;
    margin: 0 4px 0 4px;
    padding-top: 0.1em;
    display: inline; /* Fix for IE */
}

div.calendar div.previous
{
    float: left;
}

div.calendar div.next
{
    float: right;
}

div.calendar div.previous p, div.calendar div.next p
{
    display: inline;
}

div.calendar div.table
{
    padding: 4px;
}

div.calendar table
{
    width: 100%;
}

div.calendar th, div.calendar td
{
    color: #525345;
    width: 14%;
    padding: 0.25em 0 0.25em 0;
    border: 1px solid;
    border-color: #ffffff #e0e0e0 #e0e0e0 #ffffff;
    text-align: center;
}

div.calendar th
{
    font-size: 0.8em;
    font-weight: normal;
}

div.calendar td
{
    font-size: 0.9em;
    font-weight: normal;
}

div.calendar th.left, div.calendar td.left
{
    border-left: none;
}

div.calendar th.right, div.calendar td.right
{
    border-right: none;
}

div.calendar tr.top th
{
    border-top: none;
}

div.calendar tr.bottom td
{
    border-bottom: none;
}

div.calendar td a
{
    text-decoration: none;
}

div.calendar td.today
{
    font-weight: bold;
    color: #d02020;
}

div.calendar td.currentselected
{
    background-color: #e0e0e0;
}

div.calendar td em
{
    font-style: normal;
}

/* INFOBOX */

div.class-infobox 
{
	text-align: left;
	font-size: 100%;
	padding: 0 12px 1em;
	margin: 0 0 1em 0;
	border-bottom: 1px solid #CC6;
	background: none;
}

div.class-infobox .attribute-image
{
	margin-top: 0.5em;

}

div.class-infobox h2 
{
	margin: 0;
	color: #525345; 
	font-weight: bold; 
	font-size: 1.5em; 
	padding: 0em 0em .7em ;
}

div.class-infobox .attribute-content
{
	text-align: left;
	background: none;
	margin: 0;
	padding: 0.5em;
}

div.class-infobox .attribute-content .controls
{
	padding-top: 0.5em;
	text-align: right;
	border-top: 1px dotted #EAE8E1;
}

hr.break {visibility: hidden;}

div.quote
{
/*	background-image: url(../images/quote-br.gif); */
	background-position: bottom right;
	background-repeat: no-repeat;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.quote-design
{
/*	background-image: url(../images/quote-tl.gif);  */
	background-position: top left;
	background-repeat: no-repeat;
	padding-top: 0px;
	font-size: 1.2em;
	font-weight: bold;
	font-style: italic;
}

div.quote p {
	padding: 0px 30px;
}

.attribute-long {
	width: 100%;
}

.content-view-embed .class-image {
	background: #F1F1D5;
	border: 1px solid #CCCC66;
	font-size: 10px;
}

#mainbox ol {
	margin-left: 0px;
}

#mainbox ol li {
	margin-left: 2.5em;
}

#mainbox #l_nav ol li {
	margin-left: 0px;
}

#sitemap tr {
	vertical-align: top;
}

.ezagenda_month_info .attribute-short {
	overflow-x: hidden;
}
#profileRow {
	width: 663px;
	height: 70px;
	margin-bottom: 10px;
}
#profileCellLeft {
	width: 325px;
	margin: 0px auto;
	height: 67px;
	background-color: #F8F8EA;
	border: 1px solid #CCCC66;
	float: left;
	clear: none;
}
#profileCellRight {
	width: 325px;
	margin: 0px auto;
	height: 67px;
	background-color: #F8F8EA;
	border: 1px solid #CCCC66;
	float: right;
	clear: none;
}
#profileText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 6px 10px 0px 0px;
	margin: 0px;
}
#profilePhoto {
	width: 110px;
	clear: right;
	float: left;
	margin-right: 0px;
}
.georgia10ptItalic {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	font-style: italic;
	color: #000000;
}
.profileName {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
	font-weight: bold;
	line-height: 20px;
}
