/* PAGELAYOUT CSS - 20060522 */

/* FULL PAGE */

html, body, div
{
	margin: 0;
	padding: 0;	
}

body
{
	background-image: url(../images/body_bg.png);
	background-repeat: repeat-x;
    text-align: center; /* IE method for centering page if it has fixed width */
}

div#page
{
    width: 760px; /* This can be changed to any fixed width if desired */
    margin: 0 auto 0 auto; /* General method for centering content if fixed page width, for other browsers than IE */
    text-align: left; /* Reset IE method for centering page, to stop all other content on the page from centering */
}

/* HEADER */

div#header
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	background: url(../images/bg_1px.png) left repeat;
	padding-bottom: 0.75em;
}

div#header ul
{
    margin: 0;
    padding: 0.25em 0 0.25em 0;
}

div#header ul li
{
	list-style-type: none;
	list-style-image: none;
    padding: 0;
    display: inline;
    margin-left: 1em;
	margin-right: 1em;
}

div#logo
{
    float: left;
	margin: 1em 0 0 1.5em;
}

div#usermenu
{
	background-image: url(../images/header_bg.png);
	background-position: top left;
	background-repeat: repeat-x;
	height: 25px;
}

div#languages
{
	background-image: url(../images/header_bg_left.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	float: left;
	clear: left;
	width: 29%;
	height: 25px;
	font-size: 0.85em;
}

div#links
{
	background-image: url(../images/header_bg_right.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	float: right;
	clear: right;
	text-align: right;
	padding-right: 0;
	font-size: 0.9em;
	font-weight: bold;
	height: 25px;
	width: 70%;
}

div#links a
{
	color: #515346;
	border-left: 1px solid #CECEC2;
	display: block;
	float: right;
	padding-left: 1em;
	padding-right: 1em;
	height: 18px;
}

div#searchbox
{
    width: 20em; /* Needs to be sufficient width to fit both text input and submit button to avoid Konqueror breaking the line between them */
    margin-top: 1.75em;
	margin-right: 1em;
    text-align: right;
    float: right;
}

input#searchtext
{
	border: 1px solid #A5ACB2;
	font-size: 0.85em;
    width: 12em;
}

input#searchbutton
{
	margin-top: -0.1em;
}

/* TOP MENU */

div#topmenu
{
	margin: 0;
	padding: 0;
}

div#topmenu ul
{
    margin: 0;
    padding: 0;
	background-image: url(../images/topmenu_bg.png);
	background-repeat: repeat-x;
	height: 33px;
}

div#topmenu li
{
	background-image: url(../images/topmenu_bg.png);
	background-repeat: repeat-x;
	height: 33px;
	margin: 0;
	float: left;
	padding: 0;
	font-size: 0.85em;
	font-weight: bold;
	list-style-type: none;
	list-style-image: none;
}

div#topmenu li.selected
{
	background-image: url(../images/topmenu_bg_selected.png);

}

div#topmenu li a
{
	text-decoration: none;
	color: #4F5241;
	border-right: 1px solid #C3C4B6;
	display: block;
	float: left;
	margin: 0;
	padding: 15px;
	margin-top: 4px;
	padding-top: 2px;
	padding-bottom: 0;
	height: 22px;
	line-height: 22px;
	background-color: transparent;
}

div#topmenu li a:hover
{
    border-bottom: 3px solid #ABAB9E;
}

div#topmenu div.topmenu-design
{
	background-color: #FFF;
	padding: 0 0.25em 0 0.2em;
}

/* PATH */

div#path
{
	padding: 0.5em 0.5em 0.5em 2em;
	font-size: 0.85em;
}

div#path p
{
    margin: 0;
}

/* COLUMNS */

div#columns
{

}

/* SIDE MENU */

div#sidemenu-position
{
    width: 14em;
    float: left;
    /*display: inline;  Fix for IE double margin bug */
}

div.nosidemenu div#sidemenu-position
{
    display: none;
}

div#sidemenu ul
{
	list-style-type: none;
    margin: 1em 0 1em 0;  
}

div#sidemenu ul li
{
    margin: 0.5em 0 0.5em 0;
	list-style-type: none;
	list-style-image: none;
}

div#sidemenu div.box div.box-content
{
	padding-left: 0.75em;
	padding-right: 0;
}

div#sidemenu h4
{
	margin: 0;
}

div#sidemenu ul.menu-list a.selected
{
	font-weight: bold;
}

div#sidemenu ul.submenu-list
{
	list-style-type: none;
	margin-left: 1em;
}

div#sidemenu ul.submenu-list a.selected
{
	font-weight: bold;
}

div#sidemenu ul li a
{
    background-image: url(../images/sidemenu_bullet.png);
    background-position: 0.2em 0.5em;
    background-repeat: no-repeat;
    padding-left: 18px;
    display: block;
	font-size: 0.85em;
}

/* MAIN AREA */

div#main-position
{
    margin: 0em 12.25em 0em 14.25em;
}

div#main
{

}

div.nosidemenu div#main-position
{
    margin-left: 0;
}

div.noextrainfo div#main-position
{
    margin-right: 0;
}

/* EXTRA CONTENT */

div#extrainfo-position
{
    width: 12em;
    float: right;
}

div.noextrainfo div#extrainfo-position
{
    display: none;
}

div#extrainfo
{

}

/* FOOTER */

div#footer
{
    clear: both; /* Ensures that the footer is pushed properly below the columns */
    text-align: center;
	padding-top: 1.25em;
	background-image: url(../images/footer_bg.png);
	background-position: top center;
	background-repeat: no-repeat;
	font-size: 0.85em;
	margin-top: 0.6em;
	margin-bottom: 0.25em;
}

div#footer address
{
	font-style:normal;
}