{default attribute_base=ContentObjectAttribute}



{switch name=mediaType match=$attribute.contentclass_attribute.data_text1}
	{case match=mp3}
		<div class="block">
			<input type="hidden" name="MAX_FILE_SIZE" value="{$attribute.contentclass_attribute.data_int1}000000" />
			<label>{"Filename"|i18n("design/standard/content/datatype")}</label><div class="labelbreak"></div>
			<input class="box" name="{$attribute_base}_data_mediafilename_{$attribute.id}" type="file" />
		</div>
		
{*
			<div class="block">
				<div class="element">
					<label>{"Width"|i18n("design/standard/content/datatype")}</label><div class="labelbreak"></div>
					<input type="text" name="{$attribute_base}_data_media_width_{$attribute.id}" size="5" value="{$attribute.content.width}" />
				</div>
				<div class="element">
					<label>{"Height"|i18n("design/standard/content/datatype")}</label><div class="labelbreak"></div>
					<input type="text" name="{$attribute_base}_data_media_height_{$attribute.id}" size="5" value="{$attribute.content.height}" />
				</div>
			
			
				<div class="element">
				<input type="checkbox" name="{$attribute_base}_data_media_is_autoplay_{$attribute.id}" value="{$attribute.content.is_autoplay}" {section show=$attribute.content.is_autoplay}checked{/section} />&nbsp;<label class="check">{"Autoplay"|i18n("design/standard/content/datatype")}</label><div class="labelbreak"></div>
				<input type="checkbox" name="{$attribute_base}_data_media_is_loop_{$attribute.id}" value="{$attribute.content.is_loop}" {section show=$attribute.content.is_loop}checked{/section} />&nbsp;<label class="check">{"Loop"|i18n("design/standard/content/datatype")}</label><div class="labelbreak"></div>
				</div>
				<div class="break"></div>
			</div>
*}
	
	{/case}
	
	{case match=real_player}
		<div class="block">
			<input type="hidden" name="MAX_FILE_SIZE" value="{$attribute.contentclass_attribute.data_int1}000000" />
			<label>{"Filename"|i18n("design/standard/content/datatype")}</label><div class="labelbreak"></div>
			<input class="box" name="{$attribute_base}_data_mediafilename_{$attribute.id}" type="file" />
		</div>
		
{*
		<div class="block">
			<div class="element">
				<label>{"Width"|i18n("design/standard/content/datatype")}</label><div class="labelbreak"></div>
				<input type="text" name="{$attribute_base}_data_media_width_{$attribute.id}" size="5" value="{$attribute.content.width}" />		
			</div>

			<div class="element">
				<label>{"Height"|i18n("design/standard/content/datatype")}</label><div class="labelbreak"></div>
				<input type="text" name="{$attribute_base}_data_media_height_{$attribute.id}" size="5" value="{$attribute.content.height}" />				
			</div>

			<div class="element">
				<input type="checkbox" name="{$attribute_base}_data_media_is_autoplay_{$attribute.id}" value="{$attribute.content.is_autoplay}" {section show=$attribute.content.is_autoplay}checked{/section} />&nbsp;<label class="check">{"Autoplay"|i18n("design/standard/content/datatype")}</label><div class="labelbreak"></div>
				
				<input type="checkbox" name="{$attribute_base}_data_media_has_controller_{$attribute.id}" value="{$attribute.content.has_controller}" {section show=$attribute.content.has_controller}checked{/section} />&nbsp;<label class="check">{"Controller"|i18n("design/standard/content/datatype")}</label><div class="labelbreak"></div>
				
				<input type="checkbox" name="{$attribute_base}_data_media_is_loop_{$attribute.id}" value="{$attribute.content.is_loop}" {section show=$attribute.content.is_loop}checked{/section} />&nbsp;<label class="check">{"Loop"|i18n("design/standard/content/datatype")}</label><div class="labelbreak"></div>
			</div>
			<div class="break"></div>
		</div>
*}
		
	{/case}
	
{/switch}

{section show=or($attribute.has_content,$attribute.content.filename)}
	<div class="block">
		<div class="element">
			<label>{"Existing filename"|i18n("design/standard/content/datatype")}</label><div class="labelbreak"></div>
			<p class="box">{$attribute.content.filename}</p>
		</div>
		<div class="element">
			<label>{"Existing original filename"|i18n("design/standard/content/datatype")}</label><div class="labelbreak"></div>
			<p class="box">{$attribute.content.original_filename}</p>
		</div>
		<div class="element">
			<label>{"Existing mime/type"|i18n("design/standard/content/datatype")}</label><div class="labelbreak"></div>
			<p class="box">{$attribute.content.mime_type}</p>
		</div>
		<div class="break"></div>
		</div>
		<div class="buttonblock">
		<input class="button" type="submit" name="CustomActionButton[{$attribute.id}_delete_media]" value="{'Remove'|i18n('design/standard/content/datatype')}" />
	</div>
{/section}
{/default}