<div class="box">
<div class="tl"><div class="tr"><div class="br"><div class="bl"><div class="box-content float-break">

<div class="content-view-embed">

	{node_view_gui view=line content_node=$object.main_node}

</div>

</div></div></div></div></div>
</div>