/* Tooltip cjw_contexthelp */

div.tooltip {
    position: absolute;
    font-size: 1em;
    padding: 0.5em;
    background-color: #FFFFFF;
    border: 1px solid black;
    display: none;
    z-index: 20;
    /*only ie*/
    width: 400px !important;
    
}

.tooltiplink {

}

div#class_help {
  padding: 4px 8px;
  border: 1px solid #d7cb1e;
  background: #fffbbc;
 
  }
  
div.content-edit div.attribute-language {
  display: none;
}

div.content-edit div.attribute-header h1.long {
  padding-bottom: 0px;
}

div.content-edit label {
  font-weight: bold;
  font-size: 125%;
  margin-top: 1em;
}

div.content-edit div.buttonblock input.button, div.content-edit div.buttonblock input.defaultbutton{
  font-size: 125%;
  padding: 3px;
  
}