<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
                      
    <script language="javascript" type="text/javascript" src="/design/film_school/javascript/swfobject.js"></script>

</head>
<body>

     <div id="supergraphic_container">

		<div id="flashcontent">
			<a class="tofMore" href="/indexTOFStory.html?lead.craftsman">&nbsp;</a>
			<div class="accessibleText">
			<a class="accessibleText" href="/indexTOFStory.html?lead.craftsman">Click Here To Get The Full Story</a>
			</div>
		</div>
			

     </div><!-- <div id="supergraphic_container"> --> 

<script type="text/javascript">
          var so = new SWFObject("/FSU_News.swf", "", "795", "245", "7", "#000");
	   so.addVariable("dataLoc","/layout/set/xml/media/images/supergraphics/homepage_flash&speed=8000");
	   so.addParam("quality", "high");
	   so.addParam("wmode", "transparent");
          so.write("flashcontent");
</script>

</body>
</html>
          