/* section reset left nav styling */

div.bofLeftColumn h4, div#col_wrapper div.bofLeftColumn h4 a {
	font-size: 70%;
	padding: 5px 5px 5px 15px;
	margin: 0px;
	border-bottom: 1px solid #cccc66;
	font-weight: 100;
	text-transform:uppercase;
}

div#col_wrapper div.bofLeftColumn h4 a {
	border-bottom: none;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
}

div.bofLeftColumn div.returntoparent a {
	font-size: 70%;
	border-bottom: none;
	display: block;
	clear: both;
	text-align: right;
	font-weight:100;
}

p.flashheadline {
	font-family: georgia, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bolder;
	color: #000;
	display:block;
}

p.flashsubtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	display:block;
}

body {
	text-align: left;
}

/* Quick Links */

.quickLinksPosition {
	width: 100%;
}

* html .quickLinks {
	height: 17px;
}

* html .quickLinksContainer {
	width:100%;
	margin-top:-18px;
	top: 0;
	}

.quickLinksContainer {
	width:100%;
	font-size: 110%;
	position:absolute;
//	position:relative;
	z-index:10;
	height:1px;
	top:56px;
//	top:-18px;
	}

div.no_page_notes {
	width: 570px! important;
}

div.bofMiddleColumn, div.bofLeftColumn {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.bof {
	font-size: 120%;
	overflow: hidden;
}


form.headerSearchForm {
	width:200px;
	}

div.tofContainer {
	text-align: center;
}


.bofLeftColumn a img {
	margin-bottom: 18px;
	margin-top: 0px;

}

div#schoolname {
	float: left;
	padding-left: 75px;
	padding-top: 3px;
	font-size: 80%;
}

div.class-faculty #mainsummary, div.class-faculty #user-additionalinfo {
	float: right;
	background: white;
	margin: 0px 0px 10px 10px;
	border: 1px solid #CCCC66;
	width: 180px;
}

div.class-faculty #mainsummary {
	float: left;
}
div#maindetails {
	clear: both;
}

div#user-additionalinfo .MatrixSpecName {
	font-weight: bold;
}
div#user-additionalinfo .MatrixSpec {
	margin: 0px 0px 8px 8px;
	
}

div#user-additionalinfo h4 {
	background: #F1F1D4;
	padding: 3px;
	text-transform: uppercase;
	font-size: 90%;
}


div.class-faculty #user-image {
	float: left;
	margin: 0px 8px 8px 0px;
}
div.class-faculty div.attribute-title {
	margin-bottom: 8px;
	padding-bottom: 8px;
	clear: both;
	font-size: 120%;
	font-weight: bold;
}

div.class-faculty #mainsummary .attribute-long {
	margin-bottom: 8px;
}

.attribute-long li {
	margin-left:-10px;
}	

.object-left {padding-right: 10px;}

.object-right {padding-left: 10px;}

div.factbox {
	width: 80%;
	margin-bottom: 1em;
}

div.class-infobox div.attribute-content {
	color: #555;
}

input.headerSubmitSearch {
	display: block;
	float: left;
	width: 17px;
	top: 2px;
	position: relative;
}

.attribute-caption-sg {
}

.attribute-caption-sg p {
	margin: 4px 0 0 0;
	color: white;
	text-align: center;
}

div.tofcontainer {
	position: relative;
}

div.date
{
	color: #999;
	background: #F3D999;
	position: absolute;
	width: 35px;
	text-transform: uppercase;
	text-align: center;
	font-size: 70%;
	padding: 3px 0px;
	margin: 2px 7px 7px 0px;
}

div.date-sub {
	float: left;
	width: 35px;
	text-transform: uppercase;
	text-align: center;
	font-size: 70%;
	padding: 3px 0px;
	margin: 2px 7px 7px 0px;
}


div#events .date span, .itemized_sub_items .date span
{
	font-size: 180%;
	display: block;
}

.event { clear: left; }


div#events .event, .itemized_sub_items .event {
	padding-top: 3px;
	margin-bottom: 3px;
}

div#events .same, .itemized_sub_items .same {
	border-top: 1px dashed #999;
}


div#events .event h4, div#events .event p, .itemized_sub_items .event h4, .itemized_sub_items .event p{
	margin: 0px ;
	padding: 0px 3px 3px 44px;
}

#supergraphic_container {
	position: relative;
	width: 795px;
	margin: 0px auto;
	border-left:1px solid #CC6;
	border-right:1px solid #CC6;
	background: #000;
}

#supergraphic_container img {

}



.ezagenda_date {
	font-weight: bold;
	border-bottom: 1px solid #bbb;
	margin-bottom: 10px;
	display: block;
}

.object-right {
	margin-left: 10px;
}

.object-left {
	margin-right: 10px;
}

.hidden {display: none}

.class-event-calendar ul {
	margin: 0;
	list-style: none;	
	font-size: 90%;
}

.content-view-embed ul {
	margin-top: -20px;
}

.content-view-line .default {
	clear: both;
}


.quickLinksHover li.thickborder a {
	border-bottom: 3px solid black;
}

.attribute-bottom-column {
	width: 100%;
}

ol {
	width: 100%;
}

.bofLeftColumn ul {
	padding-bottom: 18px;
	overflow: hidden;
	width: 100%;
}

.bofLeftColumn ul li li .noLink {
        color: #000;
        font-size: 0.7em;
        font-weight: 500;
        padding: 4px 15px 4px 30px;
        width: 150px;
}

.bofLeftColumn ul li li ol a, .bofLeftColumn ul li li ol a:link, .bofLeftColumn ul li li ol a:visited, .bofLeftColumn ul li li ol .noLink {
	padding-left:40px;
	color:#000;
	font-weight:400;
	font-size:.5em;
	width:140px;
	}

.bofLeftColumn .noLink {
	background:#e7e7b8;
}

html>body div#ezagenda_calendar_right img {
	overflow: hidden;
	width: 100%;
}


#maincontent_design {
	margin-bottom: 20px;
}

.links_title {
	display: block;
	text-align: right;
	font-size: 90%;
	padding-right: 5px;
}

.quickLinksHover {
	padding-top: 0px;
}

.quickLinksHover .links_title {
	font-size: 130%;
	color: white;
	height: 20px;
}

.right-column .box-content, .right-column .itemized_sub_items .bl {
	padding-right: 0;
}

.event p {
	font-size: 90%;
}

div.itemized_sub_items h2 {
	top: -46px;
}

div.itemized_sub_items {
	margin-top: 36px;
}

.bofLeftColumn ul {
	min-height: 300px;
}

.bofLeftColumn {
	margin-left: -100%;
}

#full_width_float {
	float: left;
	width: 100%;	
       margin-bottom: 0px;
       padding-bottom: 0px;
}

.bofMiddleColumn {
	margin-left: 195px;
	float: none;
}

#debug {
	clear: both;
}


/* TABLES */

table.cols
{
    width: 100%;
    margin: 1em 0 1em 0;
	border: none;
}

table.cols th, table.cols td
{
    padding: 0.5em;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    vertical-align: top;
}

table.cols th
{
    font-weight: bold;
    color: #525345;
    background-color: #DFDFDF;
    white-space: nowrap;
    text-align: left;
	background-image: url(../images/th_bg.png);
	background-repeat: repeat-x;
	background-position: top left;
}

table.cols td
{
    font-weight: normal;
}

table.cols th:first-child, table.cols td:first-child
{
    border-left: 1px solid #ffffff;
}

table.cols col.bglight, div.bglight
{
    background-color: #F1F1ED;
}

table.cols col.bgdark, div.bgdark
{
    background-color: #EAE9E1;
}

table.cols tr.bglight:hover, table.cols tr.bgdark:hover
{
    background-color: #EAE9E1;
}

table.cols tr.bglight:hover td, table.cols tr.bgdark:hover td
{
	background-color: #F1F1ED;
}

table.cols a
{
    border-bottom-color: #EAE9E1;
}

table.renderedtable
{
    width: 100%;
    margin: 1em 0 1em 0;
	border: none;
}

table.renderedtable th, table.renderedtable td
{
    padding: 0.5em;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    vertical-align: top;
}

table.renderedtable th
{
    font-weight: bold;
    color: #525345;
    background-color: #DFDFDF;
    white-space: nowrap;
    text-align: left;
	background-image: url(../images/th_bg.png);
	background-repeat: repeat-x;
	background-position: top left;
}

table.renderedtable td
{
    font-weight: normal;
}

table.renderedtable th:first-child, table.renderedtable td:first-child
{
    border-left: 1px solid #ffffff;
}

table.renderedtable tr.bglight, div.bglight
{
    background-color: #F1F1ED;
}

table.renderedtable tr.bgdark, div.bgdark
{
    background-color: #EAE9E1;
}

table.renderedtable tr.bglight:hover, table.renderedtable tr.bgdark:hover
{
    background-color: #EAE9E1;
}

table.renderedtable tr.bglight:hover td, table.renderedtable tr.bgdark:hover td
{
	background-color: #F1F1ED;
}

table.renderedtable a
{
    border-bottom-color: #EAE9E1;
}

table.comparison
{
    width: 100%;
    margin: 1em 0 1em 0;
	border: none;
}

table.comparison th, table.comparison td
{
    padding: 0.5em;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    vertical-align: top;
}

table.comparison th
{
    font-weight: bold;
    color: #525345;
    background-color: #DFDFDF;
    white-space: nowrap;
    text-align: left;
	background-image: url(../images/th_bg.png);
	background-repeat: repeat-x;
	background-position: top left;
}

table.comparison td
{
    font-weight: normal;
}

table.comparison th:first-child, table.comparison td:first-child
{
    border-left: 1px solid #ffffff;
}

table.comparison col.bglight, div.bglight
{
    background-color: #F1F1ED;
}

table.comparison col.bgdark, div.bgdark
{
    font-weight: bold;
    color: #525345;
    background-color: #DFDFDF;
    white-space: nowrap;
    text-align: left;
}

table.comparison tr.bglight:hover, table.comparison tr.bgdark:hover
{
    background-color: #F1F1ED;
}

table.comparison tr.bglight:hover td, table.comparison tr.bgdark:hover td
{
	background-color: #EAE9E1;
}

table.comparison a
{
    border-bottom-color: #EAE9E1;
}
/*END TABLES*/