.controls{
	background-image:url(../images/controls.png);
	bottom: 4px;
	position:absolute;
}

.controls .btn{
	background-image:url(../images/controls.png);
	background-repeat:no-repeat;
	bottom:0px;
	cursor:pointer;
	display:block;
	height:20px;
	position:absolute;
	text-indent:-9999em;
	width:30px;
}

.default{
	background-color:#dedede;
	background-position:0 -4px;
	height:20px;
	width:500px;
}

.default .play, .default .pause{
	background-position:0 -46px;
	left:6%;
}

.default .play:hover{
	background-position:0 -66px;
}

.default .pause{
	background-position:0 -86px;
}

.default .pause:hover{
	background-position:0 -107px;
}

.default .stop{
	background-position:0 -307px;
}

.default .stop:hover{
	background-position:0 -326px;
}

.default .volume-up{
	background-position:0 -206px;
	left:88%;
}

.default .volume-up:hover{
	background-position:0 -226px;
}

.default .volume-down{
	background-position:0 -246px;
	left:82%;
}

.default .volume-down:hover{
	background-position:0 -266px;
}

.default .mute, .default .unmute{
	background-position:0 -126px;
	left:94%;
}

.default .mute:hover{
	background-position:0 -146px;
}

.default .unmute{
	background-position:0 -166px;
}

.default .unmute:hover{
	background-position:0 -186px;
}

.default .track{
	cursor:pointer;
	height:10px;
	left:14%;
	padding-top:5px;
	position:absolute;
	width:50%;
}

.default .playhead{
	background:url(../images/controls.png) no-repeat -6px -289px;
	cursor:pointer;
	height:15px;
	position:absolute;
	top:4px;
	width:15px;
}

.default .progress, .default .buffer{
	background:url(../images/controls.png) repeat-x 0 -26px;
	height:3px;
	padding-top:7px;
	position:absolute;
}

.default .buffer{
	background-image:none;
	background-color:black;
	filter:alpha(opacity=20);
	opacity:0.2;
}

.default .time{
	color:#5b5b5b;
	font-family:futura,"Lucida Grande","bitstream vera sans","trebuchet ms",verdana,arial;
	font-size:11px;
	left:62%;
	padding:3px 0 2px;
	position:absolute;
	text-align:center;
	width:100px;
}

.default .time strong{
	color:#212121;
	font-weight:normal;
}

.player {
	margin-left: auto;
	margin-right: auto;
}

.player a img {
	border: none;
}
