{if is_set($module_result.node_id)}
<hr />
<a id="child-menu-copy-here" href="javascript:void(0)" onmouseover="ezpopmenu_mouseOver( 'SubitemsContextMenu' )" onclick="ezjaxxCopyHere({"/jaxx/copyobject/"|ezurl('single')}, {$module_result.node_id});">{"Copy here"|i18n("design/admin/popupmenu")}</a>
{/if}