/* CONTENT CSS - 20060522 */

/* This stylesheet should contain all styles for content class templates */

/* Translation */

div#main div.block div.original
{
    background-color: #ecece4;
    margin: 0.5em 0 0.5em 0;
    padding: 0.2em;
    border: 1px dashed #bfbeb6;
}

/* BOX GENERAL DESIGN */

div.box
{
    border: 1px solid #eae8e1;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

div.box div.box-content
{
	padding: 0.25em 0.5em 0.25em 0.5em;
}

div.box, div.box div.tl, div.box div.tr, div.box div.br, div.box div.bl
{
    position: relative;
}

div.box div.tl
{
    top: -1px;
    left: -1px;
    background: url(../images/corner_tl.png) top left no-repeat;
}

div.box div.tr
{
    right: -2px;
    background: url(../images/corner_tr.png) top right no-repeat;
}

div.box div.br
{
    bottom: -2px;
    background: url(../images/corner_br.png) bottom right no-repeat;
}

div.box div.bl
{
    left: -2px;
    background: url(../images/corner_bl.png) bottom left no-repeat;
    padding: 0.5em;
}

/* TABLES */

table.cols
{
    width: 100%;
    margin: 1em 0 1em 0;
	border: none;
}

table.cols th, table.cols td
{
    padding: 0.5em;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    vertical-align: top;
}

table.cols th
{
    font-weight: bold;
    color: #525345;
    background-color: #DFDFDF;
    white-space: nowrap;
    text-align: left;
	background-image: url(../images/th_bg.png);
	background-repeat: repeat-x;
	background-position: top left;
}

table.cols td
{
    font-weight: normal;
}

table.cols th:first-child, table.cols td:first-child
{
    border-left: 1px solid #ffffff;
}

table.cols col.bglight, div.bglight
{
    background-color: #F1F1ED;
}

table.cols col.bgdark, div.bgdark
{
    background-color: #EAE9E1;
}

table.cols tr.bglight:hover, table.cols tr.bgdark:hover
{
    background-color: #EAE9E1;
}

table.cols tr.bglight:hover td, table.cols tr.bgdark:hover td
{
	background-color: #F1F1ED;
}

table.cols a
{
    border-bottom-color: #EAE9E1;
}

table.renderedtable
{
    width: 100%;
    margin: 1em 0 1em 0;
	border: none;
}

table.renderedtable th, table.renderedtable td
{
    padding: 0.5em;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    vertical-align: top;
}

table.renderedtable th
{
    font-weight: bold;
    color: #525345;
    background-color: #DFDFDF;
    white-space: nowrap;
    text-align: left;
	background-image: url(../images/th_bg.png);
	background-repeat: repeat-x;
	background-position: top left;
}

table.renderedtable td
{
    font-weight: normal;
}

table.renderedtable th:first-child, table.renderedtable td:first-child
{
    border-left: 1px solid #ffffff;
}

table.renderedtable tr.bglight, div.bglight
{
    background-color: #F1F1ED;
}

table.renderedtable tr.bgdark, div.bgdark
{
    background-color: #EAE9E1;
}

table.renderedtable tr.bglight:hover, table.renderedtable tr.bgdark:hover
{
    background-color: #EAE9E1;
}

table.renderedtable tr.bglight:hover td, table.renderedtable tr.bgdark:hover td
{
	background-color: #F1F1ED;
}

table.renderedtable a
{
    border-bottom-color: #EAE9E1;
}

table.comparison
{
    width: 100%;
    margin: 1em 0 1em 0;
	border: none;
}

table.comparison th, table.comparison td
{
    padding: 0.5em;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    vertical-align: top;
}

table.comparison th
{
    font-weight: bold;
    color: #525345;
    background-color: #DFDFDF;
    white-space: nowrap;
    text-align: left;
	background-image: url(../images/th_bg.png);
	background-repeat: repeat-x;
	background-position: top left;
}

table.comparison td
{
    font-weight: normal;
}

table.comparison th:first-child, table.comparison td:first-child
{
    border-left: 1px solid #ffffff;
}

table.comparison col.bglight, div.bglight
{
    background-color: #F1F1ED;
}

table.comparison col.bgdark, div.bgdark
{
    font-weight: bold;
    color: #525345;
    background-color: #DFDFDF;
    white-space: nowrap;
    text-align: left;
}

table.comparison tr.bglight:hover, table.comparison tr.bgdark:hover
{
    background-color: #F1F1ED;
}

table.comparison tr.bglight:hover td, table.comparison tr.bgdark:hover td
{
	background-color: #EAE9E1;
}

table.comparison a
{
    border-bottom-color: #EAE9E1;
}

/* AUTHOR AND DATE FOR ALL FULL OBJECTS */

div.content-view-full div.attribute-byline p.author
{ 
    margin-right: 0.2em;
    display: inline;
	font-size: 0.9em;
}

div.content-view-full div.attribute-byline p.date
{ 
    margin: 0 0.2em 0 0.2em;
    display: inline;
	color: #CCCCCC;
	font-size: 0.9em;
}

div.content-view-full div.attribute-byline p.placement
{ 
    margin-left: 0.2em;
    display: inline;
}

div.content-view-full div.attribute-byline p.count
{ 
    margin-left: 0.2em;
    display: inline;
}

/* AUTHOR AND DATE FOR ALL CHILD OBJECTS */

div.content-view-full div.content-view-line div.attribute-byline p
{ 
    display: inline;
}

/* NAVIGATORS */

div.content-navigator
{
    display: block;
}

div.content-navigator div
{
    display: inline;
    text-align: center;
}

div.content-navigator div.content-navigator-separator, div.content-navigator div.content-navigator-separator-disabled
{
    padding-left: 4px;
    padding-right: 4px;
}

div.content-navigator div.content-navigator-arrow
{
    font-size: 150%;
}

/* PAGE NAVIGATION */

div.pagenavigator
{
    text-align: center;
    clear: both;
}

div.pagenavigator span.previous
{
    float: left;
}

div.pagenavigator span.next
{
    float: right;
}

/* UL */

div#main ul
{
    list-style-type: none;
}

div#main ul li
{
    margin: 0 0 0.5em 0.25em;
    padding: 0 0 0 14px;
    background-image: url(../images/bullet_list.png);
    background-repeat: no-repeat;
    background-position: 0 0.3em;
    line-height: 1.25em;
	list-style-type: none;
}

/* ATTIRBUTE HEADER */

div.attribute-header h1
{
	font-size: 1.8em;
	font-weight: normal;
	background-image: url(../images/attribute_header_bg_medium.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 30px;
	color: #000000;
	margin-bottom: -0.25em;
}

div.attribute-header h1.long
{
	font-size: 1.8em;
	font-weight: normal;
	background-image: url(../images/attribute_header_bg_long.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 30px;
	color: #000000;
}

/* IMAGE */

div.object-center div.content-view-embed div.class-image
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* BROWSE */

div.context-toolbar div.block div.right
{
	text-align: right;
}

/* SITEMAP */

div.content-view-sitemap table td 
{
	vertical-align: top;
}

/* FORUM */

input.forum-new-reply
{
	margin: 0.75em 0.25em 0.25em 0;
}

input.forum-new-topic
{
	margin: 0.75em 0.25em 0.25em 0;
}

input.forum-keep-me-updated
{
	margin: 0.75em 0.25em 0.25em 0;
}

div.content-view-full div.class-forum-topic table.forum p.date
{
	font-weight: bold;
}

div.content-view-full div.class-forum-topic table.forum p.author-signature
{
	border-top: 1px solid #fff;
	padding-top: 5px;
}

div.content-view-line div.class-forum table.forum
{
	background-image:url(../images/forum_table_bg.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	padding-bottom: 5px;
}

div.content-view-line div.class-forum table.forum td ul
{
	margin-left: 1.25em;
	padding: 0;
}

div.content-view-line div.class-forum table.forum td ul li
{
	margin: 0;
	padding: 0;
}

div.content-view-line div.class-forum table.forum td ul li a
{
	font-size: 0.7em;
	font-weight: normal;
}

div.content-view-line div.class-forum table.forum th
{
	background-image: url(../images/forum_th_bg.png);
	background-position: top left;
	background-repeat: repeat-x;
	background-color: #E0E0D4;
}

div.content-view-line div.class-forum table.forum td
{
	background-color: #F2F1ED;
}

div.content-view-full div.class-forums table.forum
{
	background-image:url(../images/forum_table_bg.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	padding-bottom: 5px;
}

div.content-view-full div.class-forums table.forum td ul
{
	margin-left: 1.25em;
	padding: 0;
}

div.content-view-full div.class-forums table.forum td ul li
{
	margin: 0;
	padding: 0;
}

div.content-view-full div.class-forums table.forum td ul li a
{
	font-size: 0.7em;
	font-weight: normal;
}

div.content-view-full div.class-forums table.forum th
{
	background-image: url(../images/forum_th_bg.png);
	background-position: top left;
	background-repeat: repeat-x;
	background-color: #E0E0D4;
}

div.content-view-full div.class-forums table.forum td.last-reply a
{
	background-image:url(../images/last_reply.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
}

div.content-view-full div.class-forums table.forum td.forum a
{
	background-image:url(../images/forum.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
}

div.content-view-full div.class-forums table.forum td.forum div.attribute-short
{
	margin-left: 20px;
}

div.content-view-full div.class-forums table.forum td.last-reply p.date
{
	margin-left: 20px;
}

div.content-view-full div.class-forums table.forum td
{
	background-color: #F2F1ED;
}


/* ARTICLE */

div.content-view-full div.class-article div.attribute-header h1
{
	background: none;
	padding-bottom: 0;
	margin-bottom: 0.25em;
}

div.content-view-full div.class-article div.attribute-byline
{
	background-image: url(../images/attribute_header_bg_medium.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 30px;
	margin-bottom: -0.25em;
	display: block;
}

div.content-view-full div.class-article div.attribute-image
{
	float: right;
}

div.content-view-line div.class-article div.attribute-image
{
	float: left;
}

div.content-view-horizontallylistedsubitems div.class-article
{
	text-align: left;
}

div.content-view-horizontallylistedsubitems div.class-article div.attribute-image
{
	float: left;
}

div.content-view-full div.class-article div.attribute-short
{
	font-weight: bold;
}

div.content-view-line div.class-article div.attribute-short
{
	font-weight: normal;
}

div.content-view-embed div.class-article div.attribute-short
{
	font-weight: normal;
}

div.content-view-full div.class-article div.attribute-long
{
	background-image: url(../images/attribute_header_bg_medium.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 56px;
}

div.content-view-embed div.class-image div.attribute-image
{
	float: none;
}

/* DOCUMENTATION PAGE */

div.content-view-full div.class-documentation-page div.attribute-byline
{
	clear: both;
	font-size: 0.85em;
	font-weight: bold;
	background-image: url(../images/attribute_header_bg_medium.png);
	background-position: top center;
	background-repeat: no-repeat;
	padding-bottom: 4em;
	padding-top: 10px;
	margin-top: 2em;
}

div.content-view-full div.class-documentation-page div.attribute-byline p
{
	display: inline;
}

div.content-view-full div.class-documentation-page div.attribute-byline p.published
{
	text-align: left;
	float: left;
	width: 48%;
}

div.content-view-full div.class-documentation-page div.attribute-byline p.modified
{
	text-align: right;
	float: right;
	width: 48%;
}

/* LINK */

div.content-view-line div.class-link div.controls
{
	margin-bottom: 0.75em;
}

/* EDIT - MULTIOPTION */

div.block table.special
{
	border-bottom: 1px solid #EAE8E1;
	margin-bottom: 0.5em;
}

div.block table.special th.tight
{
	width: 3%;
	text-align: left;
}

div.block table.special th
{
	width: 94%;
	text-align: left;
}

/* FILE */

div.content-view-line div.class-file h2
{
	background-image: url(../images/attribute_header_bg_medium.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 25px;
	margin-bottom: -0.5em;
}

div.content-view-line div.class-file div.attribute-file
{
	background-color: #F1F2ED;
	padding: 0.1em 0 0.1em 0.5em;
}

div.content-view-line div.class-file
{
	margin-bottom: 2em;
}

/* COMMENT */

div.content-view-line div.class-comment h3
{
	margin-top: 0.5em;
}

div.content-view-line div.class-comment
{
	border: 1px solid #EAE8E1;
	padding: 0 0.5em 0.25em 0.5em;
	margin: 1em 0 1em 0;
}

div.content-view-line div.class-comment div.attribute-byline
{
	background: none;
	padding-bottom: 0;
	margin-bottom: 0;
	display: inline;
}

div.content-view-line div.class-comment p.author
{
	float: right;
	clear: right;
	width: 48%;
	display: block;
	text-align: right;
	margin-top: -0.1em;
	font-style: italic;
}

div.content-view-line div.class-comment p.date
{
	float: left;
	clear: left;
	width: 48%;
	display: block;
}

/* INFOBOX */

div.class-infobox 
{
	text-align: left;
	background: url(../images/infobox_br.png) no-repeat bottom right;
	font-size: 100%;
	padding: 0;
	margin: 0 0 0.5em 0;
}

div.class-infobox .attribute-header
{
	background: url(../images/infobox_tr.png) no-repeat top right;
	margin: 0;
	padding: 0;
	height: 31px;
}

div.class-infobox .attribute-image
{
	margin-top: 0.5em;
}

div.class-infobox .attribute-header h2 
{
	background: url(../images/infobox_tl.png) no-repeat top left;
	margin: 0;
	color: #525345; 
	font-weight: bold; 
	font-size: 1em; 
	padding: 0.4em;
}

div.class-infobox .attribute-content
{
	text-align: left;
	background: url(../images/infobox_bl.png) no-repeat bottom left;
	margin: 0;
	padding: 0.5em;
}

div.class-infobox .attribute-content .controls
{
	padding-top: 0.5em;
	text-align: right;
	border-top: 1px dotted #EAE8E1;
}

/* GALLERY */

div.content-view-line div.class-gallery
{
	clear: both;
}

div.content-view-full div.class-gallery div.attribute-link
{
	clear: both;
}

div.content-view-full div.class-gallery div.attribute-image
{
	float: right;
}

div.content-view-line div.class-gallery div.attribute-image
{
	float: left;
}

div.content-view-full div.class-gallery div.content-view-galleryline
{
	border: 1px solid #EFEEE9;
	margin: 0 1.25em 1em auto;
	padding: 5px;
	float: left;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image
{
	float: none;
	margin: 0;
	padding: 0;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image p
{
	margin: 0;
	padding: 0;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image img
{
	display: block;
	margin: 0;
	padding: 0;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image a
{
	margin: 0;
	padding: 0;
	display: inline;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-name
{
	border-top: 1px solid #EFEEE9;
	background-image: url(../images/img_caption_bg.png);
	background-position: left top;
	background-repeat: repeat-x;
	padding: 0;
	margin: 0;
	text-align: center;
	overflow: hidden;
}
div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-name p
{
    margin: 0;
	padding: 0.5em 0 0.4em 0;
}

div.content-view-full div.class-gallery div.content-view-children
{
	background-image: url(../images/attribute_header_bg_medium.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	margin:0;
	padding: 0 0 30px 0;
	float:left;
	width: 100%;
	clear: both;
} 

div.content-view-embed div.class-gallery div.content-view-children
{
	background: none;
}


/* IMAGE */

div.content-view-full div.class-image
{
    text-align: center;
}

div.content-view-full div.class-image div.attribute-header
{
    text-align: left;
}

div.content-view-full div.class-image div.attribute-image,
div.content-view-full div.class-image div.content-navigator,
div.content-view-full div.class-image div.attribute-caption
{
	float: none;
	margin: auto;
}

div.content-view-full div.class-image div.attribute-caption p
{
	padding: 4px;
	margin: 0px;
}	

/* FACTBOX */

div.factbox 
{
	margin: 0 auto;
	background: url(../images/fbox_br.png) no-repeat bottom right;
	background-color: #ECECE3;
}

div.factbox-header 
{
	background: url(../images/fbox_hr.png) no-repeat top right;
	margin: 0;
	padding: 0;
	background-color: #D5D5C2;
}

div.factbox h2 
{
	background: url(../images/fbox_hl.png) no-repeat top left;
	margin: 0;
	padding: 0.15em 0.5em 0.15em 0.5em;
	color: #525345;
	text-align: left;
}

div.factbox-content 
{
	background: url(../images/fbox_bl.png) no-repeat bottom left;
	margin: 0;
	padding: 0.15em 0.5em 0.15em 0.5em;
	text-align: left;
}

/* FRONTPAGE */

div.content-view-full div.class-frontpage
{
	background-color: #FFFFFF;
	padding: 0 0.5em 0 0.25em;
}

div.content-view-full div.class-frontpage div.attribute-billboard
{
	text-align: left;
	margin-top: 0em;
	padding-top: 0.25em;
	background-color: #FFFFFF;
}

div.content-view-full div.class-frontpage div.attribute-billboard img
{
	background-image: url(../images/billboard_bg.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 22px;
}

div.content-view-full div.class-frontpage div.columns-frontpage
{
    padding: 0 190px 0 190px;
}

div.content-view-full div.noleftcolumn div.columns-frontpage
{
    padding-left: 0;
}

div.content-view-full div.norightcolumn div.columns-frontpage
{
    padding-right: 0;
}

div.content-view-full div.class-frontpage div.columns-frontpage div.left-column-position
{
    width: 190px;
    margin-left: -190px;
    float: left;
    display: inline; /* Fix for IE double margin bug */
}

div.content-view-full div.noleftcolumn div.columns-frontpage div.left-column-position
{
    display: none;
}

div.content-view-full div.leftcolumn div.columns-frontpage div.left-column-position div.left-column
{
    margin-right: 1em;
}

div.content-view-full div.class-frontpage div.columns-frontpage div.right-column-position
{
    width: 190px;
    margin-right: -190px;
	float: left;
}

div.content-view-full div.norightcolumn div.columns-frontpage div.right-column-position
{
    display: none;
}

div.content-view-full div.rightcolumn div.columns-frontpage div.right-column-position div.right-column
{
    margin-left: 1em;
}

div.content-view-full div.class-frontpage div.columns-frontpage div.center-column-position
{
    width: 100%;
    float: left;
}

div.content-view-full div.noleftcolumn div.columns-frontpage div.center-column-position div.center-column
{
    margin-left: 0;
	padding-right: 0;
}

div.content-view-full div.norightcolumn div.columns-frontpage div.center-column-position div.center-column
{
    margin-right: 0;
	padding-left: 0;
}
div.content-view-full div.class-frontpage div.columns-frontpage div.center-column-position div.center-column
{
    margin: 0; /* Space between main and other columns */
}

div.content-view-full div.class-frontpage div.attribute-bottom-column
{
	clear: both
}

/* USER EDIT */

div.user-edit div.attribute-header h1
{
	font-size: 1.8em;
	font-weight: normal;
	background-image: url(../images/attribute_header_bg_long.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 30px;
	color: #000000;
	margin-bottom: -0.25em;
}

/* PRODUCT */

div.content-view-line div.class-product
{
	clear: both;
}

div.content-view-embed div.content-view-line div.class-product
{
	clear: none;
}

div.vertically_listed_sub_items div.content-view-embed div.content-view-line
{
	clear: both;
}

div.content-view-full div.class-product div.relatedorders
{
	background-image: url(../images/attribute_header_bg_medium.png);
	background-position: center top;
	background-repeat: no-repeat;
	margin-top: 20px;
	padding-top: 5px;
}

div.content-view-full div.class-product div.attribute-price
{
	font-size: 1.4em;
}

div.content-view-line div.class-product div.attribute-price
{
	font-size: 1.1em;
	font-weight: bold;
}

div.products div.content-view-embed div.class-product div.attribute-price 
{
	font-size: 1.1em;
	font-weight: normal;
}

div.horizontally_listed_sub_items div.content-view-embed div.class-product div.attribute-price 
{
	font-size: 1.1em;
	font-weight: normal;
}

div.content-view-embed div.class-product div.attribute-price 
{
	font-size: 1.1em;
	font-weight: bold;
}

div.content-view-embed div.class-product div.attribute-price span.old-price
{
	font-weight: normal;
	font-size: 0.9em;
}

div.content-view-embed div.class-product div.attribute-price span.new-price
{
	font-weight: bold;
	font-size: 1.1em;
}

div.content-view-embed div.class-product div.attribute-price span.discount-percent
{
	font-weight: normal;
}

div.content-view-line div.class-product div.attribute-price p.ex-vat
{
	display: none;
}

div.content-view-full div.class-product div.attribute-image
{
	float: right;
	margin-left: 10px;
}

div.vertically_listed_sub_items div.content-view-embed div.content-view-line div.class-product div.attribute-image
{
	float: right;
	clear: right;
	margin-left: 0.5em;
}

div.horizontally_listed_sub_items div.content-view-embed div.content-view-horizontallylistedsubitems
{
	text-align: center;
}

div.horizontally_listed_sub_items div.content-view-embed div.content-view-horizontallylistedsubitems div.class-product div.attribute-image
{
	float: none;
}

div.horizontally_listed_sub_items div.content-view-embed div.content-view-horizontallylistedsubitems div.class-product h2
{
	padding-left: 0;
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 10px;
}

div.horizontally_listed_sub_items div.content-view-embed div.content-view-horizontallylistedsubitems div.class-product div.attribute-price
{
	font-size: 1.2em;
}

/* EZ TOOLBAR BOX */

div.box-et
{
    border: 1px solid #CDD2D6;
	padding: 0;
	background-image: url(../images/et_bg.png);
	height: 28px;
	clear: both;
	margin-bottom: 10px;
}

div.frontpage-et
{
	margin-top: 0.75em;
}

div.box-et-content-edit
{
	left: 0px;
	margin-bottom: 10px;
}

div.box-et-content-edit div.box-content div.block div.left input
{
	display: inline;
	margin: 0;
	position: relative;
	top: -12px;
}

div.box-et-content-edit div.box-content div.block div.right input
{
	display: inline;
	margin: 0;
	position: relative;
	top: -14px;
}

div.box-et-content-edit div.box-content div.block div.left select
{
	font-size: 0.8em;
	display: inline;
	margin: 0;
	position: relative;
	top: -12px;
}

div.box-et div.box-content div.block form
{
	display: inline;
	margin: 0;
	padding: 0;
}

div.box-et div.box-content div.block div.left img
{
	border: none;
	position: relative;
	top: -8px;
	margin-right: 0.25em;
}

div.box-et div.box-content div.block div.right img
{
	border: none;
	position: relative;
	top: -8px;
	margin-right: 0.25em;
}

div.box-et div.box-content div.block div.right img.oohelp
{
	border: none;
	position: relative;
	top: -13px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

div.box-et div.box-content div.block div.right img.help
{
	border: none;
	position: relative;
	top: -6px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

div.box-et div.box-content div.block div.left form input
{
	display: inline;
	margin: 0;
	position: relative;
	top: -12px;
}

div.box-et div.box-content div.block div.right form input
{
	display: inline;
	margin: 0;
	position: relative;
	top: -14px;
}

div.box-et div.box-content div.block div.left form select
{
	font-size: 0.8em;
	display: inline;
	margin: 0;
	position: relative;
	top: -12px;
}

div.box-et div.box-content div.block input
{
	background-color: #DCE0E3;
	border: none;
	font-size: 0.9em;
}

div.box-et, div.box-et div.tl, div.box-et div.tr, div.box-et div.br, div.box-et div.bl
{
    position: relative;
	height: 28px;
}

div.box-et div.tl
{
    top: -1px;
    left: -1px;
    background: url(../images/et_tl.png) top left no-repeat;
}

div.box-et div.tr
{
    right: -2px;
    background: url(../images/et_tr.png) top right no-repeat;
}

div.box-et div.br
{
    bottom: -2px;
    background: url(../images/et_br.png) bottom right no-repeat;
	height: 28px;
}

div.box-et div.bl
{
    left: -2px;
    background: url(../images/et_bl.png) bottom left no-repeat;
    padding: 0.5em;
	height: 14.7px;
}

div.box-et div.block div.left
{
	width: 62%;
}

div.box-et div.block div.right
{
	text-align: right;
	width: 38%;
}

div.box-et-content-edit div.block div.left
{
	width: 90%;
}

div.box-et-content-edit div.block div.right
{
	width: 9%;
}

div.box-et-content-edit div.block div.right img.help
{
	top: -7px;
}

/* EMBED BOX BG V */

div#main div.box-embgv
{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #DFDFDF;
	background-image: url(../images/embgv_bg.png);
	background-position: center top;
	background-repeat: repeat-x;
	background-color: #F4F4F4;
	margin: 0;
	padding: 0;
}

div#main div.box-embgv div.box-content
{
	padding: 0 1em 0 1em;
}

div#main div.box-embgv, div.box-embgv div.tl, div.box-embgv div.tr, div.box-embgv div.br, div.box-embgv div.bl
{
    position: relative;
}

div#main div.box-embgv div.tl
{
    top: -1px;
    left: -1px;
    background: url(../images/embgv_tl.png) top left no-repeat;
}

div#main div.box-embgv div.tr
{
    right: -2px;
    background: url(../images/embgv_tr.png) top right no-repeat;
}

div#main div.box-embgv div.bl
{
    left: -2px;
    background: url(../images/embgv_bl.png) bottom left no-repeat;
    padding: 0.5em;
}

div#main div.box-embgv div.br
{
    bottom: -2px;
    background: url(../images/embgv_br.png) bottom right no-repeat;
}

/* EMBED - HIGHLIGHTED OBJECT */

div.highlighted_object div.box
{
	background-color: #D7D7DB;
	background-image: url(../images/embgh_bg.png);
	background-repeat: repeat-y;
	background-position: right top;
    border: 1px solid #EAE8E1;
}

div.highlighted_object div.box div.tl
{
    background: url(../images/embgh_tl.png) top left no-repeat;
}

div.highlighted_object div.box div.tr
{
    background: url(../images/embgh_tr.png) top right no-repeat;
}

div.highlighted_object div.box div.bl
{
    background: url(../images/embgh_bl.png) bottom left no-repeat;
}

div.highlighted_object div.box div.br
{
    background: url(../images/embgh_br.png) bottom right no-repeat;
}

div.highlighted_object
{
	background-image: url(../images/highlighted_object_bg.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 22px;
	margin-bottom: -0.55em;
}

div.highlighted_object h2
{
	margin-top: 0;
	color: #525345;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	font-weight: normal;
}

div.highlighted_object h2 a
{
	color: #525345;
}

div.content-view-embed div.class-article div.box div.box-content div.attribute-image
{
	float: left;
	clear: left;
	margin: 0.25em 0.5em 0 0;
}

/* EMBED - ITEMIZED SUB ITEMS */

div.itemized_sub_items
{
	margin-bottom: 0.5em;
	margin-top: 3em;
}

div.itemized_sub_items h2
{
	font-size: 1.4em;
	font-weight: normal;
	position: relative;
	top: -39px;
}

div.itemized_sub_items h2 a
{
	color: #535548;
	text-decoration: none;
}

div#main div.itemized_sub_items ul
{
    margin-left: 0;
	margin-top: -2em;
	list-style-type: none;
}

div#main div.itemized_sub_items ul li
{
	margin: 0.5em 0 0.5em 0;
	padding-left: 0;
	list-style-type: none;
	background-image: none;
}

div#main div.itemized_sub_items ul li a
{
    background-image: url(../images/sidemenu_bullet.png);
    background-position: 0.2em 0.5em;
    background-repeat: no-repeat;
    padding-left: 18px;
    display: block;
	font-size: 0.9em;
}

div#main div.itemized_sub_items div.attribute-byline
{
	margin: 0 0 0 17px;
	font-size: 0.9em;
	padding: 0;
	background: none;
	font-weight: normal;
}

/* EMBED - ITEMIZED SUBTREE ITEMS */

div.itemized_subtree_items div.content-view-embed h2
{
	padding-left: 1em;
	font-size: 1.4em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0;
}

div.itemized_subtree_items div.content-view-embed div.box-em div.box-content ul
{
    margin-left: 0;
}

div.itemized_subtree_items div.content-view-embed ul li
{
	margin: 0.5em 0 0.5em 0;
	list-style-type: none;
	list-style-image: none;
}

div.itemized_subtree_items div.content-view-embed ul li a
{
    background-image: url(../images/sidemenu_bullet.png);
    background-position: 0.2em 0.5em;
    background-repeat: no-repeat;
    padding-left: 18px;
    display: block;
	font-size: 0.9em;
}

/* EMBED - VERTICALLY LISTED SUB ITEMS */

/* div.vertically_listed_sub_items div.content-view-embed div.content-view-children
{
	font-size: 0.85em;
} */

div.vertically_listed_sub_items
{
	margin-bottom: 0.5em;
}

div.vertically_listed_sub_items div.content-view-embed h2
{
	/* padding-left: 1em; */
	font-size: 1.4em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

div.vertically_listed_sub_items div.content-view-embed div.content-view-line h2
{
	padding-left: 0;
	font-size: 1.2em;
}

/* EMBED - FOLDER - LISTWITHINTROHORIZ */

div.listwithintrohoriz div.content-view-embed div.class-folder h2
{
	padding-left: 1em;
	font-size: 1.4em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0;
}

div.listwithintrohoriz div.content-view-embed div.class-folder div.attribute-short
{
	font-size: 0.85em;
}

div.listwithintrohoriz div.content-view-embed div.class-folder a
{
    background-image: url(../images/list_bullet_2.png);
    background-position: 0.2em 0.5em;
    background-repeat: no-repeat;
    padding-left: 18px;
	padding-right: 8px;
	font-size: 0.85em;
}

/* EMBED - HORIZONTALLY LISTED SUB ITEMS */

div.horizontally_listed_sub_items div.content-view-embed div.split-content
{
	font-size: 0.85em;
}

div.horizontally_listed_sub_items div.content-view-embed h2
{
	padding-left: 1em;
	font-size: 1.4em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0;
	padding-top: 0.25em;
}

div.horizontally_listed_sub_items div.content-view-embed div.content-view-horizontallylistedsubitems h2
{
	padding-left: 0;
	font-size: 1.2em;
}


/* EMBED - FOLDER - PRODUCTS */

div.products div.content-view-embed div.class-folder h2
{
	padding-left: 1em;
	font-size: 1.4em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(../images/products_top_bg.png);
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 1em;
	margin-top: 0.2em;
}

div.products div.content-view-embed div.class-folder div.content-view-productitem
{
	text-align: center;
}

div.products div.content-view-embed div.class-folder div.content-view-productitem div.attribute-image
{
	float: none;
}

div.products div.content-view-embed div.class-folder div.content-view-productitem h2
{
	padding-left: 0;
	font-size: 1.1em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(../images/productitem_header_bg.png);
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 10px;
}

div.products div.content-view-embed div.class-folder div.content-view-productitem div.attribute-price
{
	font-size: 1em;
}

/* QUOTE */

div.quote
{
	background-image: url(../images/quote_br.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding-bottom: 1.5em;
	margin-top: 2em;
	margin-bottom: 2em;
}

div.quote-design
{
	background-image: url(../images/quote_tl.png);
	background-position: top left;
	background-repeat: no-repeat;
	padding-top: 1.25em;
	font-size: 1.2em;
	font-weight: bold;
	font-style: italic;
}

/* SPLIT THREE */

div.split
{
    clear: both;
}

div.split-content
{
    border: none;
}

div.split div.three-left
{
    width: 31%;
    float: left;
}

div.split div.three-right
{
    width: 31%;
    float: right;
}

div.split div.three-center
{
    margin: 0 35% 0 35%;
}

div.break
{
    clear: both;
    font-size: 1px; /* Fix for IE */
    height: 1px;
    margin-bottom: -1px;
}

/* IMAGE */

div.attribute-image
{
	float: left;
	margin: 0.25em 0 0.5em 0;
}

div.content-view-line div.attribute-image
{
	float: left;
	margin: 0.25em 0.5em 0.5em 0;
}

div.content-view-horizontallylistedsubitems div.class-article div.attribute-image
{
	float: left;
	margin: 0.25em 0.5em 0.5em 0;
}

/* AGENDA */

div#ezagenda_calendar_left
{
	vertical-align: top;
	width: 214px;
	float: left;
}

div#ezagenda_calendar_container
{
	background-color: #F4F4F4;
	vertical-align: top;
	width: 214px;
	background-image:url(../images/cal_table_bg.png);
	background-position: top left;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

div#ezagenda_calendar_left table
{
	background-image:url(../images/cal_bg.png);
	background-repeat: repeat-x;
	background-position: top left;
	background-color: #F0F0F0;
	margin: auto;
	text-align: left;
}

div#ezagenda_calendar_left table th
{
	font-weight: bold;
	text-align: center;
	height: 20px;
}

div#ezagenda_calendar_left table td
{
	padding: 0.55em;
	background-image: url(../images/cal_td_bg.png);
	background-position: right top;
	background-repeat: repeat-y;
	text-align: center;
}


div#ezagenda_calendar_left table tr.days
{
	background-image: url(../images/cal_tr_bg.png);
	background-position: bottom center;
	background-repeat: repeat-x;
}

div#ezagenda_calendar_left table td.ezagenda_selected
{
	background-color: #E1E1E1;
	margin-left: -0.6em;
	padding: 0.25em;
}

div#ezagenda_calendar_left table td.ezagenda_current, div#ezagenda_calendar_left table td.ezagenda_current a
{
	color: #DF1D42;
}

div#ezagenda_calendar_right
{
	vertical-align: top;
	padding-left: 1em;
	margin-left: 210px;
}

div#ezagenda_calendar_right table
{
	border: 1px solid #F1F1ED;
	margin-bottom: 0.25em;
}

div#ezagenda_calendar_right td.ezagenda_month_head
{
	vertical-align: top;
	padding-left: 0.5em;
	width: 60px;
}

div#ezagenda_calendar_right td.ezagenda_month_head h2
{
	border: 1px solid #D2D2C5;
	padding: 0.15em;
	color:#979797;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	font-weight: normal;
	background-color: #EEEEE5;
	width: 39px;
	margin-top: 0.5em;
	background-image:url(../images/date_bg.png);
	background-position: center bottom;
	background-repeat: repeat-x;
	text-align: center;
}

div#ezagenda_calendar_right td.ezagenda_month_info h2
{
	margin-top: 0;
	font-weight: normal;
	font-size: 1.1em;
}

div#ezagenda_calendar_right td.ezagenda_month_info p
{
	margin-top: 0;
	margin-bottom: 0.25em;
}

div#ezagenda_calendar_today
{
/*	float: left;*/
	margin-top: 1.2em;
	width: 214px;
}

div#ezagenda_calendar_today div.ezagenda_day_event
{
	border: 1px solid #F1F1ED;
	margin-bottom: 0.25em;
	padding: 0.5em;
}

div#ezagenda_calendar_today div.ezagenda_day_event h2
{
	margin-top: 0;
	font-weight: normal;
	font-size: 1.1em;
}

table#ezagenda td.ezagenda_month_label
{
	border-top: 1px solid #F1F1ED;
	border-left: 1px solid #F1F1ED;
	border-bottom: 1px solid #F1F1ED;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

table#ezagenda td.ezagenda_month
{
	border-top: 1px solid #F1F1ED;
	border-left: 1px solid #F1F1ED;
	border-bottom: 1px solid #F1F1ED;
	border-right: 1px solid #F1F1ED;
	padding-left: 0.5em;
	vertical-align: top;
}

table#ezagenda table
{
    margin: 0;
   	vertical-align: top;
   	width: 99%;
}

table#ezagenda td.ezagenda_month_label
{
	width: 50px;
}

table#ezagenda td.ezagenda_month_label h2
{
	border: 1px solid #D2D2C5;
	padding: 0.15em;
	color:#979797;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	font-weight: normal;
	background-color: #EEEEE5;
	width: 39px;
	margin-top: 0.5em;
	background-image:url(../images/date_bg.png);
	background-position: center bottom;
	background-repeat: repeat-x;
	text-align: center;
}

table#ezagenda td.ezagenda_month_info
{
}

span.ezagenda_keyword
{
 display: block;
 font-size: 90%;
 color: #888;
}

/* CONTENTSTRUCTURE */

map#contentstructure ul li a
{
    border: none;
}

map#contentstructure ul
{
    margin: 0;
    padding: 0;
}

map#contentstructure ul ul
{
    margin: 0.25em 0 0 0.5em;
}

map#contentstructure ul ul ul
{
    margin: 0 0 0 1em;
}

map#contentstructure li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: url(../images/left-line.gif);
    background-repeat: repeat-y;
    background-position: left;
    white-space: nowrap;
}

map#contentstructure ul ul div
{
    color: #000000;
    padding: 2px 0 2px 0;
}

map#contentstructure li div a
{
    padding: 0 2px 0 4px;
	background: none;
}

map#contentstructure li.topchapter, map#contentstructure li.topchapter-selected
{
    margin: 0.5em 0 0.5em 0;
    background-image: url(../images/bg_1px.png);
    background-repeat: no-repeat;
    background-position: 0 0.4em;
}

map#contentstructure ul li.topchapter div a, map#contentstructure ul li.topchapter-selected div a
{
	color: #000000;
	font-weight: bold;
	font-size: 0.9em;
	text-decoration: none;
}

map#contentstructure ul li.currentnode div a
{
	text-decoration: underline;
}

map#contentstructure ul li.topchapter ul li div a, map#contentstructure ul li.topchapter-selected ul li div a
{
	font-size: 0.9em;
	color: #328F00;
	font-weight: bold;
}

map#contentstructure ul li.currentnode ul li div a
{
	text-decoration: none;
}

map#contentstructure ul li.topchapter ul li ul li div a, map#contentstructure ul li.topchapter-selected ul li ul li div a
{
	font-size: 0.9em;
	color: #0090FF;
	font-weight: normal;
	text-decoration: underline;
}

map#contentstructure li.topchapter-selected li a
{  
	font-weight: normal;
}

map#contentstructure li.topchapter-selected a:hover
{
    color: #000000;
}

map#contentstructure li
{
    font-weight: normal;
}

map#contentstructure li ul div
{
    background-image: url(../images/left-item.gif);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 8px;
	padding-bottom: 0.5em;
}

map#contentstructure ul li
{
	margin: 0;
}

map#contentstructure li div.first
{
    background-image: url(../images/left-corner-top.gif);
    background-repeat: no-repeat;
    background-position: top left;
}

map#contentstructure li.last
{
    background-image: url(../images/left-corner-end.gif);
    background-repeat: no-repeat;
    background-position: top left;
}

map#contentstructure li.currentnode a, map#contentstructure li.topchapter-selected li.currentnode a
{
		font-weight: bold;
}

map#contentstructure li.topchapter-selected li.currentnode ul a
{
		font-weight: normal;
}

/* Diff styles */

div#diffview ul
{
    margin: 0 0 0.5em 0;
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-bottom: 1px solid #808080;
    display: block;
}

div#diffview li
{
    font-size: 0.85em;
    margin: 0 0.5em 0 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

div.attribute-view-diff
{
    padding: 0.25em;
    border: 1px solid #d7d7d2;
}

div.attribute-view-diff label
{
   color: #75756c;
}

div.attribute-view-diff-old
{
    padding-bottom: 0.25em;
    border-bottom: 1px dashed #bfbfb7;
}

div.attribute-view-diff-new
{
    padding-top: 0.25em;
}

ins
{
    color: #008000;
    text-decoration: none;
    border-bottom: 1px solid #00b000;
}

del
{
    color: #d98078;
    text-decoration: line-through;
}

ins:hover, del:hover
{
    background-color: #ffffff;
}

ins:hover
{
    color: #006000;
    border-bottom: none;
}

del:hover
{
    color: #852c25;
    text-decoration: none;
}

div.blockchanges ins, div.blockchanges del
{
    color: #000000;
    padding-left: 0.5em;
    text-decoration: none;
    border-bottom: none;
    display: block;
}

div.blockchanges ins
{
    border-left: 0.5em solid #008000;
}

div.blockchanges del
{
    border-left: 0.5em solid #d98078;
}

div.previous ins
{
    display: none;
}

div.previous del
{
    color: #000000;
    background-color: #ffff00;
    border-bottom: none;
    text-decoration: none   
}

div.latest del
{
    display: none;
}

div.latest ins
{
    color: #000000;
    background-color: #ffff00;
    border-bottom: none;
    text-decoration: none;
}

/* BASKET */

div.shop-basket ul
{
	margin: 0;
	padding: 0;
}

div.shop-basket ul li
{
	display: block;
	float: left;
	margin-right: 1em;
	list-style-type: none;
	list-style-image: none;
	padding: 0;
}

div.shop-basket ul li.selected
{
	font-weight: bold;
}

/* SHOP - USERREGISTER */

div.shop-userregister ul
{
	margin: 0;
	padding: 0;
}

div.shop-userregister ul li
{
	display: block;
	float: left;
	margin-right: 1em;
	list-style-type: none;
	list-style-image: none;
	padding: 0;
}

div.shop-userregister ul li.selected
{
	font-weight: bold;
}

/* SHOP - CONFIRMORDER */

div#main div.shop-confirmorder ul
{
	margin: 0;
	padding: 0;
}

div#main  div.shop-confirmorder ul li
{
	display: block;
	float: left;
	margin-right: 1em;
	list-style-type: none;
	list-style-image: none;
	background: none;
	padding: 0;
}

div#main  div.shop-confirmorder ul li.selected
{
	font-weight: bold;
}

/* PRICE */

span.old-price
{
	text-decoration: line-through;
	font-size: 0.9em;
}

span.new-price
{
	color: #0290FF;
	font-weight: bold;
}

span.discount-percent
{
	font-size: 0.9em;
}

/* HISTORY */
div.content-history div.context-controls div.left
{
	width: 18%;
}

div.content-history div.context-controls div.right
{
	width: 80%;
	text-align: right;
}

div.content-history div.context-controls div.right input.button
{
	display: inline;
}

div#diffview div.context-toolbar div.block ul li
{
	background: none;
}

.faculty_section ul {
    list-style-type: none;
    margin-left: 0px;
}

.faculty_section ul li {
    text-indent: 0px;
}

.bofMiddleText .faculty_section h2 {
	display: block;
	clear: both;
	font-size: 200%;
}

.bofMiddleText .faculty_section ul ul h2 {
	font-size: 185%;
	text-decoration: none;
	border: none;
}

.bofMiddleText .faculty_section ul ul h2 {
	font-size: 160%;
	text-decoration: none;
	border: none;
}

#mainbox DIV.content-view-full DIV.class-article DIV.attribute-long {
	background: none;
}

#mainbox .bofLeftColumn li {
	position: relative;
}

#mainbox .bofLeftColumn ol {
	position: absolute;
	top: 0px;
	left: -1000px;
	width: 195px;
	background: #F8F8EA;
}

#mainbox .bofLeftColumn ol li a, #mainbox .bofLeftColumn ol iframe {
	background: #F8F8EA;
}

#l_nav li {
	cursor: pointer;
}

#l_nav li:hover ol {
	left: 195px;
}

#l_nav li.sfhover ol {
	left: 195px;
}

#l_nav li {
	float: left;
	margin: 0px;
}

#l_nav a {
	line-height: normal;
}

#l_nav .noLink{
	/*padding-top: 0px;
	padding-bottom: 0px;*/
	line-height:normal;
}

#l_nav iframe {
	position: absolute;
	left: 0px;
	top: 0px;
}

.fix_clear {
	width: 100%;
	height: 1px;
	clear: both;
}

.subtree_level_3_node_id_354 .content-view-children div.col_2 {
	width: 45%;
	float: left;
	word-wrap: break-word;
}

.subtree_level_3_node_id_354 .content-view-children div.first_col {
	margin-right: 9%;
}

.subtree_level_3_node_id_354 .content-view-children div.col_2 h2 {
	border: none;
}

.subtree_level_2_node_id_452 .content-view-children div.col_2 {
	width: 45%;
	float: left;
	word-wrap: break-word;
}

.subtree_level_2_node_id_452 .content-view-children div.first_col {
	margin-right: 9%;
}

.subtree_level_2_node_id_452 .content-view-children div.col_2 h2 {
	border: none;
}

html>body #l_nav {
	display: inline; 
	float: none;
}

.content-view-children .content-view-line .default {
	clear: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

#mainbox .bofRightColumn {
	width: 192px;
}

.content-view-children ol {
	margin: 0;
}