/* CORE CSS - 20060601 */


/* BODY */

body /* These becomes the initial settings for most other elements */
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #535548;
    background-color: #ffffff;
}


/* HEADINGS */




/* PARAGRAPHS */

p
{
    margin: 0.5em 0 0.5em 0;
    line-height: 1.25em; /* This is aprox. default line height in most popular browsers; set explicitly to ensure consitency. */
}


/* LINKS */

a
{
    color: #048FFD;
    text-decoration: underline;
}

a:hover
{
    color: #000000;
    text-decoration: underline;
}

a img
{
    border: none; /* Some browsers may display a border around a linked image without this attribute set to _none_. */
}


/* PRE TEXT */

pre, code
{
    font-family: "Courier New", Courier, monospace; /* Usually defaulted to monospaced font anyway, but browwsers may vary which one is used, so giving exact alternatives helps visual consistenct */
    font-size: 1em; /* Setting this exact size may also help visual consistency */
}

pre
{
    background-color: #f8f8f8;
    margin: 1em 0 1em 0;
    padding: 0.2em;
    border: 1px solid #e0e0e0;
}

pre.wordwrap /* Style for ensuring long lines in pre field won't break the design; use &nbsp; instead to preserve white-space where desired */
{
    white-space: normal;
}

pre.wordwrap span.line /* Style for tag wrapping around each line of text */
{
    display: block;
}


/* TABLES */

table
{ 
    font-size: 1em; /* Fix for size "loss" in tables in IE; redundant for most other browsers */
    margin: 0;
    padding: 0;
}

th, td
{
    padding: 0;
}

table.list /* Standard class usable for most regular tables presenting lists, with additional related styles */
{
    width: 100%;
    margin: 1em 0 1em 0;
	border: none;
}

table.list th, table.list td
{
    padding: 0.5em;
    border-right: 1px solid #ffffff;
    border-bottom: none;
    vertical-align: top;
}

table.list th
{
    font-weight: bold;
    color: #525345;
    background-color: #DFDFDF;
    white-space: nowrap;
    text-align: left;
	background-image: url(../images/th_bg.png);
	background-repeat: repeat-x;
	background-position: top left;
}

table.list td
{
    border-top: 1px solid #f8f8f8;
    font-weight: normal;
}

table.list th:first-child, table.list td:first-child
{
    border-left: 1px solid #ffffff;
}

table.list tr.bglight
{
    background-color: #F1F1ED;
}

table.list tr.bgdark
{
    background-color: #EAE9E1;
}

table.list tr.bglight:hover, table.list tr.bgdark:hover /* This has no effect in IE6 and below */
{
    background-color: #ffffff;
}

table.list tr.bglight:hover td, table.list tr.bgdark:hover td
{
    border-color: #ffffff;
}

table.list a
{
    border-bottom-color: #EAE9E1;
}

th.tight, td.tight
{
    width: 1%;
}

td.nowrap 
{
    white-space: nowrap;
}

td.number
{
    text-align: right;
}

/* ORDERED AND UNORDERED LISTS */

ul, ol
{
    margin: 0.75em 0 1em 2.5em;
    padding: 0;
}

ul ul, ol ul
{
    margin: 0.3em 0 0.5em 1.3em;
}

ul ol, ol ol
{
    margin: 0.3em 0 0.5em 1.9em;
}

li
{
    margin: 0 0 0.3em 0;
    padding: 0;
    line-height: 1.25em;
}


/* DEFINITION LISTS */

dl
{
    margin: 0.25em 0 0.25em 0;
    padding: 0;
}

dt, dd
{
    font-style: normal;
    margin: 0 0 0.25em 0;
}

dt
{
    font-weight: bold;
}

dd
{
    margin: 0 1em 0.5em 2.5em;
}


/* FORM ELEMENTS */

form
{
    margin: 0;
    padding: 0;
}

label
{
    font-weight: bold;
    padding-right: 0.5em;
    display: block;
    white-space: nowrap;
}

input, select
{
    font-family: Arial, Helvetica, sans-serif; /* Needs to be set for some browsers, to prevent other default font from being used */
}

input.box, input.halfbox
{
    font-size: 1em;
}

textarea
{
    font-family: Arial, Helvetica, sans-serif; /* Usually defaulted to monospaced font; so it needs to be set if to change */
    font-size: 1em; /* Needs to be specified for IE */
}

optgroup
{
    font-weight: bold;
    font-style: normal;
}

input.button, button, input.defaultbutton 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	font-size: 0.8em;
	color: #343434;
}

input.box, textarea.box
{
    width: 100%;
	border: 1px solid #A5ACB2;
	font-size: 1em;
}

input.halfbox, textarea.halfbox
{
    width: 48%;
}

div.input, div.textarea
{
    margin: 0.5em 0 0.5em 0;
    padding: 0 0.25em 0 0.25em;
    border: 1px solid;
    border-color: #808080 #e0e0e0 #e0e0e0 #808080;
}

div.textarea
{
    padding-right: 0;
}

div.input input, div.textarea textarea
{
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

fieldset
{
    border: 1px solid #ccccc3;
    padding: 0.5em;
}

legend
{
    font-weight: bold;
    color: #000000;
    padding: 0 0.25em 0 0.25em;
}

fieldset label
{
    color: #000000;
}

fieldset input.button
{
    margin-top: 0.5em;
}

/* HORIZONTAL RULERS */

hr /* General formatting for all horizontal rulers */
{
    color: #ffffff; /* Color must be set to the same as the background color to hide default formatting in IE */
    border: none; /* All borders must be removed as they are default for Opera */
    border-top: 1px solid #e0e0e0; /* This single top border is the one replacing the default look of the ruler */
    height: 1px;
    margin: 0.35em 0 0.35em 0; /* Be aware that these margins may not be calculated consistently across browsers */
}


/* MESSAGES TO THE USER */

div.message-confirmation, div.message-feedback, div.message-warning, div.message-error, div.warning
{
    margin: 0.5em 0 1em 0;
    padding: 0.5em 1em 0.5em 1em;
    border: 6px solid #808080;
    background-color: #f8f8f8;
}

div.message-feedback
{
    border-color: #40b040;
}

div.message-warning, div.warning
{
    border-color: #c0c040;
}

div.message-error
{
    border-color: #c04040;
}


/* The remaining styles are important for proper content rendering in eZ publish - Do not remove or alter them without proper knowledge of the possible consequences */

/* POSITION CONTROL */

div.block /* Used around groups of objects which are connected in some way, and requires extra margins to the surroundings */
{
    margin: 0.5em 0 0.5em 0;
    padding: 0;
    clear: both;
}

div.block div.element /* Used if several objects are to be stacked horizontally within the same block */
{
    padding-right: 1em;
    float: left;
}

div.block div.left /* Floats elements to the left in a block */
{
    width: 48%;
    float: left;
    clear: left;
}

div.block div.right /* Floats elements to the right in a block */
{
    width: 48%;
    float: right;
    clear: right;
}

div.object-left /* Used for floating images and other content elements to the left inside other content */
{
    margin: 0.25em 0.25em 0.25em 0;
    float: left;
    clear: left;
}

div.object-right /* Used for floating images and other content elements to the right inside other content */
{
    margin: 0.25em 0 0.25em 0.25em;
    float: right;
    clear: right;
}

.float-break
{
    height: 1%; /* Fix for IE */
}

.float-break:after /* Terminate floating elements flow */
{
    content: "-";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block; 
    clear: both; 
}

div.break /* Old method for terminating floating elements flow; kept for backwards compatibility */
{
    clear: both;
    font-size: 1px; /* Fix for IE */
    height: 1px;
    margin-bottom: -1px;
}


/* MISCELLANEOUS STYLES */

.hide /* Used on elements which should only be visible if CSS in disabled or unavailable */
{
    display: none;
}

.spamfilter /* Simple fix for stopping spambots from getting correct e-mail addresses from a web page: info<span class="spamfilter>SPAMFILTER</span>@ez.no <span class="spamfilter>(Remove SPAMFILTER to reply)</span> */
{
    display: none;
}

p.text-center {
	text-align: center;
}