<div class="content-view-line">
	<div class="class-documentation-page">

		<div class="attribute-title">
			<h2><a href={$node.url_alias|ezurl}>{attribute_view_gui attribute=$node.object.data_map.title}</a></h2>
		</div>

	</div>
</div>
