{def $audioFile=$object.main_node.data_map.file
     $audioURL = concat('http://',ezsys('hostname'),'/content/download/',$audioFile.contentobject_id,'/',$audioFile.content.contentobject_attribute_id,'/file/',$audioFile.content.original_filename)}

<div class="content-view-embed">
   <div class="class-mp3-audio">

	<div class="content-media">
	<div id="flashcontent"></div>
{run-once}<script type="text/javascript" src="{'javascript/swfobject.js'|ezdesign('no')}"></script>{/run-once}
<script type="text/javascript">
	var so = new SWFObject("{'flash/mediaplayer.swf'|ezdesign('no')}", "media-player", "651", "109", "8.0.0.0"); 
	so.addParam("quality", "high"); 
	so.addParam("scale", "noscale"); 
	so.addParam("menu", "false"); 
	so.addParam("salign", "lt"); 
	so.addParam("wmode", "transparent");
	so.addParam("flashvars", "xmlFilename=/layout/set/podcast/content/view/full/{$object.main_node.node_id}");
	so.write("flashcontent");
</script>
	</div>


   </div>
</div>


