{* Media Player - Custom Tag *}
{*
<div class="media-player">
   <div id="flashcontent"></div>
{run-once}<script type="text/javascript" src="{'javascript/swfobject.js'|ezdesign('no')}"></script>{/run-once}
<script type="text/javascript">
	var so = new SWFObject("{'flash/mediaplayer.swf'|ezdesign('no')}", "media-player", "651", "109", "8.0.0.0"); 
	so.addParam("quality", "high"); 
	so.addParam("scale", "noscale"); 
	so.addParam("menu", "false"); 
	so.addParam("salign", "lt"); 
	so.addParam("wmode", "transparent");
	so.addParam("flashvars", "xmlFilename=");
	so.write("flashcontent");
</script>
</div>
*}