/* IE5 SPECIAL CSS - 20060522 */

div#header, div#main 
{ 
    width: 100%;  /* Avoids width bug, by setting this specificly */
}

div#columns, div#main-position
{
    height: 1%;
}

.factbox h2 
{
	height: 1%;
}