{* News Home Include *}

        {let newsnode=fetch('content', 'node', hash('node_id', 154))
		 thesenews=fetch( 'content', 'tree', hash('parent_node_id', 154, limit, 4,
			'sort_by', array('modified', false()) ,'class_filter_type', 'include', 'class_filter_array', array('article') ))}

		{section show=gt($thesenews|count,0)}

		   <div id='news_item'>

		   <h2><a href={$newsnode.url_alias|ezroot}>News :: Announcements</a></h2>

               <div class="content-view-children">

                    {section var=child loop=$thesenews}
				<div class='event'>
                     	{node_view_gui view=line content_node=$child}
				</div>
                    {/section}

               </div>

		   </div>

		 {/section}

	   {/let}