/* CSS for the ezjaxx extension */


/*
 First css fixes for the admin design
*/

div#allcontent div#contentstructure a.openclose, div#allcontent  div#contentstructure span.openclose, div#allcontent div#contentstructure .openclose img, div#allcontent a.windowclose img
{
    padding: 0; margin: 0; width: 16px; height: 16px;
}

/*div#allcontent div#contentstructure ul#content_tree_menu ul ul { margin-left: 20px; display:block; }
div#allcontent div#contentstructure ul#content_tree_menu ul li { padding-left: 0; line-height: 14px;}
div#allcontent div#contentstructure ul#content_tree_menu ul li.loading { color: #666; padding-left: 19px; }*/

div#allcontent div#toolbar_newssearch ul
{
	display: block;
	clear: right;
	padding: 1px;
	margin:auto;
	margin-left: 0;
	text-align: left;
}

ddiv#allcontent iv#toolbar_newssearch ul li, div#allcontent div#toolbar_newssearch ul li a, div#allcontent div#toolbar_newssearch ul li span
{
	height: 20px;
	line-height: 20px;
	list-style: none;
	padding: 0;
	margin: auto;
	display: inline;
	background-image: none;
}

div#allcontent div#toolbar_newssearch ul li { display: block; }
div#allcontent div#toolbar_newssearch ul li span { overflow: hidden }
div#allcontent .dragselected {	border: 1px solid red; }

div#allcontent a.windowclose
{
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
	display:block;
	position: absolute;
	top: 1px;
	left: 4px;
	cursor:pointer;
}

div#allcontent div#copy_here_form
{
	position: absolute;
	z-index: 95;
	left: 32%;
	top: 310px;
	overflow: hidden;
	width: 380px;
}

div#allcontent div.widthcontrol a.selected { color: #254b71; background-color: #C8CFD7;}



/* Some common css */

div#ez_keyword_dropdown
{
	position: absolute;
	z-index: 95;
	overflow:hidden;
	background: #fff;
	border: 1px solid #bfbfb7;
	border-top: 0px none;
	text-align: left;
}

div#ez_keyword_dropdown li {list-style: none; cursor: pointer; padding-left: 1em;}
div#ez_keyword_dropdown li.selected {background: #c6cfd7;}