
{default node_name=$node.name node_url=$node.url_alias can_create_classes = $node.classes_js_array disable_createHere_menu = cond( $can_create_classes|eq("''"),"'child-menu-create-here'", '-1' ) }
<a href={$node.url_alias|ezurl} class="nodeicon" onclick="ezpopmenu_showTopLevel( event, 'SubitemsContextMenu', ez_createAArray( new Array( '%nodeID%', {$:node.node_id}, '%objectID%', {$:node.object.id}, '%languages%', {$:node.object.language_js_array}, '%classList%', {$can_create_classes} ) ) , '{$:node.object.name|shorten(18)|wash(javascript)}', {$:node.node_id}, {$disable_createHere_menu}  ); return false;">{$node.class_identifier|class_icon( small, 'Click on the icon to display a context-sensitive menu.'|i18n( 'design/admin/node/view/line' ) )}</a>&nbsp;
{section show=$node_url}<a href={$node_url|ezurl} title="{'Node ID: %node_id Visibility: %node_visibility'|i18n( 'design/admin/node/view/line',, hash( '%node_id', $node.node_id, '%node_visibility', $node.hidden_status_string ) )}">{/section}{$node_name|wash}{section show=$node_url}</a>{/section}{/default}

{*
{default node_name=$node.name node_url=$node.url_alias}<img src={"class_2.png"|ezimage} border="0" alt="{'Document'|i18n('design/standard/node/view')}" />&nbsp;{section show=$node_url}<a {if $node.data_map.flash_include.data_int}style='color: red' {/if}href={$node_url|ezurl}>{/section}{$node_name|wash}{section show=$node_url}</a>{/section}{/default}
*}