/* Style sheet for the silver calendar (default) */

/* #calendar h2 {
	margin: 5px 0px;
} */

#loading {
	float: left;
	width: 30px;
	height: 1em;
}

#event_search_button {
	width: 90px;
}

/* #calendar h2 {
	margin: 5px 0px;
} */

#download_cal {
	position: absolute;
	top: 0px;
	right: 15px;
	text-align: right;
}

#promote_event_link {
	position: absolute;
	top: 20px;
	right: 15px;
	font-size: 90%;
}

#overDiv table {
	margin-bottom: 0px;
}

#overDiv table td {
	padding: 4px;
}


#calendar {
}

#calendar table, #calendar td {font: 11px Verdana, Arial, sans-serif; color: #000; vertical-align:top;}

.navback table {margin-bottom: 0px; }

/* Background images for tables */
.tbll	{background: url(images/shadow_l.gif) no-repeat; width:8px}
.tblbot	{background: url(images/shadow_m.gif) repeat-x; width:100%}
.tblr	{background: url(images/shadow_r.gif) no-repeat; width:8px}

.alldaybg_1 {background: url(images/allday_1.gif) repeat-x; height: 19px; padding-top: 5px; text-align: center;}
.alldaybg_2 {background: url(images/allday_2.gif) repeat-x; height: 19px; padding-top: 5px; text-align: center;}
.alldaybg_3 {background: url(images/allday_3.gif) repeat-x; height: 19px; padding-top: 5px; text-align: center;}
.alldaybg_4 {background: url(images/allday_4.gif) repeat-x; height: 19px; padding-top: 5px; text-align: center;}
.alldaybg_5 {background: url(images/allday_5.gif) repeat-x; height: 19px; padding-top: 5px; text-align: center;}
.alldaybg_6 {background: url(images/allday_6.gif) repeat-x; height: 19px; padding-top: 5px; text-align: center;}
.alldaybg_7 {background: url(images/allday_7.gif) repeat-x; height: 19px; padding-top: 5px; text-align: center;}

.rowOn			{ background-color: #cfc; border-top: 1px solid #fff; border-left: 1px solid #fff; }
.rowOn2			{ background-color: #cfc; border-top: 1px solid #fff; }
.rowOff			{ background-color: #E1E8F1; border-top: 1px solid #fff; border-left: 1px solid #fff; }
.rowOff2		{ background-color: #E1E8F1; border-top: 1px solid #fff; }
.rowToday		{ background-color: #cff; border-top: 1px solid #fff; border-left: 1px solid #fff; }

.padd			{ padding: 2px; }

/* Styles for day and week events */
.eventbg_1	 	{ background-color: #557CA3; padding: 2px;}
.eventbg_2	 	{ background-color: #53A062; padding: 2px;}
.eventbg_3	 	{ background-color: #E84F25; padding: 2px;}
.eventbg_4	 	{ background-color: #B257A2; padding: 2px;}
.eventbg_5	 	{ background-color: #D42020; padding: 2px;}
.eventbg_6	 	{ background-color: #B88F0B; padding: 2px;}
.eventbg_7	 	{ background-color: #73738C; padding: 2px;}
#allday a		{ font-size: 9px; color: #fff; font-weight: 900; text-decoration:none;}
#allday a:hover	{ text-decoration:underline;}

.eventbg2_1	 		{ background-color: #6699CC; border: 1px solid #557CA3; }
.eventbg2_2	 		{ background-color: #4FC464; border: 1px solid #53A062; }
.eventbg2_3	 		{ background-color: #FF6D3B; border: 1px solid #E84F25; }
.eventbg2_4	 		{ background-color: #EA62D4; border: 1px solid #B257A2; }
.eventbg2_5	 		{ background-color: #FF5E56; border: 1px solid #D42020; }
.eventbg2_6	 		{ background-color: #CCB21F; border: 1px solid #B88F0B; }
.eventbg2_7	 		{ background-color: #9292A1; border: 1px solid #73738C; }

.dayborder 		{ background-color: #fff; border-top: 1px solid #A1A5A9; }
.dayborder2 	{ background-color: #fff; border-top: 1px dashed #ccc; }

.title  		{ background-image: url(images/time_bg.gif); padding: 5px; }
.title h2 		{ font-family: Helvetica, sans-serif; font-size: 18px; color: #000; margin: 0px;}

/* Month View */

.monthback		{ background-color: #A1A5A9; }
.monthreg		{ background-color: #fff; height: 105px; text-align: left; vertical-align: top; }
.monthoff		{ background-color: #F2F2F2; height: 105px; text-align: left;  vertical-align: top; }
.monthon		{ background-color: #F2F9FF; height: 105px; text-align: left;  vertical-align: top; }
.montheventtop	{ background-image: url(images/side_bg.gif); border-top: 1px solid #A1A5A9; }
.montheventline	{ border-right: 1px dotted #A1A5A9; }

/* Year View */

.medtitle		{ background-image: url(images/side_bg.gif); height: 20px; margin-top: 3px; font-weight: 900; }
.yearreg		{ background-color: #fff; height: 30px; width: 30px; text-align: right; vertical-align: top; font-size: 9px; }
.yearoff		{ background-color: #F2F2F2; height: 30px; width: 30px; text-align: right;  vertical-align: top; font-size: 9px; }
.yearon		{ background-color: #F2F9FF; height: 30px; width: 30px; text-align: right;  vertical-align: top; font-size: 9px; }
.yearmonth		{ background-color: #ccc; }
.yearweek		{ background-color: #eee; width: 30px; font-size: 9px; font-weight: 900; text-align: center; height: 15px; }


/* older styles */

.eventborder	{ background-image: url(images/day_title.gif); border: 1px #006699 solid; }
.eventbg	 	{ background-color: #6699CC; }

.calborder 	 	{ }
#calendar table td.dateback		{ background-color: #00529C; color: white;}
.weekborder 	{ border-top: 1px dashed #A1A5A9; border-right: 1px solid #A1A5A9; }
.weekborder2 	{ border-right: 1px solid #A1A5A9; }
.timeborder 	{ border-right: 2px solid #A1A5A9; border-top: 1px dashed #A1A5A9; background-image: url(images/time_bg.gif); }
.timeborder2 	{ border-right: 2px solid #A1A5A9; border-top: 1px solid #A1A5A9; background-image: url(images/time_bg.gif); }
.navback 		{ background-image: url(images/time_bg.gif); }
.sideback 		{ background-image: url(images/side_bg.gif); }


/* Link colors and attributes */
/* This is the main link style */
a.psf			{ text-decoration:	none; }
a.psf:link		{ color: #0066FF; }
a.psf:visited	{ color: #0066FF; }
a.psf:active	{ color: #3366CC; }
a.psf:hover		{ color: #000099; text-decoration: underline; }

/* This is the link style for the mini-cals */	
a.ps2			{ text-decoration:	underline; }
a.ps2:link		{ color: #0066FF; }
a.ps2:visited	{ color: #0066FF; }
a.ps2:active	{ color: #3366CC; }
a.ps2:hover		{ color: #000099; }

/* This is the link style for year months */	
a.ps3			{ text-decoration:	none; }
a.ps3:link		{ color: #000; }
a.ps3:visited	{ color: #000; }
a.ps3:active	{ color: #000; }
a.ps3:hover		{ color: #000; text-decoration: underline; }

/* This is the link style for events */	
a.ps			{ text-decoration:	none; }
a.ps:link		{ color: #000; }
a.ps:visited	{ color: #000; }
a.ps:active		{ color: #000; }
a.ps:hover		{ color: #000; text-decoration: underline; }
	


/* CSS definitions for fonts */

.V9 			{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; }
.V10W 			{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; text-decoration:	none;}
.V9W 			{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 8px; color: #FFFFFF; text-decoration:	none;}
.V10WB 			{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; font-weight: 900; }
.V9G 			{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 8px; color: #666666; }
.V10 			{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; }
.V9BOLD 		{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: 900; }
.G10 			{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #0066FF; }
.G10B 			{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; }
.G10BOLD 		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: 900; }
.G10G 			{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #A1A5A9; }
.V12 			{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;  color: #000000; }
/*h1 				{ font-family: Helvetica, sans-serif; font-size: 18px; color: #000000; }*/
.eventfont 		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; }

div#calendar h2 {text-align: center;}

div#calendar #cal_month_majors h2 {text-align: left;}

/* Length of the form drop downs */

.query_style 	{ font-size: 11px; font-family: verdana, geneva, arial, sans-serif; width: 156px; margin-bottom: 0; }
.search_style 	{ font-size: 12px; font-family: verdana, geneva, arial, sans-serif; width: 134px; margin-bottom: 0; }
.login_style	{ font-size: 11px; font-family: verdana, geneva, arial, sans-serif; width: 80px; margin-bottom: 0; }

#cal_wrapper {
	width: 100%;
}


#cal_nav h2 {
	color: #ffffff;
	font-size: 120%;
	display: inline;
	line-height: 2em;
}

#cal_nav {

}

.monthback td {
	position: relative;
}


#cal_prev_month, #cal_next_month {

}

#cal_prev_month a, #cal_next_month a {
	color: #ffffff;
	text-decoration: none;
}

#display_date_wrap {
	width: 100%;
	clear: both;
	background: #00529C;
	height: 30px;
	text-align: center;
}

#cal_prev_month {
	float: left;
	widht: 150px;
	padding: 7px;
}

#cal_next_month {
	float: right;
	width: 150px;
	text-align: right;
	padding: 7px;
}

#cal_nav_tabs {
	width: 100%;
}

#main_cal {
	width: 100%;
	clear: both;
	overflow-x: scroll;
}

#cal_nav #search_events {
	width: 110px;
}

#cal_nav_tabs .cal_nav_tab {
	background: url(../images/cal_tab.png) no-repeat;
	width: 105px;
	height: 29px;
	margin-right: 3px;
	text-align: center;
	float: right;
}

#cal_nav_tabs .cal_nav_tab_long {
	background: url(../images/cal_tab_long.png) no-repeat;
	width: 264px;
	height: 30px;
	text-align: center;
	float: right;
}

#cal_nav_tabs .cal_nav_tab_long form {
	margin-top: 4px;
}

#cal_nav_tabs a {
	margin-top: 6px;
	display: block;
}

#cal_nav_tabs a.month_month, #cal_nav_tabs a.week_week, #cal_nav_tabs a.day_day, #cal_nav_tabs a.upcoming_upcoming {
	color: #00529C;
}

#cal_nav_tabs a {
	color: #000000;
}



.clear_legend {
	clear: both;
	width: 100%;
}

#cal_legend {
	margin: 22px 0px;
}

.cal_legend {
	width: 32%;
	float: left;
}

#cal_month_majors {
	margin-top: 20px;
	background: #7FD1EC;
	border: 1px solid black;
	padding: 7px;
	color: #ffffff;
	height: 40px;
	overflow: hidden;
	position: relative;
}

#cal_month_majors a {
	color: #ffffff;
	text-decoration: none;
}

#cal_month_majors h2 {
	margin-top: 0px;
	padding: 10px 0px 20px;
}

#cal_month_majors h2.sIFR-replaced {
	margin-top: -5px;
	padding: 0px;
}

#major_controls {
	position: absolute;
	top: 5px;
	right: 0px;
}

#close_majors {
	color: #cccccc;
}

#main_cal td.monthoff  a.psf {
	color: #A5A599;
}

#main_cal a.psf {
	color: #333333;
}

div.upcoming {
	margin-top: 28px;
}

.colspan {
	padding: 1px 4px;
	margin: 2px;
}

#cal_outer_wrapper {
	position: relative;
}

.major_e div {
	float: right;
	width: 95%;
}

.major_e img {
	float: left;
}

#cal_month_majors .major_e a {
	text-decoration: underline;
}

#cal_month_majors span {
	position: absolute;
	top: 10px;
	right: 10px;
}

.major_e {clear: both;}

#select_overlay {
	position: absolute;
	right: 70px;
	top: 22px;
	font-size:12px;
}

table.eventdetails {
	clear: left;
}

.hideright {
	position: absolute;
	right: 10000px;
}

.pagination {
	margin-top: 1em;
}

#search_string {
	margin-top: 1em;
}

#main_cal_back {
	background: white none repeat scroll 0 0;
}
