{default
	playerid="ngfappl"
	width="400"
	height="310"
	image="/extension/ngflashvideo/design/standard/images/poster.jpg"
	displayheight="80"
}

{if is_set($feed_nodeid)}
	{def $spiff = concat("ngflv/mp3xspf/",$feed_nodeid)}
	{if is_set($depth)}
		{set $spiff = concat($spiff,"/",$depth)}
	{/if}
	{set $spiff = $spiff|ezurl(no)}
{else}
	{def $spiff = $feed_url}
{/if}

<p id="{$playerid}"><a href="http://www.macromedia.com/go/getflashplayer">Instalirajte Flash Player</a></p>

{literal}
<script type="text/javascript">
	var FO = {	movie:"/extension/ngflashvideo/design/standard/images/mp3player.swf",width:"{/literal}{$width}{literal}",height:"{/literal}{$height}{literal}",majorversion:"8",build:"0",bgcolor:"#FFFFFF",allowfullscreen:"true",
	flashvars:"file={/literal}{$spiff}&image={$image}{literal}&displayheight={/literal}{$displayheight}{literal}&showeq=true&lightcolor=0x6e788c&backcolor=0xffffff&frontcolor=0x42719E" };
	UFO.create(	FO, "{/literal}{$playerid}{literal}");
</script>
{/literal}