	<form class="headerSearchForm" action="http://www.google.com/search" method="get">
		<input type="hidden" name="cof" value="GIMP:#000000;T:#000000;ALC:#cc0000;GFNT:#666666;LC:#660000;BGC:#ffffff;AH:center;VLC:#996600;GL:0;S:http://www.fsu.com;GALT:#000000;AWFID:f0dcc05e5725f941;" />
		<input type="hidden" name="domains" value="fsu.edu;fsu.com" />
		<h2>SEARCH FLORIDA STATE</h2>
		<div class="headerStackSearchForm">
		<select id="search_fsu.com" name='sitesearch'>
			<option value='fsu.com'>FSU.com</option>
			<option value='fsu.edu'>FSU.edu</option>
			<option value=''>The Web</option>
		</select>
		<label><input type="text" class="SearchText" name="q" id="headerSearch" /></label><input class="headerSubmitSearch" name="sa" type="image" src={"go.png"|ezimage} alt="Submit Search" />
		</div>
	</form>
