{if ne($module_result.node_id,$pagedata.root_node_id)}<a href="/" id='home_text_link'>BACK TO HOME PAGE</a>{/if}
<img id='search_florida_state' src={'images/search_florida_state.png'|ezdesign}/>
<form class="headerSearchForm" method="get" action="http://www.google.com/search">
	<input type="hidden" name="cof" value="GIMP:#000000;T:#000000;ALC:#cc0000;GFNT:#666666;LC:#660000;BGC:#ffffff;AH:center;VLC:#996600;GL:0;S:http://news.fsu.edu;GALT:#000000;AWFID:f0dcc05e5725f941;" />
	<input type="hidden" name="domains" value="fsu.edu;fsu.com" />
  <div class="searchBar">
    <select class="headerSearchSelect" name="sitesearch">
      <option selected="selected" value="">Web</option>
      <option value="fsu.com">News.fsu.edu</option>
      <option value="fsu.edu">FSU.edu</option>
    </select>
    <input class="headerSearchBox" type="text" onclick="this.value=''" value="Search" size="20" name="q"/>
    <input class="headerSubmitSearch" type="image" alt="Submit Search" src={"images/fsuSearch2.gif"|ezdesign} name="sa" />
  </div>
</form>
