{*?template charset=utf-8?*}
{* Article - List item view *}
<div class="content-view-listitem">
    <div class="class-article">

     <h3><a href={$node.url_alias|ezroot}>{$node.data_map.title.content|wash}</a></h3>

    </div>
</div>