<div class="attribute-header">
    <h1 class="long">{'Choose document placement'|i18n('design/ezwebin/ezodf/browse_place')}</h1>
</div>

<p>
    {"Please choose the placement for the OpenOffice.org object.

    Select the placements and click the %buttonname button.
    Using the recent and bookmark items for quick placement is also possible.
    Click on placement names to change the browse listing."
    |i18n('design/ezwebin/ezodf/browse_place',,
          hash( '%buttonname','Select'|i18n('design/ezwebin/ezodf/browse_place')))
    |nl2br}
</p>

<br />
