	<form class="headerSearchForm" action="/content/search" method="post">
		<input type="hidden" name="SubTreeArray[]" value="2568" />
		<div class="headerStackSearchForm">
		<label><input type="text" class="headerSearchText" value="Controller's Office Search" name="SearchText" id="Search" onclick="javascript: this.value=''"/></label><input class="headerSubmitSearch" name="SearchButton" type="image" src={"fsuSearch2.gif"|ezimage} alt="Submit Search" />
		</div>
	</form>
