<div class='cal_nav_tab_long'>
{SEARCH_BOX}
</div>
<div class='cal_nav_tab'><a class="psf {CAL_FILE}_upcoming" href="javascript: get_callendar_xml('upcoming.php?cal={CAL}&amp;getdate={GETDATE}')">Upcoming</a></div>
<div class='cal_nav_tab'><a class="psf {CAL_FILE}_month" href="javascript: get_callendar_xml('month.php?cal={CAL}&amp;getdate={GETDATE}')">Month</a></div>
<div class='cal_nav_tab'><a class="psf {CAL_FILE}_week" href="javascript: get_callendar_xml('week.php?cal={CAL}&amp;getdate={GETDATE}')">Week</a></div>
<div class='cal_nav_tab'><a class="psf {CAL_FILE}_day" href="javascript: get_callendar_xml('day.php?cal={CAL}&amp;getdate={GETDATE}')">Day</a></div>
<div id='loading'></div>



