<!--							<table width="120" border="0" cellpadding="0" cellspacing="0">
								<tr valign="top">
									<td><a class="psf" href="javascript: get_callendar_xml('day.php?cal={CAL}&amp;getdate={GETDATE}')"><img src="/extension/phpicalendar/templates/{TEMPLATE}/images/day_on.gif" alt="{L_DAY}" border="0" /></a></td>
									<td><a class="psf" href="javascript: get_callendar_xml('week.php?cal={CAL}&amp;getdate={GETDATE}')"><img src="/extension/phpicalendar/templates/{TEMPLATE}/images/week_on.gif" alt="{L_WEEK}" border="0" /></a></td>
									<td><a class="psf" href="javascript: get_callendar_xml('month.php?cal={CAL}&amp;getdate={GETDATE}')"><img src="/extension/phpicalendar/templates/{TEMPLATE}/images/month_on.gif" alt="{L_MONTH}" border="0" /></a></td>
								</tr>
							</table>
-->


