<!-- switch results on -->
<font class="V12"><b>{EVENT_TEXT}</b></font><br />
	<table width="100%" border="0" cellspacing="1" cellpadding="1">
		<tr>
			<td width="120" class="G10BOLD">Time:</td>
			<td align="left" class="G10B"><a class="ps3" href="javascript: get_callendar_xml('day.php?cal={CAL}&amp;getdate={KEY}')">{DAYOFMONTH}</a> {EVENT_START}</td>
		</tr>
		<!-- switch location on -->
		<tr>
			<td width="120" class="G10BOLD">Location:</td>
			<td align="left" class="G10B">{LOCATION}</td>
		</tr>
		<!-- switch location off -->
		<!-- switch description on -->
		<tr>
			<td valign="top" width="100" class="G10BOLD">Description:</td>
			<td valign="top" align="left" class="G10B">{DESCRIPTION}</td>
		</tr>
		<!-- switch description off -->
	</table>	
<!-- switch results off -->

