{HEADER}
<center>
	<table width="760" border="0" cellspacing="0" cellpadding="0" class="calborder">
		<tr>
			<td align="center" valign="middle">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr valign="top">
						<td align="left" width="615" class="title"><h2>Legend</h2><p>{LEGEND}</p></td>
						<td align="right" width="120" class="navback">	
							<div style="padding-top: 3px;">
							<table><tr><td>{MONTH_SMALL|-1}</td><td>{MONTH_SMALL|+1}</td></tr></table>
							</div>
						</td>
					</tr>
					<tr valign="top"><td colspan='2'><h1>{DISPLAY_DATE}</h1></td></tr>  			
				</table>
			</td>
		</tr>	
		<tr><td>{MONTHMAJORS}</td></tr>
		<tr><td>
		{MONTH_LARGE|+0}
		</td>
		</tr>
	</table>
</center>
{FOOTER}


