<form id='searchform' name='searchform' onsubmit = "javascript: var getme = 'search.php?cal={CAL}&amp;getdate={GETDATE}&amp;query=' + this.query.value; get_callendar_xml(getme); return false;">
	<input type="hidden" name="cpath" value="{CPATH}"/>
	<input type="hidden" name="cal" value="{CAL}"/>
	<input type="hidden" name="getdate" value="{GETDATE}"/>
	<input type="text" size="18" name="query" value=""/>
	<input id="search_events" type="submit" name="submit" value="Search Events"/>
</form>

