<div id='cal_wrapper'>

	<div id='cal_legend'>
	{LEGEND}
	</div>

	<div id='cal_nav'>
		<div id='cal_nav_tabs'>{HEADER}</div>
			<div id='display_date_wrap'>
			<h2>UPCOMING EVENTS</h2> 
			</div>		
		</div>			

	<div id='main_cal_back'>
		
		<div id='main_cal' class='hideright'>
		{MONTH_LARGE|+0}
		</div>
		{FOOTER}


		<div id='News-Result'></div>

		<div id='pag_wrapper'>
			<div id='News-Pagination' class='pagination'></div>
		</div>
	
	</div>
	
</div>


