{let basenode = first_set($module_result.node_id,1710)
     patharray=fetch( 'content', 'node', hash( 'node_id', $basenode )).path_array|reverse
     nodeinpathfooterkids=array()
     myfooternode=array()}


{foreach $patharray as $thisnodeinpathid}
	{set nodeinpathfooterkids = fetch('content', 'list', hash('parent_node_id', $thisnodeinpathid, class_filter_type, 'include', class_filter_array, array('footer') ))}
	{if $nodeinpathfooterkids|count}
		{set myfooternode=$nodeinpathfooterkids.0}
	      {break}
	{/if}
{/foreach}

<div class="footer">
<div id='footerLogos'>
{def $altAppend = '-Rollover'
     $logoDir = 'images/footer-logos'
     $footerLogos = array( hash('name', 'FSU', 'type', 'jpg', 'text', 'The Florida State University', 'link', 'http://fsu.edu/'),
			   hash('name', 'FSU-Alumni', 'type', 'jpg', 'text', 'FSU Alumni Association', 'link', 'http://alumni.fsu.edu/'),
			   hash('name', 'Seminole-Boosters', 'type', 'jpg', 'text', 'Seminole Boosters', 'link', 'http://seminole-boosters.fsu.edu/'),
			   hash('name', 'FSU-Foundation', 'type', 'jpg', 'text', 'FSU Foundation', 'link', 'http://foundation.fsu.edu/'),
			   hash('name', 'Ringling', 'type', 'jpg', 'text', 'Ringling Museum of Art', 'link', 'http://www.ringling.org/') )
     $image = ''
     $altImage = ''}

{foreach $footerLogos as $logo}
{set $image = concat($logoDir, '/', $logo.name, '.', $logo.type)|ezdesign('no')
     $altImage = concat($logoDir, '/', $logo.name, $altAppend, '.', $logo.type)|ezdesign('no')}
  <span id="logo{$logo.link|md5()}">
<a href="{$logo.link}" target="_new">
<img class="ghost-image" alt="{$logo.text}" title="{$logo.text}" src="{$image|ezroot(no)}" />
<img class="main-image" alt="{$logo.text}" title="{$logo.text}" src="{$altImage|ezroot(no)}" />
</a>
  </span>
{/foreach}
</div>

<div class="footerText">
{if $myfooternode|count}
   <div class="footernode_nav object-right">
<a href="/content/view/sitemap/3132">Site Map</a>&nbsp;|&nbsp;
   {foreach $myfooternode.object.related_contentobject_array as $relatednode}
    {if $relatednode.data_map.location.content}
<a href={$relatednode.data_map.location.content}>{$relatednode.name|wash}</a>
    {elseif $relatednode.data_map.url.content}
<a href={$relatednode.data_map.url.content}>{$relatednode.name|wash}</a>
    {elseif $relatednode.data_map.internal_link.has_content}
<a href={fetch(content,object,hash(object_id,$this_menu.object.data_map.internal_link.content.relation_browse.0.contentobject_id ,object_version,$this_menu.object.data_map.internal_link.content.relation_browse.0.contentobject_version)).main_node.url_alias|ezroot}>{$relatednode.name|wash}</a>
    {else}
<a href={$relatednode.main_node.url_alias|ezroot}>{$relatednode.name|wash}</a>
    {/if}
    {delimiter}
    &nbsp;|&nbsp;
    {/delimiter}
   {/foreach}
   </div>
{/if}
{if $myfooternode.object.data_map.footer_text.has_content}
   <div class="footernode_text object-left">{$myfooternode.object.data_map.footer_text.content}</div>
{/if}

</div>

</div>

{/let}

{literal}
<script type="text/javascript">Cufon.now();</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-5213390-1");
pageTracker._trackPageview();
} catch(err) {}</script>
{/literal}