	<form class="headerSearchForm" action="http://www.google.com/search" method="get">
		<input type="hidden" name="cof" value="GIMP:#000000;T:#000000;ALC:#cc0000;GFNT:#666666;LC:#660000;BGC:#ffffff;AH:center;VLC:#996600;GL:0;S:http://www.fsu.com;GALT:#000000;AWFID:f0dcc05e5725f941;" />
		<input type="hidden" name="domains" value="fsu.edu;fsu.com" />
		<ul class="search-domains">
		  <li><input type="radio" id="search_fsu.com" name="sitesearch" value="fsu.com" checked="checked" /><label for="search_fsu.com">FSU.com</label></li>
		  <li><input type="radio" id="search_fsu.edu" name="sitesearch" value="fsu.edu" /><label for="search_fsu.edu">FSU.edu</label></li>
		  <li><input type="radio" id="search_the-web" name="sitesearch" value="" /><label for="search_the-web">The Web</label></li>
		</ul>
		<div class="headerStackSearchForm">
		<label><input type="text" class="SearchText" Search" name="q" id="headerSearch" /></label><input class="headerSubmitSearch" name="sa" type="image" src={"search-button.jpg"|ezimage} alt="Submit Search" />
		</div>
	</form>
