﻿{def $image="poster.jpg"|ezimage("no")}
<div class="class-audio">

	<div class="audio-in">
		<div class="audio-wrapper">
			{include uri='design:parts/multimedia_faplaylist.tpl' playerid="ngfapp1" width=$width height=$height feed_url=$feed_url image=$image displayheight="80"}
		</div>

	</div>

</div>