﻿{def $image="poster.jpg"|ezimage("no")}
<div class="class-video">

	<div class="video-in">
		<div class="video-wrapper">
			{include uri='design:parts/multimedia_fvplaylist.tpl' playerid="ngfvpp1" width=$width height=$height feed_url=$feed_url image=$image displayheight="291"}
		</div>

	</div>

</div>