/********************************************************************************
* Defines the general styles for the website
********************************************************************************/

/*********************
  core layout
*********************/
#document,#webpage,.document{
	font-size:14px;
	line-height:1.2;
	margin:0 auto;
	width:980px;
}
#site-columns{
	padding-bottom:20px;
	white-space:nowrap;
}
#site-main-content,#sidebar,#extrainfo,.column{
	display:inline-block;
	vertical-align:top;
	white-space:normal;
}
#site-main-content{
	margin:0 auto;
	width:100%;
}
.nosidebar #sidebar,.noextrainfo #extrainfo{
	display:none;
}
.sidebar #sidebar,.extrainfo #extrainfo{
	width:251px;
}
.sidebar.extrainfo #site-main-content{
	margin:0 6px;
	width:458px;
}
.noextrainfo.sidebar #site-main-content{
	margin-left:6px;
	width:719px;
}
.extrainfo.nosidebar #site-main-content{
	margin-right:6px;
	width:719px;
}

/*********************
  menu core
*********************/
ul.menu{
	line-height:14px;
	list-style-type:none;
	margin:0;
	padding:0;
}
ul.menu li{
	list-style-type:none;
	margin:0;
}
ul.menu li .delimiter{
	margin-left:4px;
}
ul.menu li .delimiter img,ul.menu li img{
	vertical-align:middle;
}
ul.horizontal{
	clear:left;
	display:inline-block;
	position:relative;
}
ul.horizontal li{
	display:inline-block;
	position:relative;
	white-space:nowrap;
}
ul.horizontal li a{
	padding:2px 4px;
}
ul.vertical li{
	display:list-item !important;
}
ul.vertical .delimiter{
	display:none;
}
ul.vertical li{
	border-bottom:1px solid #000000;
}
ul.vertical li:last-child{
	border-width:0;
}
ul.vertical li a{
	display:block;
	padding:2px 0;
}
ul.menu li.current a{
	background-color:#cccccc;
}
ul.menu ul.menu{
	display:none;
	position:absolute;
	text-align:left;
}

/*********************
  navigation
*********************/
#global-menubar{
	font-weight:bold;
	margin-bottom:10px;
	text-align:center;
}
#global-menubar ul.menu{
	margin:0 auto;
	z-index: 10000;
}
#global-menubar a{
	text-decoration:none;
}
#path{
	font-size:14px;
	margin-bottom:4px;
}
#path a{
	color:#000000;
}
#path .delimiter{
	margin:0 4px;
}

/*********************
  header
*********************/
#site-header{
	height:90px;
	position:relative;
}
#site-header .document{
	position:relative;
}
#logo{
	left:16px;
	position:absolute;
	top:16px;
}
#logo h1{
	margin:0;
}
#utility{
	position:absolute;
	right:20px;
	text-align:center;
}
#search{
	padding:4px;
	position:absolute;
	right:0;
	top:60px;
}
.searchbutton{
	vertical-align:middle;
}

/*********************
  banners
*********************/
#banner-container{
	margin:8px auto;
	position:relative;
}
#banner-frame,#banner-frame-link{
	display:block;
	position:absolute;
	z-index:10;
}
#banners{
	margin:0;
}
#banners img{
	vertical-align:middle;
}

/*********************
  footer
*********************/
#site-footer{
	height:64px;
	position:relative;
}
#copyright{
	color:#000000;
	padding:8px 12px;
	text-align:center;
}