{*?template charset=utf-8?*}
{* Article - Line view *}
<div class="content-view-listtiemnews">
    <div class="class-article">

    <h2><a href={$node.url_alias|ezroot}>{$node.data_map.title.content|wash}</a></h2>

    </div>
</div>