/* Basic Page Elements */
body {
	background-color:#FFF;
	background:url(../images/pageBg.png) repeat-x top;
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
}
a, a:link, a:visited {
	/* 	color:#540115;   */
     color:#80243a;
	text-decoration:none;
}
a:hover {
	color:#c00;
	text-decoration:none;
}
img {
	border-width:0px;
}
.floatLeft {
	float:left;
}
.floatRight {
	float:right;
}
p {
	margin:0px 0px 10px 0px;
	line-height: 1.5em;
}
.accessibleText {
	display:none;
	visibility:hidden;
}
/* End Basic Page Elements */
	
	
	
/* FSU Header */
.headerContainer {
	color:#000;
	height:84px;
	width:100%;
}
.header {
	margin:0px auto;
	width:898px;
	height:84px;
}
.headerFSUSeal {
	float:left;
	display:none;
}
.headerFSUTitle {
	float:left;
	padding-top:4px;
}
.headerSearchForm {
	float:right;
	margin-top:20px;
	width:212px;
}
.headerSearchText {
	display:block;
	float:left;
	width:170px;
	margin-right:6px;
}
.headerSubmitSearch {
	display:block;
	float:left;
	width:29px;
	position:relative;
}
/* End FSU Header */


/* Some quickLinks css had to be moved to ez style sheets */

.quickLinksCenter {
	width:902px;
	margin:0px auto;
}
.quickLinksPosition {
	position:relative;
	top:11px;
	z-index:10;
}
.quickLinks, .quickLinksHover {
	background:url(../images/quickLinks4.png) no-repeat top;
	position:absolute;
	left:702px;
	cursor:pointer;
	overflow:hidden;
	z-index:10;
	width:198px;
	list-style: none;
	margin:0px;
	padding:0px;
}
.quickLinks {
	height:18px;
}
.quickLinks ul {
	display:none;
}
.quickLinksHover {
	background:url(../images/quickLinks4Over.png) no-repeat top;
	padding-top:19px;
	font-size:.7em;
	left:702px;
	border-left:1px solid #CDC092;
	border-right:1px solid #CDC092;
	background-color:#FFF;
	width:197px;
}
.quickLinksHover h1 {
	font-weight:100;
}
.quickLinksHover ul {
	margin:0px;
	padding:0px;
}
.quickLinksHover li {
	display:inline;
	margin:0px;
	padding:0px;
}
.quickLinksHover a:link, .quickLinksHover a:visited {
	display:block;
	background-color:#FFF;
	border-bottom:1px solid #CDC092;
	padding:2px 0px 2px 10px;
	margin:0px;
	text-decoration:none;
}
.quickLinksHover a:hover {
	background-color:#F1F1D4;
	color:#000;
}
/* End Quick Links */

	

/* Top of Fold */

.tofContainer {
	/*background:url(../images/tofBg.gif) #300 repeat-x;*/
	color:#000;
}
/* removed line height:133px; */
.tof {
	display:block;
	color:#610e21;
	border-left:1px solid #CDC092;
	border-right:1px solid #CDC092;
	height:133px;
	margin:0px auto;
	width:898px;
}
.tofTextMain {
	font-weight:700;
	font-size:1.3em;
	color: #fff;
	width:898px;
	height:25px;
	padding-left: 15px;
	padding-top:16px;
}
.tofTextMain a, .tofTextMain a:visited {
	color:#fff;
}
.tofTextMain a:hover {
	color:#CDC092;
}
.tofTextSub {
	margin:0px;
	font-weight:100;
	font-size:1.4em;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	color:#CDC092;
	position: relative;
	bottom:50px;
	width:898px;
	height:30px;
	margin-top:55px;
	padding-left: 15px;
}
a.tofMore:link, a.tofMore:hover, a.tofMore:visited, a.tofClose:link, a.tofClose:hover, a.tofClose:visited {
	/* display:block; */
	float:left;
	margin:108px 0px 0px 216px;
	height:14px;
	width:55px;
	background-repeat:no-repeat;
}
a.tofMore {
	background-image:url(../images/more.gif);
}
a.tofMore:hover {
	background-image:url(../images/moreOver.gif);
}
a.tofClose {
	background-image:url(../images/close.gif);
}
a.tofClose:hover {
	background-image:url(../images/closeOver.gif);
}
/* End Top of Fold */



/* Fold */
div.fold {
	font-size:.75em;
	width:898px;
	margin:0px auto;
	height:auto;
}
div.foldBorders {
	width:898px;
	overflow:hidden;
	margin:0px auto;
}
/* End Fold */

	
	
/* Bottom of Fold */
.profile {
	border-top:1px solid #CDC092;
	clear:both;
}
.profileThumb {
	margin:10px 10px 10px 0px;
	float:left;
}
.profile h4 {
	font-size:1em;
	margin-top:10px;
	margin-bottom:2px;
	padding:0;
}
.profile p {
	margin-bottom:4px;
}
.bofContainer {
	float:left;
	width:100%;
}
.bofCentered {
	margin:0px auto;
	width:900px;
}
/* List Items */
.bofContainer ul {
	margin-bottom:1.2em;
}
.bofContainer li {
	margin-left:-30px;
	padding-bottom:.2em;
	list-style-type:none;
	line-height:1.3em;
}
.bofContainer ul li {
	padding-left:12px;
	background:url(../images/fsuBullet2.gif) no-repeat;
}
.bofContainer ul li ul {
	margin-top:.5em;
	margin-bottom:0;
}
.bofContainer ul li ul li {
	background:url(../images/fsuBullet2a.gif) no-repeat;
	margin-left:-15px;
}
/* End List Items */



.bof {
	/*background:url(../images/background_noborders.gif) left top repeat-y;*/
	float:left;
	background-color:#fff;
	border-width:0px 1px 0px 1px;
	border-style:solid;
	border-color:#CDC092;
	width:898px;
	min-height:400px;
}
.bofLeftColumn, .bofLeftColumn ul {
	float:left;
	width:195px;
	list-style:none;
	margin:0px;
	padding:0px;
	border-right:1px dotted #CDC092;
}
.bofLeftColumn ol {
	display: block;
	text-align:left;
	list-style:none;
	margin:0px;
	padding:0px;
}
.bofLeftColumn ul li ol a, .bofLeftColumn ul li ol a:link, .bofLeftColumn ul li ol a:visited {
	padding-left:30px;
	color:#000;
	font-weight:500;
	font-size:.7em;
	width:150px;
}
.bofLeftColumn a, .bofLeftColumn a:link, .bofLeftColumn a:visited {
	display:block;
	color:#610e21;
	padding:4px 15px;
	border-bottom:1px dotted #CDC092;
	font-weight:700;
	font-size:.8em;
	width:165px;
}
.bofLeftColumn a:hover {
	background:#EDE9D8;
	color:#000;
}
.noLink {
	display:block;
	color:#500114;
	padding:4px 15px;
	border-bottom:1px dotted #CDC092;
	font-weight:700;
	font-size:.8em;
	width:165px;
}
.bofLeftColumn a.quickLinksNew:link, a.quickLinksNew:hover, a.quickLinksNew:visited {
	background-image:url(../images/quickLinks6.gif);
	background-position:center;
	padding-top:15px;
	height:20px;
	margin-bottom:20px;
	background-repeat:no-repeat;
	border-bottom:none;
}
.bofLeftColumn a.quickLinksNew:hover {
	background:none;
	background-image:url(../images/quickLinks6Over.gif);
	background-position:center;
	background-repeat:no-repeat;
}
.bofMiddleColumn {
	background:url(../images/borders.gif) repeat-y top left;
	float:right;
	width:703px;
}
.bofMiddleColumnExpanded {
	background:url(../images/middleColExpanded.gif) repeat-y top left;
	float:right;
	line-height:.8em;
	width:703px;
}
.bofMiddleText {
	font-size:0.8em;
	width:477px;
	line-height:normal;
	padding: 10px 10px 10px 20px;
}
.bofMiddleText a, table.renderedtable a {
	border-bottom: 1px dotted #80243A;
	text-decoration: none;
}
.attribute-image a { border-bottom:none; }

.bofMiddleText a:hover {
	border-bottom: 1px solid #C00;
}
.object-right a, .object-left a, .object-right a:hover, .object-left a:hover {
	border-bottom: none;
}
.bofMiddleText h1 {
	font-weight:100;
	margin:0px;
	margin-bottom:10px;
	font-size:1.8em;
	line-height:normal;
}
.bofMiddleText h2 {
	font-weight:100;
	font-family:"Times New Roman", Times, serif;
	font-size: 1.4em;
	color: #000;
	font-style: italic;
	padding-bottom:3px;
	border-bottom:1px solid #000;
	margin-top:0px;
	margin-bottom:6px;
}
.bofMiddleText h2 a, .bofMiddleText h2 a:hover {
	border-bottom: none;
}
.bofMiddleText H3 {
	font-size:1.2em;
	margin-bottom:0px;
}
.bofMiddleTextExpanded {
	float:left;
	font-size:0.8em;
	width:560px;
	line-height:1.4em;
	padding: 10px 10px 10px 20px;
}
.bofMiddleTextExpanded a:hover {
	text-decoration:underline;
}
.bofMiddleTextExpanded H1 {
	font-weight:100;
	margin:0px;
	margin-bottom:10px;
	font-size:1.8em;
}
.bofMiddleTextExpanded H2 {
	font-weight:100;
	font-family:"Times New Roman", Times, serif;
	font-size: 1.4em;
	color: #000;
	font-style: italic;
	padding-bottom:3px;
	border-bottom:1px solid #000;
	margin-top:0px;
	margin-bottom:6px;
}
.bofMiddleTextExpanded H3 {
	font-size:1em;
	margin-top:14px;
}
.bofRightColumn {
	float:right;
	width:195px;
}
.bofRightColumn H1 {
	margin-bottom:4px;
	color:#610e21;
	font-weight:700;
	font-size:.9em;
	text-transform:uppercase;
	line-height:normal;
}
.bofRightColumn ul {
	margin-top:0px;
	margin-bottom:0px;
}
.rightLinks {
	margin:10px 0px 20px;
	font-size:0.7em;
}
.rightLinks a:hover {
	text-decoration:underline;
}
/*
.rightLinks li {
	margin-left:-10px;
	margin-bottom:4px;
	list-style-image:url(../images/fsuBullet.gif);
	}
.rightLinks li ul li {
	margin-left:0px;
	}
*/	

.bofRightImage {
	width:145px;
	margin-bottom:5px;
	background-repeat:no-repeat;
}
.bofRightColFloat {
	float:right;
	width:145px;
	margin:0px 0px 10px 10px;
}
a.bofMore:link, a.bofMore:hover, a.bofMore:visited, a.bofCloseUpper:link, a.bofCloseUpper:hover, a.bofCloseUpper:visited, a.bofCloseLower:link, a.bofCloseLower:hover, a.bofCloseLower:visited {
	display:block;
	float:right;
	margin:5px 0px 20px 0px;
	height:14px;
	width:55px;
	background-repeat:no-repeat;
}
a.bofMore {
	background-image:url(../images/more.gif);
}
a.bofMore:hover {
	background-image:url(../images/moreOver.gif);
}
a.bofCloseUpper, a.bofCloseLower {
	background-image:url(../images/close.gif);
}
a.bofCloseUpper:hover, a.bofCloseLower:hover {
	background-image:url(../images/closeOver.gif);
}
.bofBonusArea {
	border-left:1px solid #CDC092;
	border-right:1px solid #CDC092;
	width:898px;
}
.relatedLinksContainer {
	background-color:#fff;
	border:1px solid #CDC092;
	list-style-image:url(../images/fsuBullet.gif);
	font-size:.9em;
	float:right;
	margin:5px 0px 10px 10px;
	width:200px;
}
.relatedLinksHeader {
	background-color:#F1F1D4;
	padding:2px 6px 4px;
	font-weight:700;
	text-transform: uppercase;
	font-size: 0.9em;
}
.relatedLinksContainer li {
	margin:0px 6px 4px -15px;
	line-height:normal;
}
.relatedLinksContainer ul {
	color:#610e21;
	margin-top:2px;
	margin-bottom:5px;
}
.rightStoryText {
	font-size:.65em;
	font-style:italic;
	padding:5px;
}
.level2photo {
	margin-left:10px;
	margin-top:10px;
	margin-bottom:6px;
	float:right;
	width:195px;
	height:133px;
	border:1px solid #000;
}
.highlightsPhotoContainer {
	margin-left:10px;
	margin-top:0px;
	margin-bottom:6px;
	padding-bottom:4px;
	background:#e7e7b8;
	float:right;
	width:278px;
	text-align:center;
	font-size:.8em;
	line-height:normal;
	border:1px solid #000;
}
.highlightsPhoto {
	margin-bottom:2px;
}
/* End Bottom of Fold */



/* Footer */
.footerContainer {
	clear:left;
	float:left;
	width:100%;
}
.footer {
	color:#8B7241;
	font-size:.7em;
	line-height:1.3em;
	width:898px;
	margin:0px auto;
	padding:0;
	text-align:center;
	border-top:1px solid #CDC092;
}
.footerText {
	float:left;
	width:898px;
	padding-top:10px;
}
.footer a, .footer a:link, .footer a:visited {
	color:#8B7241;
	border-bottom:1px dotted #8B7241;
}
.footer a:hover {
	border-bottom:1px solid;
	color:#815E31;
}
.thread {
	display:none;
	width:898px;
	height:12px;
	background:url(../images/thread.png) repeat-x left center;
	border-top:1px solid #8B7241;
	border-bottom:1px solid #8B7241;
	margin:10px auto;
	padding:2px 0px;
}	
/* End Footer */
