p.flashheadline {
	font-family: georgia, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bolder;
	color: #ffffff;
	display:block;
}

p.flashsubtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	display:block;
}

body {
	text-align: left;
}

/* Quick Links */

.quickLinksPosition {
	width: 100%;
}

#osg_quicklinks LI {
	background: none;
}

* html .quickLinks {
	height: 17px;
}

* html .quickLinksContainer {
	width:100%;
	margin-top:-18px;
	top: 0;
	}

.quickLinksContainer {
	width:100%;
	font-size: 110%;
	position:absolute;
//	position:relative;
	z-index:10;
	height:1px;
	top:56px;
//	top:-18px;
	}

div.no_page_notes {
	width: 570px! important;
}

div.bofMiddleColumn, div.bofLeftColumn {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.bof {
	font-size: 120%;
	overflow: hidden;
}


form.headerSearchForm {
	width:200px;
	}

div.tofContainer {
	text-align: center;
}


.bofLeftColumn a img {
	margin-bottom: 18px;
	margin-top: 0px;

}

div#schoolname {
	float: left;
	padding-left: 75px;
	padding-top: 3px;
	font-size: 80%;
}

div.class-faculty #mainsummary, div.class-faculty #user-additionalinfo {
	float: right;
	background: white;
	margin: 0px 0px 10px 10px;
	border: 1px solid #CCCC66;
	width: 180px;
}

div.class-faculty #mainsummary {
	float: left;
}
div#maindetails {
	clear: both;
}

div#user-additionalinfo .MatrixSpecName {
	font-weight: bold;
}
div#user-additionalinfo .MatrixSpec {
	margin: 0px 0px 8px 8px;
	
}

div#user-additionalinfo h4 {
	background: #F1F1D4;
	padding: 3px;
	text-transform: uppercase;
	font-size: 90%;
}


div.class-faculty #user-image {
	float: left;
	margin: 0px 8px 8px 0px;
}
div.class-faculty div.attribute-title {
	margin-bottom: 8px;
	padding-bottom: 8px;
	clear: both;
	font-size: 120%;
	font-weight: bold;
}

div.class-faculty #mainsummary .attribute-long {
	margin-bottom: 8px;
}

.object-left {padding-right: 15px;}

.object-right {padding-left: 15px;}

div.factbox {
	width: 80%;
	margin-bottom: 1em;
}

div.class-infobox div.attribute-content {
	color: #555;
}

input.headerSubmitSearch {
	display: block;
	float: left;
	width: 17px;
	top: 2px;
	position: relative;
}

.attribute-caption-sg {
}

.attribute-caption-sg p {
	margin: 4px 0 0 0;
	color: white;
	text-align: center;
}

div.tofcontainer {
	position: relative;
}




div#events .date span, .itemized_sub_items .date span
{
	font-size: 180%;
	display: block;
}

.event { clear: left; }


div#events .event, .itemized_sub_items .event {
	padding-top: 3px;
	margin-bottom: 3px;
}

div#events .same, .itemized_sub_items .same {
	border-top: 1px dashed #999;
}


div#events .event h4, div#events .event p, .itemized_sub_items .event h4, .itemized_sub_items .event p{
	margin: 0px ;
	padding: 0px 3px 3px 44px;
}

#supergraphic_container {
	position: relative;
	width: 795px;
	margin: 0px auto;
	border-left:1px solid #CC6;
	border-right:1px solid #CC6;
	background: #000;
}

#supergraphic_container img {

}



.ezagenda_date {
	font-weight: bold;
	border-top: 2px solid #bbb;
	border-bottom: 1px solid #bbb;
	margin-bottom: 10px;
	display: block;
}

.object-right {
	margin-left: 10px;
}

.object-left {
	margin-right: 10px;
}

.hidden {display: none}

.class-event-calendar ul {
	margin: 0;
	list-style: none;	
	font-size: 90%;
}

.content-view-embed ul {
	margin-top: -20px;
}

.content-view-line .default {
	clear: both;
}


.quickLinksHover li.thickborder a {
	border-bottom: 3px solid black;
}

.attribute-bottom-column {
	width: 100%;
}

ol {
	width: 100%;
}

.bofLeftColumn ul {
	padding-bottom: 18px;
	width: 100%;
}

.bofLeftColumn ul li li .noLink {
        color: #000;
        font-size: 0.7em;
        font-weight: 500;
        padding: 4px 15px 4px 30px;
        width: 150px;
}

.bofLeftColumn ul li li ol a, .bofLeftColumn ul li li ol a:link, .bofLeftColumn ul li li ol a:visited, .bofLeftColumn ul li li ol .noLink {
	padding-left:40px;
	color:#000;
	font-weight:400;
	font-size:.5em;
	width:140px;
	}

.bofLeftColumn .noLink {
	background:#e7e7b8;
}

html>body div#ezagenda_calendar_right img {
	overflow: hidden;
	width: 100%;
}


#maincontent_design {
	margin-bottom: 20px;
}

.links_title {
	display: block;
	text-align: right;
	font-size: 90%;
	padding-right: 5px;
}

.quickLinksHover {
	padding-top: 0px;
}

.quickLinksHover .links_title {
	font-size: 130%;
	color: white;
	height: 20px;
}

.right-column .box-content, .right-column .itemized_sub_items .bl {
	padding-right: 0;
}

.event p {
	font-size: 90%;
}

div.itemized_sub_items h2 {
	top: -46px;
}

div.itemized_sub_items {
	margin-top: 36px;
}

.bofLeftColumn ul {
	min-height: 300px;
}

* html .bofLeftColumn ul {
	height: 300px;
}

.bofLeftColumn {
       margin-left: -100%;
}

#full_width_float {
	float: left;
	width: 100%;
       margin-bottom: 0px;
       padding-bottom: 0px;
}

.bofMiddleColumn {
	margin-left: 195px;
	float: none;
}

#debug {
	clear: both;
}

/* @group droptopmenu */

div.foldBorders {
  height: 27px;
  text-align: right;
}

#topmenu_wrapper {
	text-align: center;
	position: relative;
	width: 795px;
	margin: 0px auto;
}

ul#menuList {
	bottom: 0px;
	right: 0px;
	z-index: 100;
	margin: 0px;
	padding: 0px;
	position: absolute;
	height: 27px;
	width: 795px;
	text-align: right;
}

#mainMenu {
	background: black;
	padding: 0 8px 0 0;
	margin: 0;
	width: 100%;
	border-bottom: 1px solid white;
}

#menuList ul {
	z-index:100;
	margin: 0px;
	padding: 3px 0px 0px 0px;
	background: black;
}

#grad_studs_tofContainer {
	position: relative;
}

* html #grad_studs_tofContainer {
	float: left;
       width: 100%;
}

#menuList li {
	z-index:100;
	display:inline;
	list-style: none;
	margin: 2px -3px 0px 0px;
	padding:0;
	height: 25px;
	background-image: none;
	color: #fff;
       font-size: 11px;
}

#menuList li li {
	width: 180px;
	margin: 0px;
       padding: 0px;
}

a.starter
{	z-index: 100;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	color: white;
	border-right: 1px white solid;
	padding: .4em .65em;
	width: 100%;
	line-height: 25px;
}

li.last_one a.starter {
	border-right: none;
}

a.starter:hover, a.starter:active, a.starter:focus {
	color: #ddd;
	background: #333;
}


.menu {
	text-align: left;
	position: absolute;
	visibility: hidden;
	z-index: 100;
}

.menu li {
	width: 100%;
}

.menu li a {
	z-index:100;
	display: block;
	width: 180px;
	text-transform: none;
	font-weight: normal;
	color: white;
	padding: 0.2em 0.3em;
	border-bottom: 1px solid white;
	}

.menu li a:hover, .menu li a:active, .menu li a:focus {
	color: #ccc;
}

.menu li a.more
{
	background-image: url('more_off.gif');
	background-repeat: no-repeat;
	background-position: right;
}


#menulist ul li ul li {

}

/** Support for the "iframe-fix" **/
#menuList iframe {
position: absolute;
left: 0;
top: 0;
z-index: -10;
filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);
}
/** end **/

/* @end */

#l_nav {
	float: left;
}

.footerContainer {
       position: none;
       top: 0px;
       margin-top: -1px;
}
