/* PRINT CSS - 20060522 */

/* This CSS file hides unwanted elements when a page is printed out, 
by overriding styles set in pagelayout.css */

body
{
    font-size: 10pt;
	background: none;
}

div#searchbox, div#path, div#topmenu, div#sidemenu, div#extrainfo, div#footer, div#usermenu, div#logo, div#toolbar
{
    display: none; /* Hide elments not wanted on a printed page */
}

body, div#page, div#header, div#main
{   
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

div#columns
{
    padding: 0;
}

div#main-position
{
	margin: 0;
}

div#main-position, div.float-insert
{
    float: none;
}

div.box
{
    border: none;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

div.box div.box-content
{
	padding: 0;
}

div.box div.tl, div.box div.tr, div.box div.br, div.box div.bl
{
    background: none;
}
