h2 .morelink {
	display: inline;
	zoom: 1;
}

#pagewrap .style_featured .tag_header h2 {
	display: inline;
	zoom: 1;
}

#pagewrap .style_featured .tag_header h4 {
	display: inline;
	zoom: 1;
}

.banner_controls li {
	display: inline;
	zoom: 1;
}

.banner_controls a {
	display: inline;
	zoom: 1;
}

#navigation li {
	display: inline;
	zoom: 1;
}

#navigation a {
	display: inline;
	zoom: 1;
}

.date-icon {
	display: inline;
	zoom: 1;
}

.evbodwrap {
	display: inline;
	zoom: 1;
}

.feature_label {
	display: inline;
	zoom: 1;
}