.logotagwrap {
	position: relative;
	text-decoration: none;
}
a.logotagwrap {
	border-bottom: none;
}
#logotag {
	position: relative;
	left: -293px;
	top: 50px;
	color: #CDC092;
	text-decoration: none;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 14px;
}
div.attribute-image {
	float: left;
	margin: 0.25em 0 0.5em 0;
}
div.class-infobox {
	float: right;
	font-size: 100%;
	margin: 0;
}
#filmdev div.class-infobox h1 {
	font-size: 1em;
	margin-bottom: 0;
	padding-top: 10px;
}
body .infoBox p {
	text-align: justify;
	padding-bottom: 10px;
}
#filmdev ul, #filmdev ol {
	margin: 0px;
}
.bofMiddleColumn .faculty_section ul li {
	list-style-type: none;
	background-image: none;
	margin-left: 0px;
	padding-left: 0px;
}
.attribute-image a {
	border: none;
}
div.class-faculty #mainsummary, div.class-faculty #user-additionalinfo {
	float:right;
	background: white;
	margin: 0px 0px 10px 10px;
	border-left: 4px solid #CDC092;
	width: 200px;
}
div#user-top div.attribute-title {
	font-size:1.4em;
	margin-bottom:20px;
}
div#user-additionalinfo .MatrixSpecName {
	font-weight: bold;
}
div#user-additionalinfo .MatrixSpec {
	margin: 0px 0px 10px 10px;
}
div#user-additionalinfo h4 {
	padding: 3px;
	margin:0px 0px 10px 10px;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing:.1em;
	color: #540115;
	border-bottom:1px solid #540115;
}
div.class-faculty #user-image {
	float: left;
	margin: 0px 10px 10px 0px;
	border:1px solid #CCC;
	padding:3px 3px 0px 3px;
}
.bofMiddleColumn ol li {
	list-style-type: decimal;
}
img.inline {
	float: right;
	margin: 1em 0px 1em 1em;
}
span.evbodwrap {
	width: 108px;
}
.subpage .headerContainer {
	margin-bottom: 130px;
}
p#path {
	float: left;
	clear: both;
	padding: 8px 0 8px 2px;
}
/* colors for ajax calendar   */ 

#calendar #display_date_wrap, #mainbox #calendar table td.dateback {
	background: #540115;
}
div#calendar #cal_prev_month a, div#mainbox #cal_next_month a {
	color: #fff;
}
#calendar #cal_month_majors {
	background: #Cdc092;
}
#calendar a:link, #calendar a:visited {
	border-bottom: none;
}
#calendar #cal_nav_tabs .cal_nav_tab_long {
	width: 238px;
}
.pageContainer .tof {
	height: 400px;
}
.left-column, .center-column, .right-column {
	height: 250px;
	width: 240px;
	margin: 0;
	overflow: hidden;
}
.left-column {
	border-right: 1px solid #CCC;
	position: absolute;
}
.center-column {
	border-right: 1px solid #CCC;
	position: absolute;
}
.right-column {
	border-right: 1px solid #CCC;
	position: absolute;
	left: 510px;
}
.left-column p, .center-column p, .right-column p {
	width: 230px;
}
div.center-column-position {
	margin-left: 71px;
}
div.right-column-position {
	margin-left: -324px;
}
.left-column img, .center-column img, .right-column img {
	float: left;
	width: 220px;
	padding-bottom: 10px;
}
div.content-view-full div.class-frontpage {
	padding: 0;
}
div.object-right {
	clear: none;
}
div.object-left {
	margin-right: 1em;
}
div.attribute-caption {
	font-style: italic;
	font-size: .8em;
}
div.center-column.float-break .overflow-fix {
	float: left;
}



/*  User Profiles - faculty and staff  */
div.class-user {
	width:430px;
	height: 130px;
	padding: 10px;
	margin:10px;
	float: left;
	font-size: .9em;	
	border-top:1px solid #CDC092;
	display:block;
	overflow:hidden;
	}
div.class-user p {
	padding-right:20px;
}
div.class-user h2, div.class-user h2 a {
	text-transform:uppercase;
	letter-spacing:.1em;
	font-size:.7em;
	font-weight:700;
}
#maincontent_design div.class-user h2 { font-family:Arial, Helvetica, sans-serif; font-style:normal; font-weight:700; font-size:1.1em; border-bottom:1px solid #990000; padding-bottom:1px; }	
	
div.class-user div.attribute-image {
	margin:0 10px 10px 0;
	padding:2px;
	clear: none;
	overflow:hidden;
	font-size: 100%;
	font-weight: bold;
	border:1px solid #CCC;
	background-color: #FFF;
}

div.class-user div.attribute-image a { border-bottom:none; }


/* NEEDED TO REMOVE GRAY LINE FROM FACULTY PROFILES */
div.content-view-full div.class-folder div.content-view-children div.content-view-line {
  border-bottom: none;
  margin-bottom: 0px;
}
/* NEEDED TO ADD GRAY LINE BACK TO VERTICALLY LISTED FOLDERS AND INFO PAGES */
div.content-view-line div.class-info_page, div.content-view-line div.class-folder, div.class-article.float-break {
	border-bottom: 1px solid #DEDEDE;
	margin-bottom: 7px;
}

