@charset "UTF-8";
/* CSS Document */

html {
	background:#000;
}
body {
	background: #FFF url(../images/fsuimages/bg_1x225.gif) repeat-x;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:65%;
}
img {
	border:0;
}
a img { 
	vertical-align:top;
}
div.content-view-full div.class-article img {
	float: right;
	display: inline;
	margin-left: 10px;
}
.accessibleText {
	display:none;
	visibility:hidden;
}
.topBar {
	height: 14px;
	width:950px;
	margin:0px auto;
	background-image:url(../images/fsuimages/goldBarBg.jpg);
}
.pageContainer {
	width:950px;
	margin:0px auto;
	padding:0px;
}
.tofContainer {
	color:#000;
	float:right;
	width:954px;
	overflow:hidden;
}
.tof {
	display:block;
	background-color:#540115;
	border:2px solid #FFF;
	margin-bottom:15px;
	width:950px;
	height:400px;
}
a.tofMore:link, a.tofMore:hover, a.tofMore:visited, a.tofClose:link, a.tofClose:hover, a.tofClose:visited {
	float:left;
	margin:189px 0px 0px 15px;
	height:13px;
	width:49px;
	background-repeat:no-repeat;
	border:none;
}
a.tofMore {
	background-image:url(../images/fsuimages/more.gif);
}
a.tofMore:hover {
	background-image:url(../images/fsuimages/moreOver.gif);
}
a.tofClose {
	background-image:url(../images/fsuimages/close.gif);
}
a.tofClose:hover {
	background-image:url(../images/fsuimages/closeOver.gif);
}
.header {
	height:110px;
	width:950px;
	float:left;
	display:block;
	padding-top:20px;
	background:url(../images/fsuimages/garnetBg2.gif) repeat-y center;
}
.header a:link, .header a:visited {
	border:none;
}
.header img {
	float:left;
	clear:none;
}
.mainContent {
	font-size:1.2em;
	width:952px;
	min-height:250px;
	float:right;
	position:relative;
	/*background:url(../images/fsuimages/newsBg.png) repeat-x;*/
	background-color:#FFF;
	overflow:hidden;
}
	
.mainContent ul, .mainContent ol {
	margin: 0.75em 0 1em 2.5em;
}

.feature {
	width:425px;
	float:left;
	clear:none;
	padding:10px 15px 0px 15px;
	font-size:1.2em;
	line-height:1.4em;
	border-right:1px solid #CDC092;
	min-height:250px;
}
.feature ul li {
	padding-left:12px;
	background:url(../images/fsuimages/fsuBulletBlack.gif) no-repeat;
	list-style-type:none;
 }
.feature li {
	padding-bottom:.5em;
/* added 20100630 to move list items to left */
	margin-left:-30px;
	list-style-type:none;
	line-height:1.3em;
/* */
 }
.feature p {
	margin-top:1em;
	margin-bottom:1em;
}
.feature h1 {
	font-size:1.2em;
	line-height:1.1em;
	margin-top:4px;
	margin-bottom:0px;
}
.feature h2 {
	font-family:"Times New Roman", Times, serif;
	font-weight:100;
	font-style:italic;
	font-size:1.3em;
}
.insetPhoto {
	display:block;
	float:right;
	margin:10px 0px 10px 10px;
	padding:1px;
	border:1px solid #CCC;
	background-color:#FFF;
}
.insetPhotoLeft {
	display:block;
	float:left;
	margin:10px 15px 10px 0px;
	padding:1px;
	border:1px solid #CCC;
	background-color:#FFF;
}
.insetPhotoCaption {
	text-align:center;
	font-size:.8em;
	line-height:1.5em;
	color:#666;
	margin:0px;
	padding:0px 2px 2px 2px;
}
/*.bofLeftImage {
	background-image: url(../images/fsuimages/featurePhotoBg.png);
	width:140px;
	background-repeat:no-repeat;
	padding:5px 8px 5px 5px;
	position:relative;
	left:-4px;
	top:-4px;
}*/
.bofLeftImage {
	padding:1px;
	margin-bottom:10px;
	width:123px;
	height:123px;
	border:1px solid #CCC;
	background-color:#FFF;
}
.bofLeftColFloat {
	float:left;
	width:140px;
	margin:5px 0px 10px 0px;
}
.storyByline {
	color:#999;
	font-size:.9em;
	font-style:italic;
	line-height:normal;
	border-top:1px solid #999;
	padding:4px 0px 10px 0px;	
}
.news {
	float:right;
	width:222px;
	padding:10px 15px 10px 9px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.2em;
	min-height:250px;
	line-height:1.3em;
	overflow:hidden;
}

#fsubody .mainContent .newsHead {
	border:1px solid #CCC;
	margin:2px;
	background: #FFF url(../images/fsuimages/newsHeadrep.gif) repeat;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
}

#fsubody .mainContent .newsHead, #fsubody .mainContent .newsHead a {
	color: #000;
}

.news a:link, .news a:visited, .feature a:link, .feature a:visited {
	color:#540115;
	text-decoration:none;
	border-bottom:1px dotted #540115;
}
.news a:hover, .feature a:hover {
	color:#AC1A2F;
	border-bottom:solid #AC1A2F 1px;
}
.news li {
	margin-bottom: 5px;
	margin-left:-25px;
}
.news ul {
	margin-top:4px;
}
.news ul li {
	padding-left:12px;
	list-style:none;
	background: url(../images/fsuimages/fsuBulletNews.gif) no-repeat;
}
.moreNews {
	text-align:right;
	font-size:.9em;
	font-style:italic;
}


/* non alerts box -- for use as a secondary alert */
.newsBox { display:block; width:172px; padding:1px; background-color:#FFF; text-align:center; border:1px dotted #900; font-size:.9em; font-weight:700; line-height:1.5em; margin:8px 26px; }
.newsBox:hover { background-color:#EDE9AD; border:1px dotted #000; }
.news a.newsBox, .news a.newsBox:visited { border:1px dotted #540115; color:#540115; }
.news a.newsBox:visited { border:1px dotted #540115; color:#540115; font-weight:700; }
/*.news a.newsBox:hover { color:#AC1A2F; border:1px solid #AC1A2F; }*/


.footer {
	width:100%;
	/*min-height:1000px;*/
	padding:0px;
	background-color:#000;
	border-top:4px solid #CCC;
}
.footer a {
	border-bottom:none;
}
.footer table { width:950px; margin:0px auto;}
.footer td { vertical-align:top; margin-right:10px; }
.thread {
	width:950px;
	height:12px;
	background:url(../images/fsuimages/thread.png) repeat-x left center;
	border-top:1px solid #8B7241;
	border-bottom:1px solid #8B7241;
	margin:0px auto;
	padding:2px 0px;
}
.footerText {
	display:block;
	text-align:left;
	font-size:1.0em;
	color:#FFF;
	margin:0px auto;
	padding-top:4px;
}
.footerText a, .footerText a:visited {
	color:#8B7241;
	text-decoration:none;
	border-bottom:1px dotted #8B7241;
}
.footerText a:hover {
	color:#CDC092;
	border-bottom:1px solid #CDC092;
}
a.bofMore:link, a.bofMore:hover, a.bofMore:visited, a.bofCloseUpper:link, a.bofCloseUpper:hover, a.bofCloseUpper:visited, a.bofCloseLower:link, a.bofCloseLower:hover, a.bofCloseLower:visited {
	display:block;
	float:left;
	margin:0px 0px 10px 0px;
	height:13px;
	width:49px;
	background-repeat:no-repeat;
	border:1px solid #CCC;
}
a.bofMore {
	background-image:url(../images/fsuimages/more.gif);
}
a.bofMore:hover {
	background-image:url(../images/fsuimages/moreOver.gif);
}
a.bofCloseUpper, a.bofCloseLower {
	background-image:url(../images/fsuimages/close.gif);
}
a.bofCloseUpper:hover, a.bofCloseLower:hover {
	background-image:url(../images/fsuimages/closeOver.gif);
}
/* Search */
.searchBar {
	float:right;
	height:42px;
	width:359px;
	margin-top:10px;
	background:url(../images/fsuimages/searchBarBg.png) no-repeat top right;
	padding:4px;
}
.headerSearchForm input:focus {
	outline:none;
}
.headerSearchForm select:focus {
	outline:none;
}
.headerSearchForm {
	width:367px;
	float:right;
	margin-top:0px;
}
.headerSearchSelect {
	display:block;
	float:left;
	width:160px;
	height:19px;
	margin-right:6px;
	margin-top:18px;
	margin-left:14px;
	padding:2px 0px 0px 0px;
	background-color:#EDE9AD;
	border:1px solid #FFF;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}
.headerSearchBox {
	display:block;
	float:left;
	width:144px;
	height:15px;
	border:1px solid #FFF;
	margin-right:0px;
	margin-top:18px;
	padding:2px 0px 0px 0px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}
.headerSubmitSearch {
	display:block;
	float:left;
	position:relative;
	margin-top:18px;
}
/* End search */

#fsubody li {
	margin: 0px;
}

#fsubody p {
	line-height: 16px;
}

body ul, body ol {
	margin: 0px;
}

body .mainContent .itemized_sub_items ul, body .mainContent .itemized_sub_items ol {
	margin: -20px 0px 0px;
}

.firstnavli {
	border-top:1px dotted #8B723F;
}

#supergraphic_container {
	overflow: hidden;
}

#fsubody div.content-view-full div.class-frontpage {
	background: transparent;
}

#fsubody div.box {
	background: transparent;
}

.mainContent a:hover, div.pageContainer .mainContent a:hover  {
	color: #AC1A2F !important;
	border-bottom: solid #AC1A2F 1px;
}

.mainContent  a:link, .mainContent  a:visited {
	color: #540115;
	text-decoration: none;
	border-bottom: 1px dotted #540115;
}

#fsubody div.box div.bl {
	padding: 0.5em 0.5em 0.5em 1.5em;
}

#fsubody div.itemized_sub_items h2 {
	left: -23px;
	font-weight: bold;
}

#fsubody .mainContent h1, #fsubody .mainContent h2 {
	font-size:1.4em;
	line-height:1.3em;
	margin-top:4px;
	margin-bottom:0.25em;
	color: black;
}

#fsubody .mainContent h1 a, #fsubody .mainContent h2 a {
	color: black;
}

#fsubody .mainContent h3, #fsubody .mainContent h4, #fsubody .mainContent h5, #fsubody .mainContent h6 {
	font-weight:100;
	font-style:italic;
	font-size:1.3em;
}

#fsubody .content-view-embed .event h4 {
	color: #672333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-style: normal;
}

#fsubody .content-view-embed .class-ajax-calendar li {
	list-style: none;
}

#fsubody .content-view-embed .event {
	margin-bottom: 1.5em;
}

.evbodwrap {
	display: inline-block;
	width: 110px;
}

.date-icon{
	display: inline-block;
	vertical-align: top;
    border-radius:10px;
    box-shadow:1px 2px 4px #333333;
    margin-right:12px;
    position:relative;
    text-align:center;
    width:50px !important;
    -moz-border-radius:10px;
    -moz-box-shadow:1px 2px 4px #333333;
    -webkit-border-radius:10px;
    -webkit-box-shadow:1px 2px 4px #333333;
    behavior:url(../stylesheets/pie.htc);
}
.date-icon .month{
    background-color:#BfB382;
    border-radius:10px 10px 0 0;
    font:13px HelveticaNeueBold;
    position:relative;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    behavior:url(../stylesheets/pie.htc);
}
.date-icon .date{
    background-color:#BfB382;
    border-radius:0 0 10px 10px;
    font:21px HelveticaNeueBoldExt;
    padding:2px 0 3px;
    position:relative;
    -moz-border-radius:0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    behavior:url(../stylesheets/pie.htc);
}


/* new supergraphics */

#flashcontent {
	position: relative;
}

#rotating-background-text {
	position: absolute;
	width: 540px;
	height: auto;
	bottom: 40px;
	left: 0px;
	z-index: 10000;
	overflow: hidden;
	border:2px solid #FFF;
	border-left:none;
	background: url(/design/fsu-v03/images/topstoryTextBg.png);
	padding-right:10px;
}

#rotating-background-video {
	position: absolute;
	width: 404px;
	height: 279px;
	top: 0px;
	right: 0px;
	z-index: 1002;
	overflow:hidden;
}

#super-mask {
	position: absolute;
	width: 950px;
	height: 400px;
	opacity: 0;
	background: black;
	z-index: 1001;
	top: 0px;
	left: 0px;
}

#control-bar {
	position: absolute;
	width: 910px;
	height: 11px;
	bottom: 0px;
	left: 0px;
	z-index: 1003;
	padding-left: 20px;
	padding-right: 20px;
	background: #000;
	padding-top:3px;
}

#control-bar .prev {
	background: url(/design/fsu-v03/images/banner-control-sprite.png);
	width: 10px;
	height: 10px;
	float: left;
	background-repeat: no-repeat;
	background-position: 0px -25px;
	text-decoration: none;
	margin-right: 12px;
}

#control-bar .next {
	background: url(/design/fsu-v03/images/banner-control-sprite.png);
	width: 10px;
	height: 10px;
	float: left;
	background-repeat: no-repeat;
	background-position: 0px -37px;
	text-decoration: none;
}

#control-bar .play {
	background: url(/design/fsu-v03/images/banner-control-sprite.png);
	width: 10px;
	height: 10px;
	float: left;
	background-repeat: no-repeat;
	background-position: 0px -12px;
	text-decoration: none;
	margin-right: 12px;
}

#control-bar .prev:hover {
	background-position: -10px -25px;
}

#control-bar .next:hover {
	background-position: -10px -37px;
}


#fsubody p.flashheadline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  display: block;
  text-transform:uppercase;
  letter-spacing:2px;
  line-height: 1.1;
}

#fsubody p.flashsubtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  display: block;
  line-height: 1.1;
}

#rotating-background-text img {
	padding-top: 10px;
}

#controls-multimedia {
	float: right;
}

#controls-multimedia a {
	color: #fff;
	text-decoration: none;
}

/* Menu */
#mainmenu {
	position:absolute;
	top:106px;
	padding:0px;
	margin-left:-4px;
	width:950px;
	height:50px;
	list-style-type:none;
	z-index:100000;
}
#mainmenu ul {
	list-style-type:none;
	margin:0;
	padding:0;
	min-height:1%;
}
#mainmenu ul li {
	display:block;
	float:left;
	clear:right;
	line-height:normal;
	margin:0;
	padding:0;
	text-transform:uppercase;
	letter-spacing:.15em;
	line-height:normal;
}
#mainmenu ul li a {
	display:block;
	padding:6px 20px 2px 20px;
	height:18px;
	color:#CDC092;
	text-decoration:none;
}
#mainmenu ul li ol a {
	color:#540115;	
}
#mainmenu ul li ol a:hover {
	color:#CDC092;
}
#mainmenu li a:hover {
	background-color:#FFF;
	color:#540115;
}
#mainmenu ul ol li { 
	float:left;
	clear:left;
}
#mainmenu li ul, #mainmenu li ol {
	background-color:#FFF;
	margin:0;
	position:absolute;
	left:-999em;
	z-index:1;
}
#mainmenu li ol a:hover {
	color:#000;
}
#mainmenu LI:hover OL {
	z-index:1;
	left:auto;
}

/* End menu */
