body {
	background:url(/design/filmdev/images/level2Bg.gif) repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:62.5%;
	margin:0px;
	padding:0px;
}

a:link, a:visited {
    color:#540115;
    text-decoration:none;
    border-bottom:1px dotted #540115;
}
a:hover {
    color:#AC1A2F;
    text-decoration:none;
    border-bottom:1px solid #AC1A2F;
}
img {
    border-width:0px;
}
p {
    margin-top:.5em;
    line-height:1.3em;
}
.accessibleText {
    display:none;
    visibility:hidden;
}
#filmdev h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.3em;
    font-weight:700;
    margin-top:0px;
    margin-bottom:.5em;
	padding-bottom: 0px;
}
#filmdev h2 {
    font-family:"Times New Roman", Times, serif;
    font-style:italic;
    font-size:1.2em;
    font-weight:100;
    margin:0 0 .5em 0;
}
#filmdev h3 {
    font-size:1em;
}
/* End Basic Page Elements */
    
    
    
/* FSU Header */
.topBar {
    height: 14px;
    width:950px;
    margin:0px auto;
    background-image:url(/design/filmdev/images/goldBarBg.jpg);
}
.headerContainer {
    padding-top:20px;
    background:url(/design/filmdev/images/garnetBg2.gif) repeat-y center;
    background-color:#2B0007;
    height:130px;
    margin-bottom:120px;
}
.headerSearchContainer {
    padding-top:20px;
    background:url(/design/filmdev/images/garnetBg2.gif) repeat-y center;
    background-color:#2B0007;
    height:90px;
    margin-bottom:20px;
}
.header {
    height:85px;
    width:950px;
    margin:0px auto;
}
.header img {
    float:left;
    clear:none;
}
/* End FSU Header */
    

/* Top of Fold */

.tofContainer {
    display:block;
    width:950px;
    margin:0px auto;
}
a.tofMore:link, a.tofMore:hover, a.tofMore:visited, a.tofClose:link, a.tofClose:hover, a.tofClose:visited {
    /* display:block; */
    float:left;
    margin:106px 0px 0px 208px;
    height:15px;
    width:55px;
    background-repeat:no-repeat;
    border:none;
}
a.tofMore {
    background-image:url(/design/filmdev/images/more.gif);
}
a.tofMore:hover {
    background-image:url(/design/filmdev/images/moreOver.gif);
}
a.tofClose {
    background-image:url(/design/filmdev/images/close.gif);
}
a.tofClose:hover {
    background-image:url(/design/filmdev/images/closeOver.gif);
}
.infoBox, .relatedLinksContainer {
    width:200px;
    border-left:4px solid #CDC092;
    float:right;
    margin:0px 0px 10px 20px;
    font-size:.9em;
	background: #fff;
}

.infoBox .attribute-image {
	width:100%;
}
.infoBox h1, .relatedLinksHeader {
    padding:4px 0px 4px 0px;
    font-family:"Times New Roman", Times, serif;
    font-size:1.0em;
    font-weight:700;
    line-height:normal;
    color:#540115;
    text-transform:uppercase;
    letter-spacing:.1em;
}
.infoBox ul, .bofMiddleColumn .relatedLinksContainer ul, .bofMiddleColumn .infoBox ul {
    padding-bottom:1px;
    margin-bottom:4px;
}
.infoBox li, .relatedLinksContainer li {
    font-size:1.0em;
    padding-bottom:.1em;
}
.infoBox ul li, .relatedLinksContainer ul li {
    padding-left:12px;
    background:url(/design/filmdev/images/fsuBullet.gif) no-repeat;
    line-height:1.3em;
}
.infoBox p, .relatedLinksContainer p {
    padding:2px 0px 0px 0px;
}
/* End Top of Fold */

    
/* Bottom of Fold */
.tof {
    border:1px solid #CDC092;
    width:700px;
    float:right;
    height:130px;
    margin-top:5px;
    overflow:hidden;
}
.tofTextMain {
    font-weight:700;
    font-size:2.2em;
    color: #CDC092;
    width:700px;
    height:130px;
    padding-left: 15px;
    padding-top:35px;
}
.tofTextMain a, .tofTextMain a:visited {
    color:#CDC092;
    border-bottom:1px dotted #CDC092;
}
.tofTextMain a:hover {
    color:#CDC092;
}
.tofTextSub {
    font-weight:100;
    font-size:.9em;
    font-family:"Times New Roman", Times, serif;
    font-style:italic;
    color:#FFF;
}
.profile {
    border-top:1px solid #CDC092;
    width:465px;
    clear:left;
}
.profileThumb {
    margin:10px 10px 10px 0px;
    float:left;
}
.profile h4 {
    font-size:1.0em;
    margin-top:10px;
    margin-bottom:2px;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
.profile p {
    margin-bottom:4px;
    margin-left:110px;
}
.bofContainer {
    width:950px;
    display:block;
    margin:0px auto;
}
.bofMiddleColumn ul {
    margin-top:0;
    margin-bottom:1.3em;
}
.bofMiddleColumn li {
    margin-left:10px;
    padding-bottom:.4em;
    list-style-type:none;
    line-height:1.3em;
}
.bofMiddleColumn ul li {
    padding-left:12px;
    background:url(/design/filmdev/images/fsuBullet2.gif) no-repeat;
}
.bofMiddleColumn ul li ul {
    margin-top:.5em;
    margin-bottom:0;
}
.bofMiddleColumn ul li ul li {
    background:url(/design/filmdev/images/fsuBullet2a.gif) no-repeat;
}
.bofCentered {
    float:right;
    width:700px;
}
.bof {
    float:left;
    width:950px;
}
.bofMiddleColumn {
    float:right;
    width:950px;
    font-size:1.3em;
}
.bofRightImage {
    width:145px;
    margin-bottom:5px;
    background-repeat:no-repeat;
}
/*.bofRightColFloat {
    float:right;
    width:145px;
    margin:0px 0px 10px 10px;
}*/
a.bofMore:link, a.bofMore:hover, a.bofMore:visited, a.bofCloseUpper:link, a.bofCloseUpper:hover, a.bofCloseUpper:visited, a.bofCloseLower:link, a.bofCloseLower:hover, a.bofCloseLower:visited {
    display:block;
    float:right;
    margin:5px 0px 20px 0px;
    height:13px;
    width:49px;
    background-repeat:no-repeat;
    border:1px solid #CCC;
}
a.bofMore {
    background-image:url(/design/filmdev/images/more.gif);
}
a.bofMore:hover {
    background-image:url(/design/filmdev/images/moreOver.gif);
}
a.bofCloseUpper, a.bofCloseLower {
    background-image:url(/design/filmdev/images/close.gif);
}
a.bofCloseUpper:hover, a.bofCloseLower:hover {
    background-image:url(/design/filmdev/images/closeOver.gif);
}
.level2photo {
    margin:0px 0px 10px 20px;
    float:right;
    border:1px solid #CCC;
    padding:1px;
    height:171px;
}
.insetPhoto {
    display:block;
    float:right;
    margin:10px 0px 10px 10px;
    padding:1px;
    border:1px solid #CCC;
    background-color:#FFF;
}
.insetPhotoLeft {
    display:block;
    float:left;
    margin:10px 15px 10px 0px;
    padding:1px;
    border:1px solid #CCC;
    background-color:#FFF;
}
.insetPhotoCaption {
    text-align:center;
    font-size:.8em;
    color:#666;
    margin:0px;
    padding:0px 2px 2px 2px;
}
.goldRule { border-bottom:1px solid #CDC092; margin-bottom:10px; clear:both; width:700px; }
.storyByline {
    color:#999;
    font-size:.9em;
    font-style:italic;
    line-height:normal;
    border-top:1px solid #999;
    padding-top:4px;
}
/*.bofLeftColumn {
    width:200px;
    display:block;
    float:left;
}*/
.leftColFloat {
    float:left;
    width:48%;
}
.rightColFloat {
    float:right;
    width:48%;
}
/* End Bottom of Fold */

/* Footer */
.footerText {
    display:block;
    text-align:center;
    font-size:1.0em;
    color:#8B7241;
    margin-top:10px;
    margin-bottom:20px;
    padding-top:4px;
}
.footerText a, .footerText a:visited {
    color:#8B7241;
    text-decoration:none;
}
.footerText a:hover {
    color:#453920;
    border-bottom:1px solid #453920;
}
.thread {
    width:950px;
    height:12px;
    background:url(/design/filmdev/images/thread.png) repeat-x left center;
    border-top:1px solid #8B7241;
    border-bottom:1px solid #8B7241;
    margin-top:20px;
    padding:2px 0px;
}
/* End Footer */

/* Search */
.searchBar {
    float:right;
    height:42px;
    width:359px;
    margin-top:10px;
    background:url(/design/filmdev/images/searchBarBg.png) no-repeat top right;
    padding:4px;
}
.headerSearchForm input:focus {
    outline:none;
}
.headerSearchForm select:focus {
    outline:none;
}
.headerSearchForm {
    width:367px;
    float:right;
    margin-top:0px;
}
.headerSearchSelect {
    display:block;
    float:left;
    width:160px;
    height:19px;
    margin-right:6px;
    margin-top:18px;
    margin-left:14px;
    padding:2px 0px 0px 0px;
    background-color:#EDE9AD;
    border:1px solid #FFF;
    font-size:11px;
    font-family:Arial, Helvetica, sans-serif;
}
.headerSearchBox {
    display:block;
    float:left;
    width:144px;
    height:15px;
    border:1px solid #FFF;
    margin-right:0px;
    margin-top:18px;
    padding:2px 0px 0px 0px;
    font-size:11px;
    font-family:Arial, Helvetica, sans-serif;
}
.headerSubmitSearch {
    display:block;
    float:left;
    position:relative;
    margin-top:18px;
}
/* End search */

/* Menu */

#leftMenu li {
	margin: 0px;
}

#leftMenu ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
    width:160px;
    min-height:1%;
}
#leftMenu li {
    border-top:1px dotted #540115;
    line-height:normal;
}
#leftMenu li a {
    display: block;
    padding:2px 15px 2px 10px;
    width:135px;
    color:#540115;
    margin:0px;
    text-decoration:none;
    border-bottom:none;
    background-color:#FFF;
}
#leftMenu li a:hover, #leftMenu li ul a:hover {
    color:#000;
    background-color:#F0EAC2;
}
#leftMenu li ul {
    margin-left:145px;
    position:absolute;
    left:-999em;
    z-index:1;
    margin-top:-1.5em;
    border:1px dotted #540115;
    border-top:none;
    background-color:#FFF;
}
#leftMenu li ul a {
    font-weight:100;
}
/*
#leftMenu li ul li {
    border-bottom:none;
}
*/
#leftMenu LI UL UL {
    LEFT: -999em;
}
#leftMenu LI:hover UL UL {
    Z-INDEX: 1;
    LEFT: -999em;
}
#leftMenu LI:hover UL UL UL {
    Z-INDEX: 1;
    LEFT: -999em;
}
#leftMenu LI.sfhover UL UL {
    Z-INDEX: 1;
    LEFT: -999em;
}
#leftMenu LI.sfhover UL UL UL {
    Z-INDEX: 1;
    LEFT: -999em;
}
#leftMenu LI:hover UL {
    Z-INDEX: 1;
    LEFT: auto;
}
#leftMenu LI LI:hover UL {
    Z-INDEX: 1;
    LEFT: auto;
}
#leftMenu LI LI LI:hover UL {
    Z-INDEX: 1;
    LEFT: auto;
}
#leftMenu LI.sfhover UL {
    Z-INDEX: 1;
    LEFT: auto;
}
#leftMenu LI LI.sfhover UL {
    Z-INDEX: 1;
    LEFT: auto;
}
#leftMenu LI LI LI.sfhover UL {
    Z-INDEX: 1;
    LEFT: auto;
}
#leftMenu {
    display:block;
    float:left;
    position:relative;
    padding:0px;
    margin:-80px 0px 0px 0px;
    width:160px;
    list-style-type:none;
    font-size:1.2em;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom:1px dotted #540115;
    border-left:1px dotted #540115;
    border-right:1px dotted #540115;
}