/* IE5 + IE6 + IE7 SPECIAL CSS - 20060522 */

div#searchbox
{
    margin-top: 1.5em;
}

div.overflow-fix /* Hides long non-breaking lines and terminates bugs */
{
    width: 100%;
    overflow: hidden;
}

div#heightresize-main
{
    border-bottom: 1px solid #ffffff;  /* Fix if height script is used */
}

input.button
{
    padding: 0 0.5em 0 0.5em;
    overflow: visible;  /* Fix for %-padding on input buttons */
}

div#path
{
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

div.content-view-full div.class-frontpage div.attribute-billboard
{
    padding-top: 0.2em;
}

div.factbox {
  width: 82%;
}