
div#ezautocomplete {
    z-index: 1000;
}

div#header .yui-ac-content li {
    margin: 0;
    padding: 2px 5px;
    cursor: default;
    white-space: nowrap;
    list-style: none;
    zoom: 1;
    display: block;
    float: none;
}

.customResult {
    display: block;
}

.yui-ac {
    position: relative;
}

.yui-ac-container {
    position: absolute;
    top: 1.6em;
    text-align:left;
}

.yui-ac-content {
    position: absolute;
    width: 100%;
    border: 1px solid #808080;
    background: #fff;
    overflow:auto;
    overflow-y:hidden;
    z-index: 9050;
    ^padding-bottom: 15px;
}

.yui-ac-shadow {
    position: absolute;
    margin: .3em;
    width: 100%;
    background: #000;
    -moz-opacity: .10;
    opacity: .10;
    filter: alpha(opacity = 10);
    z-index: 9049;
}

.yui-ac iframe {
    opacity: 0;
    filter: alpha(opacity = 0);
    padding-right: .3em;
    padding-bottom: .3em;
}

.yui-ac-content ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.yui-ac-content li {
    background-image: none;
    margin: 0;
    padding: 2px 5px;
    cursor: default;
    white-space: nowrap;
    list-style: none;
    zoom: 1;
    display: block;
}

.yui-ac-content li.yui-ac-prehighlight {
    background: #BABABA;
}

.yui-ac-content li.yui-ac-highlight {
    background: #B0B0B0;
    color: #FFF;
}
