{def $size="billboard"
     $alternative_text=$node.object.data_map.name.content}

{if is_set( $node.object.data_map.image.content[$size].alternative_text )}
{set $alternative_text=$node.object.data_map.image.content[$size].alternative_text}
{/if}

<div class="content-view-full">
<div class="class-banner">
{if eq( $node.object.data_map.image_map.content, true() ) }
        <img usemap="#banner_map" src={$node.object.data_map.image.content[$size].full_path|ezroot} alt="{$alternative_text}" border="0" />
{$node.object.data_map.image_map.content}
{else}
{if $node.object.data_map.link.content}
            <a href={$node.object.data_map.link.content|ezurl}>
            <img src={$node.object.data_map.image.content[$size].full_path|ezroot} alt="{$alternative_text}" border="0" />
            </a>
{else}
            <img src={$node.object.data_map.image.content[$size].full_path|ezroot} alt="{$alternative_text}" border="0" />
{/if}
{/if}
</div>
</div>