
/* Footer */
.footerContainer {
	clear:left;
	float:left;
	top:-25px;
	position:relative;
	width:100%;
	border-width:1px 0px;
	border-style:solid;
	border-color:#CDC092;
	}
.footer {
	background-color:#fff;
	color:#666;
	font-size:.8em;
	height:53px;
	width:780px;
	margin:0px auto;
	padding:0px 15px 0px 0px;
	text-align:right;
	border-width:0px 1px;
	border-style:solid;
	border-color:#CDC092;
	}
.footerText {
	width:795px;
	margin-top:8px;
	text-align:center;
	}
.footer a, .footer a:link, .footer a:hover, .footer a:visited  {
	color:#666;
	}
	
/* End Footer */
