{* Article (sub-page) - Line view *}
<div class="content-view-line">
    <div class="class-article-subpage float-break">

    <h2><a href={$node.url_alias|ezroot}>{$node.data_map.title.content|wash}</a></h2>

    </div>
</div>