<div class="object-{$align}">
	<div class="quote">
      <div class="quote-design">
      <div class="quote-begin"><span class="hide">"</span></div>
      {$content}
      <div class="quote-end"><span class="hide">"</span></div>
      </div>
   </div>
</div>
