/* Basic Page Elements */
body {
	background-color:#fff;
	color:#000;
	font-family:verdana,arial,helvetica,sans-serif;	
	margin:0px;
	padding:0px;
	}
 a, a:link, a:visited  {
	color:#500114;
	text-decoration:none;
	}
a:hover  {
	color:#c00;
	text-decoration:none;
	}
img {
	border-width:0px;
	}
.floatLeft {
	float:left;
	}
.floatRight {
	float:right;
	}
p {
	margin:0px 0px 10px 0px;
	line-height: 1.5em;
	}
.accessibleText {
	display:none;
	visibility:hidden;
	}
/* End Basic Page Elements */
	
	
	
/* FSU Header */
.headerContainer {
	background:url(../images/headerBg.gif) #500114 repeat-x;
	color:#000;
	height:74px;
	width:100%;
	}
.header {
	margin:0px auto;
	width:795px;
	height:74px;
	background:url(../images/headerBgFull.gif);
	}
.headerFSUSeal {
	float:left;
	height:70px;
	}
.headerFSUTitle {
	float:left;
	height:56px;
	width:317px;
	}		
.headerSearchForm {
	float:right;
	margin-top:20px;
	width:378px;
	}
.headerSearchText {
	display:block;
	float:left;
	width:170px;
	margin-right:6px;	
	}
.headerSubmitSearch {
	display:block;
	float:left;
	width:17px;
	position:relative;
	top:4px;
	}
/* End FSU Header */


/* Some quickLinks css had to be moved to ez style sheets */

.quickLinksCenter {
	width:795px;
	margin:0px auto;
	}
.quickLinksPosition {
	position:relative;
	z-index:10;
	}
.quickLinks, .quickLinksHover {
	background:url(../images/quickLinks3.gif) no-repeat top;
	position:absolute;
	left:600px;
	cursor:pointer;
	overflow:hidden;
	z-index:10;
	width:195px;
	list-style: none;
	margin:0px;
	padding:0px;
	}
.quickLinks {
	height:18px;
	}
.quickLinks ul {
	display:none;
	}
.quickLinksHover {
	background:url(../images/quickLinks3Over.gif) no-repeat top;
	padding-top:19px;
	font-size:.7em;
	left:599px;
	border-left:1px solid #CDC092;
	background-color:#fff;
	width:195px;
	}
.quickLinksHover ul  {
	margin:0px;
	padding:0px;
	}
.quickLinksHover li {
	display:inline;
	margin:0px;
	padding:0px;
	}
.quickLinksHover a:link, .quickLinksHover a:visited {
	display:block;
	background-color:#fff;
	border-bottom:1px solid #CDC092;
	padding:2px 0px 2px 10px;
	margin:0px;
	text-decoration:none;
	}
.quickLinksHover a:hover {
	background-color:#F1F1D4;
	color:#333;
	}
/* End Quick Links */

	

/* Top of Fold */

.tofContainer {
	background:url(../images/tofBg.gif) #300 repeat-x;
	color:#000;
	}
/* removed line height:133px; */
.tof {
	display:block;
	color:#500114;
	border-left:1px solid #CDC092;
	border-right:1px solid #CDC092;
	height:133px;
	margin:0px auto;
	width:795px;
	}
.tofTextMain {
	font-weight:700;
	font-size:1.3em;
	color: #fff;
	width:780px;
	height:25px;
	padding-left: 15px;
	padding-top:16px;
	}
.tofTextMain a, .tofTextMain a:visited {
	color:#fff;
	}
.tofTextMain a:hover {
	color:#CDC092;
	}	
.tofTextSub {
	margin:0px;
	font-weight:100;
	font-size:1.3em;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#CDC092;
	position: relative;
	bottom:50px;
	width:780px;
	height:30px;
	margin-top:55px;
	padding-left: 15px;
	}	
a.tofMore:link, a.tofMore:hover, a.tofMore:visited, 
a.tofClose:link, a.tofClose:hover, a.tofClose:visited {
	/* display:block; */
	float:left;
	margin:108px 0px 0px 216px;
	height:14px;
	width:55px;
	background-repeat:no-repeat;
	}
a.tofMore {
	background-image:url(../images/more.gif);
	}
a.tofMore:hover {
	background-image:url(../images/moreOver.gif);
	}
a.tofClose {
	background-image:url(../images/close.gif);
	}
a.tofClose:hover {
	background-image:url(../images/closeOver.gif);
	}
/* End Top of Fold */



/* Fold */
div.fold {
	color:#fff;
	background-color:#000;
	border-top:1px solid #CDC092;
	border-bottom:1px solid #CDC092;
	font-size:.75em;
	}
div.foldBorders {
	width:795px;
	border-left:1px solid #CDC092;
	border-right:1px solid #CDC092;
	overflow:hidden;
	height:8px;
	margin:0px auto;
	}
/* End Fold */

	
	
/* Bottom of Fold */
.profile {
	border-top:1px solid #CDC092;
	clear:both;
	}
.profileThumb {
	margin:10px 10px 10px 0px;
	float:left;
	}
.profile h4 {
	font-size:1em;
	margin-top:10px;
	margin-bottom:2px;
	padding:0;
	}
.profile p {
	margin-bottom:4px;
	}	
.bofContainer {
	float:left;
	width:100%;
	}
.bofCentered {
	margin:0px auto;
	width:797px;
	}
.bof {
	background:url(../images/background_noborders.gif) left top repeat-y;
	float:left;
	background-color:#fff;
	border-width:0px 1px 0px 1px;
	border-style:solid;
	border-color:#CDC092;
	width:795px;
	}

.bofLeftColumn, .bofLeftColumn ul {
	float:left;
	width:195px;
	list-style:none;
	margin:0px;
	padding:0px;
	min-height: 400px;
	}
.bofLeftColumn ol {
	display: block;
	text-align:left;
	list-style:none;
	margin:0px;
	padding:0px;
	}
.bofLeftColumn ul li ol a, .bofLeftColumn ul li ol a:link, .bofLeftColumn ul li ol a:visited {
	padding-left:30px;
	color:#000;
	font-weight:500;
	font-size:.7em;
	width:150px;
	}
.bofLeftColumn a, .bofLeftColumn a:link, .bofLeftColumn a:visited {
	display:block;
	color:#500114;
	padding:4px 15px;
	border-bottom:1px solid #CDC092;
	font-weight:700;
	font-size:.75em;
	width:165px;
	}
.bofLeftColumn a:hover {
	background:#e7e7b8;
	color:#000;
	}
.noLink {
	display:block;
	color:#500114;
	padding:4px 15px;
	border-bottom:1px solid #CDC092;
	font-weight:700;
	font-size:.75em;
	width:165px;
	}	



.bofLeftColumn a.quickLinksNew:link, a.quickLinksNew:hover, a.quickLinksNew:visited {
	background-image:url(../images/quickLinks6.gif); background-position:center; padding-top:15px;
	height:20px;
	margin-bottom:20px;
	background-repeat:no-repeat;
	border-bottom:none;
	}
.bofLeftColumn a.quickLinksNew:hover {
	background:none;
	background-image:url(../images/quickLinks6Over.gif); background-position:center;
	background-repeat:no-repeat;
	}
.bofMiddleColumn  {
    background:url(../images/borders.gif) repeat-y top left;
	float:right;
	width:600px;
	}	
.bofMiddleColumnExpanded  {
    background:url(../images/middleColExpanded.gif) repeat-y top left;
	float:right;
	line-height:.8em;
	width:600px;
	}	
.bofMiddleText {
	font-size:0.75em;
	width:374px;
	line-height:1.4em;
	padding: 10px 10px 10px 20px;
	}
.bofMiddleText a:hover {
	text-decoration:underline;
	}
.bofMiddleText h1 {
	font-weight:700;
	margin:0px;
	margin-bottom:10px;
	font-size:1.7em;
	line-height:normal;
	}
.bofMiddleText h2 {
	font-weight:100;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.3em;
	color: #000;
	font-style: italic;
	padding-bottom:3px;
	border-bottom:1px solid #000;
	margin-top:0px;
	margin-bottom:6px;
	}
.bofMiddleText H3 {
	font-size:1em;
	margin-bottom:0px;
	}	
.bofMiddleTextExpanded {
	float:left;
	font-size:0.75em;
	width:560px;
	line-height:1.4em;
	padding: 10px 10px 10px 20px;
	}
.bofMiddleTextExpanded a:hover {
	text-decoration:underline;
	}
.bofMiddleTextExpanded H1 {
	font-weight:700;
	margin:0px;
	margin-bottom:10px;
	font-size:1.3em;
	}
.bofMiddleTextExpanded H2 {
	font-weight:100;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.3em;
	color: #000;
	font-style: italic;
	padding-bottom:3px;
	border-bottom:1px solid #000;
	margin-top:0px;
	margin-bottom:6px;
	}
.bofMiddleTextExpanded H3 {
	font-size:1em;
	margin-top:14px;
	}		
.bofRightColumn {
	float:right;
	width:195px;
	}
.bofRightColumn H1 {
	margin-bottom:4px;
	color:#500114;
	font-weight:700;
	font-size:.9em;
	text-transform:uppercase;
	line-height:normal;
	}
.bofRightColumn ul {
	margin-top:0px;
	margin-bottom:0px;
	}
.rightLinks {
	margin:10px 0px 20px;

	font-size:0.7em;
	}
.rightLinks a:hover {
	text-decoration:underline;
	}	
.rightLinks li {
	margin-left:-10px;
	margin-bottom:4px;
	list-style-image:url(../images/fsuBullet.gif);
	}
.rightLinks li ul li {
	margin-left:0px;
	}
.bofRightImage {
	width:145px;
	margin-bottom:5px;
	background-repeat:no-repeat;
	}
.bofRightColFloat {
	float:right;
	width:145px;
	margin:0px 0px 10px 10px;
	}
a.bofMore:link, a.bofMore:hover, a.bofMore:visited, 
a.bofCloseUpper:link, a.bofCloseUpper:hover, a.bofCloseUpper:visited, 
a.bofCloseLower:link, a.bofCloseLower:hover, a.bofCloseLower:visited {
	display:block;
	float:right;
	margin:5px 0px 20px 0px;
	height:14px;
	width:55px;
	background-repeat:no-repeat;
	}
a.bofMore {
	background-image:url(../images/more.gif);
	}
a.bofMore:hover {
	background-image:url(../images/moreOver.gif);
	}
a.bofCloseUpper, a.bofCloseLower {
	background-image:url(../images/close.gif);
	}
a.bofCloseUpper:hover, a.bofCloseLower:hover {
	background-image:url(../images/closeOver.gif);
	}
.bofBonusArea {
	border-left:1px solid #CDC092;
	border-right:1px solid #CDC092;
	width:795px;
	}
.relatedLinksContainer {
	background-color:#fff;
	border:1px solid #CDC092;
	list-style-image:url(../images/fsuBullet.gif);
	font-size:.9em;
	float:right;
	margin:5px 0px 10px 10px;
	width:200px;
	}
.relatedLinksHeader {
	background-color:#F1F1D4;
	padding:2px 6px 4px;
	font-weight:700;
	text-transform: uppercase;
	font-size: 0.9em;
	}
.relatedLinksContainer li {
	margin:0px 6px 4px -15px;
	line-height:normal;
	}
.relatedLinksContainer ul {
	color:#500114;
	margin-top:2px;
	margin-bottom:5px;
	}
.rightStoryText {
	font-size:.65em;
	font-style:italic;
	padding:5px;
	}
.level2photo {
	margin-left:10px;
	margin-top:10px;
	margin-bottom:6px;
	float:right;
	width:195px;
	height:133px;
	border:1px solid #000;
	}	
.highlightsPhotoContainer {
	margin-left:10px;
	margin-top:0px;
	margin-bottom:6px;
	padding-bottom:4px;
	background:#e7e7b8;
	float:right;
	width:278px;
	text-align:center;
	font-size:.8em;
	line-height:normal;
	border:1px solid #000;
	}
.highlightsPhoto {
	margin-bottom:2px;
	}
/* End Bottom of Fold */



/* Footer */
.footerContainer {
	clear:left;
	float:left;
	top:-25px;
	position:relative;
	width:100%;
	border-width:1px 0px;
	border-style:solid;
	border-color:#CDC092;
	}
.footer {
	background-color:#fff;
	color:#666;
	font-size:.8em;
	height:53px;
	width:780px;
	margin:0px auto;
	padding:0px 15px 0px 0px;
	text-align:right;
	border-width:0px 1px;
	border-style:solid;
	border-color:#CDC092;
	}
.footerText {
	float:left;
	width:450px;
	margin-top:8px;
	}
.footer a, .footer a:link, .footer a:hover, .footer a:visited  {
	color:#666;
	}
a.pathwaysLogo {
	display:block;
	margin:0px;
	float:left;
	width:329px;
	height:53px;
	}
	
/* End Footer */
