

/* fsu_ez.css */

p.flashheadline {
  font-family: georgia, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: #ffffff;
  display: block;
}

p.flashsubtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  display: block;
}

body {
  text-align: left;
}

/* Quick Links */

.quickLinksPosition {
  width: 100%;
}

* html .quickLinks {
  height: 17px;
}

* html .quickLinksContainer {
  width: 100%;
  margin-top: -18px;
  top: 0;
}

.quickLinksContainer {
  width: 100%;
  font-size: 110%;
  position: absolute;
  z-index: 10;
  height: 1px;
  top: 56px;
}

div.no_page_notes {
  width: 570px! important;
}

div.no_back {
  background-image: url(../images/noback.gif);
  background-color: white;
}

div.bofMiddleColumn, div.bofLeftColumn {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.nosidemenu .bofMiddleColumn {
	margin-left: 0px;
}

.nosidemenu .bofMiddleColumn {
  width: 100%! important;
}

.nosidemenu div.no_page_notes {
  width: 755px! important;
}

.nosidemenu  .bofLeftColumn {
	display: none;
}

.bof {
  font-size: 120%;
  overflow: hidden;
}

form.headerSearchForm {
  width: 200px;
}

div.tofContainer {
  text-align: center;
}

.bofLeftColumn a img {
  margin-bottom: 18px;
  margin-top: 0px;
}

#mainbox .bofLeftColumn ol {
  background: #F8F8EA none repeat scroll 0%;
  left: -1000px;
  position: absolute;
  top: 0px;
  width: 195px;
}

#mainbox .bofLeftColumn li {
  background-image: none;
}

#l_nav li {
  float: left;
  margin: 0px;
  cursor: pointer;
  padding: 0px;
}

div#schoolname {
  float: left;
  padding-left: 75px;
  padding-top: 3px;
  font-size: 80%;
}

div.class-faculty #mainsummary, div.class-faculty #user-additionalinfo {
  float: right;
  background: white;
  margin: 0px 0px 10px 10px;
  border: 1px solid #CCCC66;
  width: 180px;
}

div.class-faculty #mainsummary {
  float: left;
}

div#maindetails {
  clear: both;
}

div#user-additionalinfo .MatrixSpecName {
  font-weight: bold;
}

div#user-additionalinfo .MatrixSpec {
  margin: 0px 0px 8px 8px;
}

div#user-additionalinfo h4 {
  background: #F1F1D4;
  padding: 3px;
  text-transform: uppercase;
  font-size: 90%;
}

div.class-faculty #user-image {
  float: left;
  margin: 0px 8px 8px 0px;
}

div.class-faculty div.attribute-title {
  margin-bottom: 8px;
  padding-bottom: 8px;
  clear: both;
  font-size: 120%;
  font-weight: bold;
}

div.class-faculty #mainsummary .attribute-long {
  margin-bottom: 8px;
}

div.object-left {
  margin-right: 15px;
}

div.object-right {
  margin-left: 15px;
  clear: none;
}

div.factbox {
  width: 35%;
  margin-bottom: 1em;
}

div.class-infobox div.attribute-content {
  color: #555;
}

input.headerSubmitSearch {
  display: block;
  float: left;
  width: 17px;
  top: 2px;
  position: relative;
}

.footerContainer {
  position: none;
  top: 0px;
  margin-top: -1px;
}

.attribute-caption-sg {
  
}

.attribute-caption-sg p {
  margin: 4px 0 0 0;
  color: white;
  text-align: center;
}

div.tofcontainer {
  position: relative;
}

.mod_func_view div.date {
  color: #999;
  background: #F3D999;
  position: absolute;
  width: 35px;
  text-transform: uppercase;
  text-align: center;
  font-size: 70%;
  padding: 3px 0px;
  margin: 2px 7px 7px 0px;
}

.mod_func_view div.date-sub {
  float: left;
  width: 35px;
  text-transform: uppercase;
  text-align: center;
  font-size: 70%;
  padding: 3px 0px;
  margin: 2px 7px 7px 0px;
}

div#events .date span, .itemized_sub_items .date span {
  font-size: 180%;
  display: block;
}

.event {
  clear: left;
}

div#events .event, .itemized_sub_items .event {
  padding-top: 3px;
  margin-bottom: 3px;
}

div#events .same, .itemized_sub_items .same {
  border-top: 1px dashed #999;
}

div#events .event h4, div#events .event p, .itemized_sub_items .event h4, .itemized_sub_items .event p {
  margin: 0px;
  padding: 0px 3px 3px 44px;
}

#supergraphic_container {
  position: relative;
  width: 795px;
  margin: 0px auto;
  border-left: 1px solid #CC6;
  border-right: 1px solid #CC6;
  background: #000;
}

#supergraphic_container img {
  
}

div#ezagenda_calendar_right td.ezagenda_month_head h2 {
  margin-right: 5px;
  font-size: 1.6em;
}

fieldset div.date {
  width: auto;
  background: none;
  position: relative;
  margin: 0px;
  padding: 0px;
  text-align: left;
  text-transform: none;
  font-size: 100%;
}

div#ezagenda_calendar_right td.ezagenda_month_info p {
  margin-bottom: 1em;
}

td.ezagenda_month_info {
  padding-top: .5em;
}

div#ezagenda_calendar_left, div#ezagenda_calendar_container, div#ezagenda_calendar_today {
  width: 190px;
}

div#ezagenda_calendar_right {
  margin-left: 190px;
}

.ezagenda_date {
  font-weight: bold;
  border-bottom: 1px solid #bbb;
  margin-bottom: 10px;
  display: block;
}

.object-right {
  margin-left: 10px;
}

.object-left {
  margin-right: 10px;
}

.hidden {
  display: none
}

.class-event-calendar ul {
  margin: 0;
  list-style: none;
  font-size: 90%;
}

.content-view-embed ul {
  margin-top: -20px;
}

.content-view-line .default {
  clear: both;
}

.quickLinksHover li.thickborder a {
  border-bottom: 3px solid black;
}

.attribute-bottom-column {
  width: 100%;
}

ol {
  width: 100%;
}

li.nobullet {
  list-style-type: none;
}

.bofLeftColumn ul {
  padding-bottom: 18px;
  overflow: hidden;
  width: 100%;
}

.bofLeftColumn ul li li .noLink {
  color: #000;
  font-size: 0.7em;
  font-weight: 500;
  padding: 4px 15px 4px 30px;
  width: 150px;
}

.bofLeftColumn ul li li ol a, .bofLeftColumn ul li li ol a:link, .bofLeftColumn ul li li ol a:visited, .bofLeftColumn ul li li ol .noLink {
  padding-left: 40px;
  color: #000;
  font-weight: 400;
  font-size: .5em;
  width: 140px;
}

.bofLeftColumn .noLink {
  background: #e7e7b8;
}

html>body div#ezagenda_calendar_right img {
  overflow: hidden;
  width: 100%;
}

#maincontent_design {
  margin-bottom: 20px;
}











.links_title {
  display: block;
  text-align: right;
  font-size: 90%;
  padding-right: 5px;
}

.quickLinksHover {
  padding-top: 0px;
}

.quickLinksHover .links_title {
  font-size: 130%;
  color: white;
  height: 20px;
}

.right-column .box-content, .right-column .itemized_sub_items .bl {
  padding-right: 0;
}

.event p {
  font-size: 90%;
}

div.itemized_sub_items h2 {
  top: -46px;
}

div.itemized_sub_items {
  margin-top: 36px;
}






















.bofLeftColumn ul {
  min-height: 300px;
}

.bofLeftColumn {
  margin-left: -100%;
}

#full_width_float {

}



