.logotagwrap {
	position: relative;
	text-decoration: none;
}

#logotag {
	position: absolute;
	left: -344px;
	top: 55px;
	color: #CDC092;
	text-decoration: none;
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
}

div.attribute-image {
	float: left;
	margin: 0.25em 0 0.5em 0;
}

div.class-infobox {
	text-align: left;
	font-size: 100%;
	padding: 0 0 1em 12px;
	margin: 0 0 1em 0;
	background: none;
}

body .infoBox p {
	padding-left: 0px;
}

#filmdev ul, #filmdev ol {
	margin: 0px;
}

.bofMiddleColumn .faculty_section ul li {
	list-style-type: none;
	background-image: none;
	margin-left: 0px;
	padding-left: 0px;
}

.attribute-image a {
	border: none;
}

div.class-faculty #mainsummary, div.class-faculty #user-additionalinfo {
  float: right;
  background: white;
  margin: 0px 0px 10px 10px;
  border: 1px solid #CDC092;
  width: 180px;
}

div#user-additionalinfo .MatrixSpecName {
  font-weight: bold;
}

div#user-additionalinfo .MatrixSpec {
  margin: 0px 0px 8px 8px;
}

div#user-additionalinfo h4 {
  background: #F1F1D4;
  padding: 3px;
  text-transform: uppercase;
  font-size: 90%;
}

div.class-faculty #user-image {
  float: left;
  margin: 0px 8px 8px 0px;
}

.bofMiddleColumn ol li {
	list-style-type: decimal;
}

img.inline {
	float: right;
	margin: 1em 0px 1em 1em;
}

span.evbodwrap {
	width: 108px;
}

.subpage .headerContainer {
	margin-bottom: 130px;
}

p#path {
float: left;
clear: both;
padding-left: 200px;
padding-top: 8px;
}

/* colors for ajax calendar   */ 

#calendar #display_date_wrap, #mainbox #calendar table td.dateback {
	background: #540115;
}

div#calendar #cal_prev_month a, div#mainbox #cal_next_month a {
	color: #fff;
}

#calendar #cal_month_majors {
	background: #Cdc092;
}

#calendar a:link, #calendar a:visited {
	border-bottom: none;
}

#calendar #cal_nav_tabs .cal_nav_tab_long {
	width: 238px;
}

.pageContainer .tof {
	height: 279px;
}