/* Menu */
#leftsidebar {
	float:left;
	position:absolute;
	top:248px;
	padding:0px;
	margin:0px 20px 10px 10px;
	width:160px;
	list-style-type:none;
	font-size:1.2em;
	line-height:normal;
	z-index:100000;
}
#leftsidebar ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
	width:150px;
	min-height:1%;
}
#leftsidebar li {
	border-bottom:1px dotted #8B723F;
	line-height:normal;
}
#leftsidebar li.last {
	border:none;
}
#leftsidebar li a {
	display: block;
	padding:2px 0px 2px 0px;
	width:150px;
	color:#CDC092;
	margin:0px;
	text-decoration:none;
	border-bottom:none;
}
#leftsidebar li a:hover {
	color:#FFF;
}
#leftsidebar li ul {
	background-color:#FFF;
	margin-left:140px;
	position:absolute;
	left:-999em;
	z-index:1;
	margin-top:-1.5em;
	border-left:1px solid #FFF;
	border-bottom:1px solid #000;
}
#leftsidebar li ul a {
	font-weight:100;
	color:#540115;
}
#leftsidebar li ul a:hover {
	color:#000;
	/*background:url(../images/fsuimages/menuHover.png) right;*/
}
#leftsidebar ul li ul {
	border:1px solid #CDC092;
	padding:0px 10px;
}
#leftsidebar ul li ul a:hover {
	width:150px;
	background-color:#F5EFCE;
}
/*
#leftsidebar li ul li {
	border-bottom:none;
}
*/
#leftsidebar LI UL UL {
	LEFT: -999em;
}
#leftsidebar LI:hover UL UL {
	Z-INDEX: 1;
	LEFT: -999em;
}
#leftsidebar LI:hover UL UL UL {
	Z-INDEX: 1;
	LEFT: -999em;
}
#leftsidebar .leftsidebarQL a:hover {
	z-index:1;
	left:-999em;
	width:190px;
}
#leftsidebar LI.sfhover UL UL {
	Z-INDEX: 1;
	LEFT: -999em;
}
#leftsidebar LI.sfhover UL UL UL {
	Z-INDEX: 1;
	LEFT: -999em;
}
#leftsidebar LI:hover UL {
	Z-INDEX: 1;
	LEFT: auto;
}
#leftsidebar LI LI:hover UL {
	Z-INDEX: 1;
	LEFT: auto;
}
#leftsidebar LI LI LI:hover UL {
	Z-INDEX: 1;
	LEFT: auto;
}
#leftsidebar LI.sfhover UL {
	Z-INDEX: 1;
	LEFT: auto;
}
#leftsidebar LI LI.sfhover UL {
	Z-INDEX: 1;
	LEFT: auto;
}
#leftsidebar LI LI LI.sfhover UL {
	Z-INDEX: 1;
	LEFT: auto;
}
#leftsidebar .leftsidebarQL {
	width:620px;
	padding:10px 0px;
	background-color: #FFF;
	position:absolute;
	top:-100px;
	margin-left:-10px;
	z-index:1;
	border:1px solid #CDC092;
	}
#leftsidebar .leftsidebarQL a {
	border-bottom:1px dotted #CDC092;
	margin-left:10px;
	width:190px;
	}	
#leftsidebar .leftsidebarQL p {
	margin:0px;
	}
.keySites { 
	font-size:.8em;
	letter-spacing:1px;
	font-weight:100;
	text-align:center;
	}
a.giving, a.giving:visited {
	background:url(../images/fsuimages/giving.png);
	display:block;
	width:111px;
	height:30px;
	border:none;
}
a.giving:hover {
	background:url(../images/fsuimages/givingOver.png);
	border:none;
}
a.pathways, a.pathways:visited {
	background:url(../images/fsuimages/pathways.png);
	display:block;
	width:115px;
	height:32px;
	border:none;
}
a.pathways:hover {
	background:url(../images/fsuimages/pathwaysOver.png);
}
.socialmedia {
	display:block;
	height:26px;
	width:150px;
}
a.socialmedia {
	background: url(../images/fsuimages/socialMedia.png);
}
a.socialmedia:hover {
	background: url(../images/fsuimages/socialMedia_over.png);
}

/* End menu */












@charset "UTF-8";
/* CSS Document */

html {
	background:#2B0007;
}
body {
	background: #2B0007 url(../images/fsuimages/gold1x14.gif) repeat-x;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:62.5%;
}
img {
	border:0;
}
div.content-view-full div.class-article img {
	float: right;
	display: inline;
	margin-left: 10px;
}
.accessibleText {
	display:none;
	visibility:hidden;
}
.topBar {
	height: 14px;
	width:900px;
	margin:0px auto;
	background-image:url(../images/fsuimages/goldBarBg.jpg);
}
.pageContainer {
	width:900px;
	margin:0px auto;
	padding:0px;
	background:url(../images/fsuimages/garnetBg2.gif) repeat-y center;
}
.tofContainer {
	color:#000;
	float:right;
	width:702px;
	overflow:hidden;
}
.tof {
	display:block;
	background-color:#540115;
	border:1px solid #CDC092;
	height:254px;
	margin-bottom:15px;
	width:700px;
}
a.tofMore:link, a.tofMore:hover, a.tofMore:visited, a.tofClose:link, a.tofClose:hover, a.tofClose:visited {
	float:left;
	margin:189px 0px 0px 15px;
	height:13px;
	width:49px;
	background-repeat:no-repeat;
	border:none;
}
a.tofMore {
	background-image:url(../images/fsuimages/more.gif);
}
a.tofMore:hover {
	background-image:url(../images/fsuimages/moreOver.gif);
}
a.tofClose {
	background-image:url(../images/fsuimages/close.gif);
}
a.tofClose:hover {
	background-image:url(../images/fsuimages/closeOver.gif);
}
.header {
	height:90px;
	width:900px;
	float:left;
	display:block;
	margin-top:20px;
}
.header a:link, .header a:visited {
	border:none;
}
.header img {
	float:left;
	clear:none;
}
.mainContent {
	width:677px;
	position:relative;
	float:right;
	background:url(../images/fsuimages/newsBg.png) repeat-x;
	background-color:#FFF;
}

.mainContent ul, .mainContent ol {
	margin: 0.75em 0 1em 2.5em;
}

.feature {
	width:425px;
	float:left;
	clear:none;
	padding:10px 15px 0px 15px;
	font-size:1.2em;
	line-height:1.4em;
	border-right:1px solid #CDC092;
	min-height:250px;
}
.feature ul li {
	padding-left:12px;
	background:url(../images/fsuimages/fsuBulletBlack.gif) no-repeat;
	list-style-type:none;
 }
.feature li {
	padding-bottom:.5em;
/* added 20100630 to move list items to left */
	margin-left:-30px;
	list-style-type:none;
	line-height:1.3em;
/* */
 }
.feature p {
	margin-top:1em;
	margin-bottom:1em;
}
.feature h1 {
	font-size:1.2em;
	line-height:1.1em;
	margin-top:4px;
	margin-bottom:0px;
}
.feature h2 {
	font-family:"Times New Roman", Times, serif;
	font-weight:100;
	font-style:italic;
	font-size:1.3em;
}
.insetPhoto {
	display:block;
	float:right;
	margin:10px 0px 10px 10px;
	padding:1px;
	border:1px solid #CCC;
	background-color:#FFF;
}
.insetPhotoLeft {
	display:block;
	float:left;
	margin:10px 15px 10px 0px;
	padding:1px;
	border:1px solid #CCC;
	background-color:#FFF;
}
.insetPhotoCaption {
	text-align:center;
	font-size:.8em;
	line-height:1.5em;
	color:#666;
	margin:0px;
	padding:0px 2px 2px 2px;
}
/*.bofLeftImage {
	background-image: url(../images/fsuimages/featurePhotoBg.png);
	width:140px;
	background-repeat:no-repeat;
	padding:5px 8px 5px 5px;
	position:relative;
	left:-4px;
	top:-4px;
}*/
.bofLeftImage {
	padding:1px;
	margin-bottom:10px;
	width:123px;
	height:123px;
	border:1px solid #CCC;
	background-color:#FFF;
}
.bofLeftColFloat {
	float:left;
	width:140px;
	margin:5px 0px 10px 0px;
}
.storyByline {
	color:#999;
	font-size:.9em;
	font-style:italic;
	line-height:normal;
	border-top:1px solid #999;
	padding:4px 0px 10px 0px;	
}
.news {
	float:right;
	width:222px;
	padding:10px 15px 10px 9px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.2em;
	min-height:250px;
	line-height:1.3em;
	overflow:hidden;
}

#fsubody .mainContent .newsHead {
	border:1px solid #CCC;
	margin:2px;
	background: #FFF url(../images/fsuimages/newsHeadrep.gif) repeat;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
}

#fsubody .mainContent .newsHead, #fsubody .mainContent .newsHead a {
	color: #000;
}

.news a:link, .news a:visited, .feature a:link, .feature a:visited {
	color:#540115;
	text-decoration:none;
	border-bottom:1px dotted #540115;
}
.news a:hover, .feature a:hover {
	color:#AC1A2F;
	border-bottom:solid #AC1A2F 1px;
}
.news li {
	margin-bottom: 5px;
	margin-left:-25px;
}
.news ul {
	margin-top:4px;
}
.news ul li {
	padding-left:12px;
	list-style:none;
	background: url(../images/fsuimages/fsuBulletNews.gif) no-repeat;
}
.moreNews {
	text-align:right;
	font-size:.9em;
	font-style:italic;
}


/* BEGIN INSET BOX*/
.infoBox, .relatedLinksContainer {
	width:200px;
	border-left:4px solid #CDC092;
	float:right;
	margin:0px 0px 10px 20px;
	font-size:.9em;
}
.infoBox h1, .relatedLinksHeader {
	padding:4px 0px 4px 14px;
	font-family:"Times New Roman", Times, serif;
	font-size:1.0em;
	font-weight:700;
	line-height:normal;
	color:#540115;
	text-transform:uppercase;
	letter-spacing:.1em;
}
.infoBox ul, .bofMiddleColumn .relatedLinksContainer ul, .bofMiddleColumn .infoBox ul {
	padding-bottom:1px;
	margin-bottom:4px;
	margin-top:0;
}
.infoBox li, .relatedLinksContainer li {
	font-size:1.0em;
	padding-bottom:.1em;
}
.infoBox ul li, .relatedLinksContainer ul li {
	padding-left:12px;
	background:url(../images/fsuimages/fsuBullet.gif) no-repeat;
	line-height:1.3em;
}
.infoBox p, .relatedLinksContainer p {
	padding:2px 0px 0px 14px;
}
/* END INSET BOX*/


/* non alerts box -- for use as a secondary alert */
.newsBox { display:block; width:172px; padding:1px; background-color:#FFF; text-align:center; border:1px dotted #900; font-size:.9em; font-weight:700; line-height:1.5em; margin:8px 26px; }
.newsBox:hover { background-color:#EDE9AD; border:1px dotted #000; }
.news a.newsBox, .news a.newsBox:visited { border:1px dotted #540115; color:#540115; }
.news a.newsBox:visited { border:1px dotted #540115; color:#540115; font-weight:700; }
/*.news a.newsBox:hover { color:#AC1A2F; border:1px solid #AC1A2F; }*/


.footer {
	width:900px;
	margin:0px auto;
	padding:0px;
}
.footer a {
	border-bottom:none;
}
.thread {
	width:900px;
	height:12px;
	background:url(../images/fsuimages/thread.png) repeat-x left center;
	border-top:1px solid #8B7241;
	border-bottom:1px solid #8B7241;
	margin:0px auto;
	padding:2px 0px;
}
.footerText {
	display:block;
	text-align:center;
	font-size:1.0em;
	color:#8B7241;
	margin-top:10px;
	margin-bottom:20px;
	padding-top:4px;
}
.footerText a, .footerText a:visited {
	color:#8B7241;
	text-decoration:none;
	border-bottom:1px dotted #8B7241;
}
.footerText a:hover {
	color:#CDC092;
	border-bottom:1px solid #CDC092;
}
a.bofMore:link, a.bofMore:hover, a.bofMore:visited, a.bofCloseUpper:link, a.bofCloseUpper:hover, a.bofCloseUpper:visited, a.bofCloseLower:link, a.bofCloseLower:hover, a.bofCloseLower:visited {
	display:block;
	float:left;
	margin:0px 0px 10px 0px;
	height:13px;
	width:49px;
	background-repeat:no-repeat;
	border:1px solid #CCC;
}
a.bofMore {
	background-image:url(../images/fsuimages/more.gif);
}
a.bofMore:hover {
	background-image:url(../images/fsuimages/moreOver.gif);
}
a.bofCloseUpper, a.bofCloseLower {
	background-image:url(../images/fsuimages/close.gif);
}
a.bofCloseUpper:hover, a.bofCloseLower:hover {
	background-image:url(../images/fsuimages/closeOver.gif);
}
/* Search */
.searchBar {
	float:right;
	height:42px;
	width:359px;
	margin-top:10px;
	background:url(../images/fsuimages/searchBarBg.png) no-repeat top right;
	padding:4px;
}
.headerSearchForm input:focus {
	outline:none;
}
.headerSearchForm select:focus {
	outline:none;
}
.headerSearchForm {
	width:367px;
	float:right;
	margin-top:0px;
}
.headerSearchSelect {
	display:block;
	float:left;
	width:160px;
	height:19px;
	margin-right:6px;
	margin-top:18px;
	margin-left:14px;
	padding:2px 0px 0px 0px;
	background-color:#EDE9AD;
	border:1px solid #FFF;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}
.headerSearchBox {
	display:block;
	float:left;
	width:144px;
	height:15px;
	border:1px solid #FFF;
	margin-right:0px;
	margin-top:18px;
	padding:2px 0px 0px 0px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}
.headerSubmitSearch {
	display:block;
	float:left;
	position:relative;
	margin-top:18px;
}
/* End search */

/* Alerts */
/*.alert a:link, .alert a:visited {
	background-color: #540115;
	color:#fff;
	display:block;
	text-align:center;
	font-weight:bold;
	padding: 2px;
	margin-bottom:8px;
}
.alert a:hover {
	background-color:#AC1A2F;
}

.alert { display:block; width:100%; padding:1px; background-color:#540115; text-align:center; border:1px solid #540115; line-height:normal; margin:0px auto 10px auto; text-transform:uppercase; font-weight:700; letter-spacing:.1em; }
.alert:hover { background-color:#AC1A2F; border:1px solid #AC1A2F; }
.alert a:link, .alert a:visited { color:#FFF; border:none; }
*/


.alert { display:block; width:100%; padding:1px; background-color:#AC1A2F; text-align:center; border:1px solid #AC1A2F; line-height:normal; margin:0px auto 10px auto; text-transform:uppercase; font-weight:700; letter-spacing:.1em; }
.alert:hover { background-color:#540115; border:1px solid #540115; }
.alert a:link, .alert a:visited { display:block; color:#FFF; border:none; }



.topAlert {
	background-color:#FFF;
	min-height:40px;
	width:700px;
	display:block;
	float:right;
	padding-top:20px;
	border-top:1px solid #CDC092;
	border-left:1px solid #CDC092;
	border-right:1px solid #CDC092;
}
.topAlert a, .topAlert a:visited {
	display:block;
	float:right;
	width:700px;
	margin:0px auto;
	padding-bottom:20px;
	text-align:center;
	color:#540115;
	text-decoration:none;
	border:none;
}
.topAlert a:hover {
	color:#AC1A2F;
}
.topAlert h1 {
	font-size:2.0em;
	margin:0px;
	font-weight:700;
}
.topAlert p {
	font-size:1.2em;
	margin:0px;
}



#fsubody li {
	margin: 0px;
}

#fsubody p {
	line-height: 16px;
}

body ul, body ol {
	margin: 0px;
}

body .mainContent .itemized_sub_items ul, body .mainContent .itemized_sub_items ol {
	margin: -20px 0px 0px;
}

.firstnavli {
	border-top:1px dotted #8B723F;
}

#supergraphic_container {
	overflow: hidden;
}

#fsubody div.content-view-full div.class-frontpage {
	background: transparent;
}

#fsubody div.box {
	background: transparent;
}

.mainContent  {
	min-height: 250px;
	font-size: 1.2em;
	padding: 10px 10px 10px 15px;
}

.mainContent a:hover {
	color: #AC1A2F;
	border-bottom: solid #AC1A2F 1px;
}

.mainContent  a:link, .mainContent  a:visited {
	color: #540115;
	text-decoration: none;
	border-bottom: 1px dotted #540115;
}

#fsubody div.box div.bl {
	padding: 0.5em 0.5em 0.5em 1.5em;
}

#fsubody div.itemized_sub_items h2 {
	left: -23px;
	font-weight: bold;
}

#fsubody .mainContent h1, #fsubody .mainContent h2 {
	font-size:1.2em;
	line-height:1.1em;
	margin-top:4px;
	margin-bottom:0.25em;
	color: black;
}

#fsubody .mainContent h1 a, #fsubody .mainContent h2 a {
	color: black;
}

#fsubody .mainContent h3, #fsubody .mainContent h4, #fsubody .mainContent h5, #fsubody .mainContent h6 {
	font-family:"Times New Roman", Times, serif;
	font-weight:100;
	font-style:italic;
	font-size:1.3em;
}

#fsubody .content-view-embed .event h4 {
	color: #672333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-style: normal;
}

#fsubody .content-view-embed .class-ajax-calendar li {
	list-style: none;
}

#fsubody .content-view-embed .event {
	margin-bottom: 1.5em;
}

.evbodwrap {
	display: inline-block;
	width: 110px;
}

.date-icon{
	display: inline-block;
	vertical-align: top;
    border-radius:10px;
    box-shadow:1px 2px 4px #333333;
    margin-right:12px;
    position:relative;
    text-align:center;
    width:50px !important;
    -moz-border-radius:10px;
    -moz-box-shadow:1px 2px 4px #333333;
    -webkit-border-radius:10px;
    -webkit-box-shadow:1px 2px 4px #333333;
    behavior:url(../stylesheets/pie.htc);
}
.date-icon .month{
    background-color:#BfB382;
    border-radius:10px 10px 0 0;
    font:13px HelveticaNeueBold;
    position:relative;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    behavior:url(../stylesheets/pie.htc);
}
.date-icon .date{
    background-color:#BfB382;
    border-radius:0 0 10px 10px;
    font:21px HelveticaNeueBoldExt;
    padding:2px 0 3px;
    position:relative;
    -moz-border-radius:0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    behavior:url(../stylesheets/pie.htc);
}


/* new supergraphics */

#flashcontent {
	position: relative;
}

#rotating-background-text {
	position: absolute;
	width: 276px;
	height: 260px;
	top: 0px;
	left: 0px;
	z-index: 1000;
	overflow: hidden;
}

#rotating-background-video {
	position: absolute;
	width: 404px;
	height: 279px;
	top: 0px;
	right: 0px;
	z-index: 1002;
	overflow:hidden;
}

#super-mask {
	position: absolute;
	width: 700px;
	height: 265px;
	opacity: 0;
	background: black;
	z-index: 1001;
	top: 0px;
	left: 0px;
}

#control-bar {
	position: absolute;
	width: 660px;
	height: 11px;
	bottom: 0px;
	left: 0px;
	z-index: 1003;
	padding-left: 20px;
	padding-right: 20px;
	background: #000;
	padding-top:3px;
}

#control-bar .prev {
	background: url(/design/filmdev/images/banner-control-sprite.png);
	width: 10px;
	height: 10px;
	float: left;
	background-repeat: no-repeat;
	background-position: 0px -25px;
	text-decoration: none;
	margin-right: 12px;
}

#control-bar .next {
	background: url(/design/filmdev/images/banner-control-sprite.png);
	width: 10px;
	height: 10px;
	float: left;
	background-repeat: no-repeat;
	background-position: 0px -37px;
	text-decoration: none;
}

#control-bar .play {
	background: url(/design/filmdev/images/banner-control-sprite.png);
	width: 10px;
	height: 10px;
	float: left;
	background-repeat: no-repeat;
	background-position: 0px -12px;
	text-decoration: none;
	margin-right: 12px;
}

#control-bar .prev:hover {
	background-position: -10px -25px;
}

#control-bar .next:hover {
	background-position: -10px -37px;
}


#fsubody p.flashheadline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bolder;
  color: #ffffff;
  display: block;
  line-height: 1.1;
}

#fsubody p.flashsubtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  display: block;
  line-height: 1.1;
}

#rotating-background-text img {
	padding-top: 10px;
}

#controls-multimedia {
	float: right;
}

#controls-multimedia a {
	color: #fff;
	text-decoration: none;
}